<div class="feed-back-content">
  <div class="feed-back-title">
        <img class="feed-back-title-img"/>
        <div class="feed-back-title-desc">
            <p class="desc-title">我们珍视你的每一条反馈</p>
            <p class="desc-subtitle">描述精确的问题，更易得到解答</p>
        </div>
  </div>
  <div class="feed-back-form">
    <select class="form-select">
         <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
    </select>
    <textarea rows="10" cols="30" class="form-textarea"></textarea>
    <div class="material-link">
        <p class="material-link-tip">资料链接（非必填）:</p>
        <input placeholder="请输入资料链接" class="material-link-input"/>
    </div>
    <div class="form-require">
      <div class="form-rquire-email-wrapper">
        <p class="email-require-tip">邮箱（必填）:</p>
        <input class="email-input" placeholder="请输入邮箱">
        <p class="email-tip"></p>
      </div>
       <div class="form-rquire-tel-wrapper">
        <p class="tel-require-tip">邮箱（必填）:</p>
        <input class="tel-input" placeholder="请输入邮箱">
        <p class="tel-tip"></p>
      </div>
    </div>
  </div> 
  <div class="form-btn">提交反馈</div>
</div>