<!-- 顶部信息 -->
<div class="top-bar cf">
    <div class="top-bar-left fl">
        <a href="//iask.sina.com.cn" target="_blank">爱问</a>
        <i class="line"></i>
        <a href="/" class="current">爱问共享资料</a>
        <i class="line"></i>
        <a href="//yyk.iask.sina.com.cn" target="_blank">医院库</a>
    </div>
    <div class="fr cf" style="margin-right: 90px;">
        <div class="news fl hide">
            <a href="/user/message/index?u=">
                <i class="icon icon-news"></i>
                <span id="user-msg"></span>
            </a>
        </div>
        {# <span class="top-service fl">
                <a class="user-feedback" target="_blank">意见反馈</a>
            </span> #}
    </div>
</div>