@charset "utf-8";
.personal-center-dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: #fff;
  z-index: 99999;
  border-radius: 4px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}
.personal-center-dialog .close-btn {
  display: block;
  overflow: hidden;
  background: url(../../images/icon_iShare.png) no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 15px;
  right: -32px;
  background-position: -220px -20px;
  cursor: pointer;
}
.personal-center-dialog .delete-tip-dialog {
  width: 448px;
  height: 234px;
  background: #ffffff;
  border-radius: 4px;
  text-align: center;
}
.personal-center-dialog .delete-tip-dialog .title {
  padding-top: 53px;
  font-size: 18px;
  color: #000000;
}
.personal-center-dialog .delete-tip-dialog .subtitle {
  margin-top: 20px;
  font-size: 14px;
  color: #666666;
}
.personal-center-dialog .delete-tip-dialog .dialog-btn {
  padding-top: 45px;
}
.personal-center-dialog .delete-tip-dialog .dialog-btn .confirm-btn {
  display: inline-block;
  margin-right: 10px;
  width: 120px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  background: #f25226;
  border-radius: 2px;
  cursor: pointer;
}
.personal-center-dialog .delete-tip-dialog .dialog-btn .cancel-btn {
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #F25226;
  text-align: center;
  border: 1px solid #f25226;
  border-radius: 2px;
  cursor: pointer;
}
.personal-center-dialog .identity-authentication-dialog {
  width: 430px;
  height: 308px;
  text-align: center;
}
.personal-center-dialog .identity-authentication-dialog .title {
  padding-top: 40px;
  font-size: 22px;
  color: #222222;
}
.personal-center-dialog .identity-authentication-dialog .authentication-phone {
  margin-top: 53px;
  font-size: 15px;
  text-align: left;
  color: #222222;
  text-indent: 38px;
}
.personal-center-dialog .identity-authentication-dialog .authentication-form {
  margin-top: 16px;
  height: 40px;
  line-height: 40px;
}
.personal-center-dialog .identity-authentication-dialog .authentication-form .authentication-input {
  display: inline-block;
  width: 215px;
  height: 30px;
}
.personal-center-dialog .identity-authentication-dialog .authentication-form .authentication-code {
  display: inline-block;
  margin-left: 10px;
  width: 108px;
  height: 36px;
  line-height: 36px;
  font-size: 15px;
  color: #F25226;
  border: 1px solid #f25226;
  border-radius: 3px;
  cursor: pointer;
}
.personal-center-dialog .identity-authentication-dialog .dialog-btn .authentication-btn {
  display: inline-block;
  margin-top: 18px;
  width: 350px;
  height: 42px;
  line-height: 42px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background: #f25226;
  border-radius: 3px;
  cursor: pointer;
}
.personal-center-dialog .set-change-password-dialog {
  width: 430px;
  height: 358px;
  text-align: center;
}
.personal-center-dialog .set-change-password-dialog .title {
  padding-top: 22px;
  font-size: 22px;
  color: #222222;
}
.personal-center-dialog .set-change-password-dialog .form-list .form-item {
  margin-top: 14px;
}
.personal-center-dialog .set-change-password-dialog .form-list .form-item .item-label {
  margin-right: 13px;
}
.personal-center-dialog .set-change-password-dialog .form-list .form-item input {
  display: inline-block;
  width: 293px;
  height: 40px;
  text-indent: 15px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0;
}
.personal-center-dialog .set-change-password-dialog .form-list .form-item:first-child {
  margin-top: 32px;
}
.personal-center-dialog .set-change-password-dialog .form-list .form-item:nth-child(2) .item-verificationcode {
  width: 174px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}
.personal-center-dialog .set-change-password-dialog .form-list .form-item:nth-child(2) .item-getverificationcode {
  margin-left: 10px;
  display: inline-block;
  width: 110px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #F25226;
  border: 1px solid #f25226;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
}
.personal-center-dialog .set-change-password-dialog .dialog-btn .submit-btn {
  display: inline-block;
  margin-top: 18px;
  width: 350px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  background: #f25226;
  border-radius: 3px;
  cursor: pointer;
}
.personal-center-dialog .bind-phonenumber-dialog {
  width: 430px;
  height: 323px;
  text-align: center;
}
.personal-center-dialog .bind-phonenumber-dialog .title {
  padding-top: 22px;
  font-size: 22px;
  color: #222222;
}
.personal-center-dialog .bind-phonenumber-dialog .form-list .form-item {
  margin-top: 14px;
}
.personal-center-dialog .bind-phonenumber-dialog .form-list .form-item .item-label {
  margin-right: 13px;
}
.personal-center-dialog .bind-phonenumber-dialog .form-list .form-item input {
  display: inline-block;
  width: 293px;
  height: 40px;
  text-indent: 15px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0;
}
.personal-center-dialog .bind-phonenumber-dialog .form-list .form-item:first-child {
  margin-top: 32px;
}
.personal-center-dialog .bind-phonenumber-dialog .form-list .form-item:nth-child(2) .item-verificationcode {
  width: 174px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}
.personal-center-dialog .bind-phonenumber-dialog .form-list .form-item:nth-child(2) .item-getverificationcode {
  margin-left: 10px;
  display: inline-block;
  width: 110px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #F25226;
  border: 1px solid #f25226;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
}
.personal-center-dialog .bind-phonenumber-dialog .dialog-btn {
  padding-top: 47px;
  padding-left: 54px;
}
.personal-center-dialog .bind-phonenumber-dialog .dialog-btn .confirm-btn {
  display: inline-block;
  width: 140px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  background: #f25226;
  border-radius: 2px;
  cursor: pointer;
}
.personal-center-dialog .bind-phonenumber-dialog .dialog-btn .cancel-btn {
  margin-right: 10px;
  display: inline-block;
  width: 140px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #F25226;
  text-align: center;
  border: 1px solid #f25226;
  border-radius: 2px;
  cursor: pointer;
}
.personal-center-dialog .unbind-account-dialog {
  width: 447px;
  text-align: center;
}
.personal-center-dialog .unbind-account-dialog .title {
  padding-top: 50px;
  font-size: 22px;
  color: #222222;
}
.personal-center-dialog .unbind-account-dialog .subtitle {
  margin-top: 16px;
  font-size: 15px;
  color: #666666;
}
.personal-center-dialog .unbind-account-dialog .dialog-btn {
  margin: 46px 0;
}
.personal-center-dialog .unbind-account-dialog .dialog-btn .confirm-btn {
  display: inline-block;
  margin-right: 10px;
  width: 160px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  background: #f25226;
  border-radius: 2px;
  cursor: pointer;
}
.personal-center-dialog .unbind-account-dialog .dialog-btn .cancel-btn {
  display: inline-block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #F25226;
  text-align: center;
  border: 1px solid #f25226;
  border-radius: 2px;
  cursor: pointer;
}
.personal-center-dialog .unbind-account-dialog .dialog-tip {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 13px;
  color: #767270;
  border-top: solid 1px #EFEEE9;
}
.personal-center-dialog .unbind-account-dialog .dialog-tip span {
  color: #2B739F;
  cursor: pointer;
}
.personal-center-dialog .mywallet-tip-dialog {
  width: 430px;
  text-align: center;
}
.personal-center-dialog .mywallet-tip-dialog .title {
  padding-top: 43px;
  font-size: 22px;
  color: #222;
}
.personal-center-dialog .mywallet-tip-dialog .mywallet-tip {
  padding: 20px;
}
.personal-center-dialog .mywallet-tip-dialog .mywallet-contact-information {
  padding-bottom: 40px;
}
.personal-center-dialog .thirdparty-authorization-dialog {
  width: 800px;
  height: 400px;
}
.personal-center-dialog .thirdparty-authorization-dialog iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.personal-center-dialog .withdrawal-application-dialog {
  width: 643px;
  padding: 30px 0 30px 25px;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-title .title-icon {
  display: inline-block;
  width: 4px;
  height: 17px;
  background: #F25226;
  vertical-align: middle;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-title .title-desc {
  margin-left: 5px;
  font-size: 16px;
  color: #222222;
  font-weight: bold;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-title .title-subdesc {
  margin-left: 6px;
  font-size: 12px;
  color: #9A9A9A;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from {
  margin-top: 33px;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .withdrawal-amount .withdrawal-amount-title {
  width: 80px;
  text-align: right;
  font-size: 14px;
  color: #666666;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .withdrawal-amount .withdrawal-amount-title em {
  margin-right: 2px;
  color: red;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .withdrawal-amount .amount {
  margin-left: 10px;
  display: inline-block;
  width: 110px;
  height: 34px;
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 2px;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .withdrawal-amount .full-withdrawal {
  margin-left: 9px;
  font-size: 14px;
  color: #F25226;
  cursor: pointer;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .withdrawal-amount .full-withdrawal-tip {
  font-size: 14px;
  color: #A7A7A7;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .withdrawal-amount .tax {
  display: none;
  padding-left: 85px;
  margin-top: 13px;
  color: #999999;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .withdrawal-amount .actual-receipt .tax-explanation-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../../images/personalCenter/question-mark-yellow.png") no-repeat center;
  background-size: 100%;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .withdrawal-amount .actual-receipt .tax-explanation-desc {
  margin-left: 5px;
  font-size: 14px;
  color: #F25226;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .invoice {
  margin-top: 42px;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .invoice .invoic-tip {
  display: inline-block;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .invoice .invoic-tip .invoic-tip-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../../images/personalCenter/question-mark-yellow.png") no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .invoice .invoic-tip .invoic-tip-desc {
  margin-left: 5px;
  font-size: 14px;
  color: #F25226;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .invoice .invoice-title {
  display: inline-block;
  width: 80px;
  text-align: right;
  vertical-align: top;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .invoice .invoice-title em {
  margin-right: 2px;
  color: red;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .invoice .invoice-label {
  padding-left: 80px;
  margin-top: 28px;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .invoice input {
  display: none;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .invoice .invoice-icon {
  margin-right: 5px;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../../images/personalCenter/radio-default.png") no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .invoice .invoice-radio:checked + .invoice-icon {
  background: url("../../images/personalCenter/radio-check.png") no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .invoice .upload {
  margin-top: 23px;
  display: block;
  font-size: 14px;
  color: #F25125;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .invoice .electronic-invoice {
  display: inline-block;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .invoice .paper-invoice {
  margin-left: 93px;
  display: inline-block;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .img-preview {
  margin-left: 80px;
  margin-top: 25px;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .img-preview .img {
  display: none;
  width: 120px;
  height: 75px;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .img-preview .re-upload {
  margin-top: 13px;
  display: block;
  width: 120px;
  font-size: 14px;
  color: #F25125;
  cursor: pointer;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .submit-btn {
  margin-top: 29px;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .submit-btn .confirm-btn {
  margin-left: 80px;
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #f25125;
  border-radius: 4px;
  font-size: 18px;
  color: #FFFFFF;
  cursor: pointer;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .submit-btn .cancel-btn {
  margin-left: 20px;
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #f25125;
  border-radius: 4px;
  font-size: 18px;
  color: #F25125;
  cursor: pointer;
}
.personal-center-dialog .withdrawal-application-dialog .withdrawal-application-from .withdrawal-application-dialog-tip {
  margin-left: 80px;
  margin-top: 12px;
  font-size: 12px;
  color: #999999;
}
.personal-center-dialog .send-email-dialog {
  width: 480px;
  margin-bottom: 20px;
}
.personal-center-dialog .send-email-dialog .title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
  color: #333;
  padding-top: 28px;
}
.personal-center-dialog .send-email-dialog .sub-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
  color: #333;
}
.personal-center-dialog .send-email-dialog .form-list {
  width: 340px;
  margin: 0 auto;
}
.personal-center-dialog .send-email-dialog .form-verify-tips {
  margin-bottom: 8px;
  color: #F25125;
  display: none;
  font-size: 14px;
}
.personal-center-dialog .send-email-dialog .form-ipt {
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.personal-center-dialog .send-email-dialog .tips-text {
  color: #999;
  line-height: 24px;
}
.personal-center-dialog .send-email-dialog .submit-btn {
  width: 150px;
  height: 40px;
  background-color: #ee4b28;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 30px;
  color: #fff;
  cursor: pointer;
}
.personal-center-dialog .go2FinanceAccount-dialog {
  width: 420px;
  margin-bottom: 30px;
}
.personal-center-dialog .go2FinanceAccount-dialog .title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
  color: #333;
  padding-top: 28px;
}
.personal-center-dialog .go2FinanceAccount-dialog .go2FinanceAccount-btn {
  display: block;
  width: 150px;
  height: 40px;
  background-color: #ee4b28;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 30px;
  color: #fff;
  cursor: pointer;
}
.personal-center-dialog .go2FinanceAccount-dialog .editFinanceAccount-btn {
  display: inline-block;
  width: 120px;
  height: 40px;
  background-color: #ee4b28;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 30px;
  color: #fff;
  cursor: pointer;
  margin-left: 62px;
}
