@import "../less-public/_ishare_setting";
@import "../less-public/_less_mixin";

.personal-center-dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #fff;
    z-index: 99999;
    border-radius: 4px;
    box-sizing: border-box;
    transform: translate(-50%, -50%);

    .close-btn {
        display: block;
        overflow: hidden;
        background: url(../../images/icon_iShare.png) no-repeat;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 15px;
        right: -32px;
        background-position: -220px -20px;
        cursor: pointer;
    }

    .delete-tip-dialog {
        width: 448px;
        height: 234px;
        background: rgba(255, 255, 255, 1);
        border-radius: 4px;
        text-align: center;

        .title {
            padding-top: 53px;
            font-size: 18px;
            color: #000000;
        }

        .subtitle {
            margin-top: 20px;
            font-size: 14px;
            color: #666666;
        }

        .dialog-btn {
            padding-top: 45px;

            .confirm-btn {
                display: inline-block;
                margin-right: 10px;
                width: 120px;
                height: 40px;
                line-height: 40px;
                font-size: 15px;
                color: #FFFFFF;
                text-align: center;
                background: rgba(242, 82, 38, 1);
                border-radius: 2px;
                cursor: pointer;
            }

            .cancel-btn {
                display: inline-block;
                width: 120px;
                height: 40px;
                line-height: 40px;
                font-size: 15px;
                color: #F25226;
                text-align: center;
                border: 1px solid rgba(242, 82, 38, 1);
                border-radius: 2px;
                cursor: pointer;
            }
        }
    }

    .identity-authentication-dialog {
        width: 430px;
        height: 308px;
        text-align: center;

        .title {
            padding-top: 40px;
            font-size: 22px;
            color: #222222;
        }

        .authentication-phone {
            margin-top: 53px;
            font-size: 15px;
            text-align: left;
            color: #222222;
            text-indent: 38px
        }

        .authentication-form {
            margin-top: 16px;
            height: 40px;
            line-height: 40px;

            .authentication-input {
                display: inline-block;
                width: 215px;
                height: 30px;
            }

            .authentication-code {
                display: inline-block;
                margin-left: 10px;
                width: 108px;
                height: 36px;
                line-height: 36px;
                font-size: 15px;
                color: #F25226;
                border: 1px solid #f25226;
                border-radius: 3px;
                cursor: pointer;
            }
        }

        .dialog-btn {
            .authentication-btn {
                display: inline-block;
                margin-top: 18px;
                width: 350px;
                height: 42px;
                line-height: 42px;
                font-size: 15px;
                color: #fff;
                text-align: center;
                background: rgba(242, 82, 38, 1);
                border-radius: 3px;
                cursor: pointer;
            }
        }
    }

    .set-change-password-dialog {
        width: 430px;
        height: 358px;
        text-align: center;

        .title {
            padding-top: 22px;
            font-size: 22px;
            color: #222222;
        }

        .form-list {
            .form-item {
                margin-top: 14px;

                .item-label {
                    margin-right: 13px;
                }

                input {
                    display: inline-block;
                    width: 293px;
                    height: 40px;
                    text-indent: 15px;
                    border: 1px solid rgba(225, 225, 225, 1);
                    box-sizing: border-box;
                    border-radius: 3px;
                    padding: 0;
                }
            }

            .form-item:first-child {
                margin-top: 32px;
            }

            .form-item:nth-child(2) {
                .item-verificationcode {
                    width: 174px;
                    height: 40px;
                    line-height: 40px;
                    border: 1px solid rgba(225, 225, 225, 1);
                    border-radius: 3px;
                }

                .item-getverificationcode {
                    margin-left: 10px;
                    display: inline-block;
                    width: 110px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    color: #F25226;
                    border: 1px solid rgba(242, 82, 38, 1);
                    box-sizing: border-box;
                    border-radius: 3px;
                    cursor: pointer;
                }
            }
        }

        .dialog-btn {
            .submit-btn {
                display: inline-block;
                margin-top: 18px;
                width: 350px;
                height: 42px;
                line-height: 42px;
                text-align: center;
                font-size: 15px;
                color: #fff;
                background: rgba(242, 82, 38, 1);
                border-radius: 3px;
                cursor: pointer;
            }
        }
    }

    .bind-phonenumber-dialog {
        width: 430px;
        height: 323px;
        text-align: center;

        .title {
            padding-top: 22px;
            font-size: 22px;
            color: #222222;
        }

        .form-list {
            .form-item {
                margin-top: 14px;

                .item-label {
                    margin-right: 13px;
                }

                input {
                    display: inline-block;
                    width: 293px;
                    height: 40px;
                    text-indent: 15px;
                    border: 1px solid rgba(225, 225, 225, 1);
                    box-sizing: border-box;
                    border-radius: 3px;
                    padding: 0;
                }
            }

            .form-item:first-child {
                margin-top: 32px;
            }

            .form-item:nth-child(2) {
                .item-verificationcode {
                    width: 174px;
                    height: 40px;
                    line-height: 40px;
                    border: 1px solid rgba(225, 225, 225, 1);
                    border-radius: 3px;
                }

                .item-getverificationcode {
                    margin-left: 10px;
                    display: inline-block;
                    width: 110px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    color: #F25226;
                    border: 1px solid rgba(242, 82, 38, 1);
                    box-sizing: border-box;
                    border-radius: 3px;
                    cursor: pointer;
                }
            }
        }

        .dialog-btn {
            padding-top: 47px;

            .confirm-btn {
                display: inline-block;
                width: 350px;
                height: 40px;
                line-height: 40px;
                font-size: 15px;
                color: #FFFFFF;
                text-align: center;
                background: rgba(242, 82, 38, 1);
                border-radius: 2px;
                cursor: pointer;
            }
        }
    }

    .unbind-account-dialog {
        width: 447px;
        // height: 288px;
        text-align: center;

        .title {
            padding-top: 50px;
            font-size: 22px;
            color: #222222;
        }

        .subtitle {
            margin-top: 16px;
            font-size: 15px;
            color: #666666;
        }

        .dialog-btn {
            margin: 46px 0;

            .confirm-btn {
                display: inline-block;
                margin-right: 10px;
                width: 160px;
                height: 40px;
                line-height: 40px;
                font-size: 15px;
                color: #FFFFFF;
                text-align: center;
                background: rgba(242, 82, 38, 1);
                border-radius: 2px;
                cursor: pointer;
            }

            .cancel-btn {
                display: inline-block;
                width: 160px;
                height: 40px;
                line-height: 40px;
                font-size: 15px;
                color: #F25226;
                text-align: center;
                border: 1px solid rgba(242, 82, 38, 1);
                border-radius: 2px;
                cursor: pointer;
            }
        }

        .dialog-tip {
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 13px;
            color: #767270;
            border-top: solid 1px #EFEEE9;

            span {
                color: #2B739F;
                cursor: pointer;
            }
        }
    }

    .mywallet-tip-dialog {
        width: 430px;
        text-align: center;

        .title {
            padding-top: 43px;
            font-size: 22px;
            color: #222;
        }

        .mywallet-tip {
            padding: 20px;
        }

        .mywallet-contact-information {
            padding-bottom: 40px;
        }
    }

    .thirdparty-authorization-dialog {
        width: 800px;
        height: 400px;

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    }

    .withdrawal-application-dialog {
        width: 643px;
        // height: 447px;
        padding: 30px 0 30px 25px;

        .withdrawal-application-title {
            .title-icon {
                display: inline-block;
                width: 4px;
                height: 18px;
                background: #F25226;
                vertical-align: middle;
            }

            .title-desc {
                margin-left: 5px;
                font-size: 16px;
                color: #222222;
                font-weight: bold;
            }

            .title-subdesc {
                margin-left: 5px;
                font-size: 16px;
                color: #222222;
                font-weight: bold;
                display: inline-block;
                vertical-align: middle
            }
        }

        .withdrawal-application-from {
            margin-top: 33px;

            .withdrawal-amount {


                .withdrawal-amount-title {
                    width: 80px;
                    text-align: right;
                    font-size: 14px;
                    color: #666666;

                    em {
                        margin-right: 2px;
                        color: red;
                    }
                }

                .amount {
                    margin-left: 10px;
                    display: inline-block;
                    width: 110px;
                    height: 34px;
                    line-height: 34px;
                    /* text-align: center; */
                    background: #ffffff;
                    border: 1px solid #dedede;
                    border-radius: 2px;
                    vertical-align: middle;
                    padding-left: 15px;
                }

                .full-withdrawal {
                    margin-left: 9px;
                    font-size: 14px;
                    color: #F25226;
                    cursor: pointer;
                }

                .full-withdrawal-tip {
                    font-size: 14px;
                    color: #A7A7A7;
                }

                .tax {
                    display: none;
                    padding-left: 85px;
                    margin-top: 13px;
                    color: #999999;
                }

                .withholding-tax {}

                .actual-receipt {
                    .tax-explanation-icon {
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        background: url("../../images/personalCenter/question-mark-yellow.png") no-repeat center;
                        background-size: 100%;
                        vertical-align: middle;
                    }

                    .tax-explanation-desc {
                        margin-left: 5px;
                        font-size: 14px;
                        color: #F25226;
                        vertical-align: middle;
                    }
                }
            }

            .invoice {
                margin-top: 42px;

                .invoic-tip {
                    display: inline-block;

                    .invoic-tip-icon {
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        background: url("../../images/personalCenter/question-mark-yellow.png") no-repeat center;
                        background-size: 100%;
                        vertical-align: middle;
                    }

                    .invoic-tip-desc {
                        margin-left: 5px;
                        font-size: 14px;
                        color: #F25226;
                    }
                }

                .invoice-title {
                    display: inline-block;
                    width: 80px;
                    text-align: right;
                    vertical-align: top;

                    em {
                        margin-right: 2px;
                        color: red;
                    }
                }

                .invoice-label {
                    padding-left: 80px;
                    margin-top: 28px;
                }

                input {
                    display: none;
                }

                .invoice-icon {
                    margin-right: 5px;
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    background: url("../../images/personalCenter/radio-default.png") no-repeat center;
                    background-size: 100%;
                    vertical-align: middle;
                }

                .invoice-radio:checked+.invoice-icon {
                    background: url("../../images/personalCenter/radio-check.png") no-repeat center;
                    background-size: 100%;
                    vertical-align: middle;
                }

                .upload {
                    margin-top: 23px;
                    display: block;
                    font-size: 14px;
                    color: #F25125;
                }

                .electronic-invoice {
                    // margin-left: 9px;
                    display: inline-block;


                }

                .paper-invoice {
                    margin-left: 93px;
                    display: inline-block;
                }
            }

            .img-preview {
                margin-left: 80px;
                margin-top: 25px;

                .img {
                    display: none;
                    width: 120px;
                    height: 75px;
                }

                .re-upload {
                    margin-top: 13px;
                    display: block;
                    width: 120px;
                    // text-align: center;
                    font-size: 14px;
                    color: #F25125;
                    cursor: pointer;
                }
            }

            .submit-btn {
                margin-top: 29px;

                .confirm-btn {
                    margin-left: 80px;
                    display: inline-block;
                    width: 150px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    background: rgba(242, 81, 37, 1);
                    border-radius: 4px;
                    font-size: 18px;
                    color: #FFFFFF;
                    cursor: pointer;
                }

                .cancel-btn {
                    margin-left: 20px;
                    display: inline-block;
                    width: 150px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    border: 1px solid rgba(242, 81, 37, 1);
                    border-radius: 4px;
                    font-size: 18px;
                    color: #F25125;
                    cursor: pointer;
                }
            }

            .withdrawal-application-dialog-tip {
                margin-left: 80px;
                margin-top: 12px;
                font-size: 12px;
                color: #999999;
            }
        }

    }

    .send-email-dialog {
        width: 480px;
        margin-bottom: 20px;

        .title {
            text-align: center;
            font-size: 18px;
            margin-bottom: 25px;
            color: #333;
            padding-top: 28px;
        }

        .sub-title {
            text-align: center;
            font-size: 18px;
            margin-bottom: 25px;
            color: #333;
            // padding-top: 28px;
        }

        .form-list {
            width: 340px;
            margin: 0 auto;
        }

        .form-verify-tips {
            margin-bottom: 8px;
            color: #F25125;
            display: none;
            font-size: 14px;
        }

        .form-ipt {
            width: 100%;
            height: 40px;
            border: 1px solid #ddd;
            box-sizing: border-box;
            margin-bottom: 10px;
        }

        .tips-text {
            color: #999;
            line-height: 24px;
        }


        .submit-btn {
            width: 150px;
            height: 40px;
            background-color: #ee4b28;
            text-align: center;
            line-height: 40px;
            border-radius: 4px;
            margin: 0 auto;
            margin-top: 30px;
            color: #fff;
            cursor: pointer;
        }
    }

    .go2FinanceAccount-dialog {
        width: 420px;
        margin-bottom: 30px;

        .title {
            text-align: center;
            font-size: 18px;
            margin-bottom: 25px;
            color: #333;
            padding-top: 28px;
        }

        .go2FinanceAccount-btn {
            display: block;
            width: 150px;
            height: 40px;
            background-color: #ee4b28;
            text-align: center;
            line-height: 40px;
            border-radius: 4px;
            margin: 0 auto;
            margin-top: 30px;
            color: #fff;
            cursor: pointer;
        }

        .editFinanceAccount-btn {
            display: inline-block;
            width: 120px;
            height: 40px;
            background-color: #ee4b28;
            text-align: center;
            line-height: 40px;
            border-radius: 4px;
            margin: 0 auto;
            margin-top: 30px;
            color: #fff;
            cursor: pointer;
            margin-left: 62px;
        }
    }

    .cancelAutomaticRenewal-dialog {
        width: 447px;
        text-align: center;

        .title {
            margin-top: 60px;
            padding-left: 73px;
            padding-right: 65px;
            text-align: center;

            .desc {
                display: block;
                font-size: 22px;
                color: #222222;
            }
        }

        .cancelAutomaticRenewal-btn {
            margin-top: 30px;
            margin-bottom: 60px;
            display: inline-block;
            width: 160px;
            height: 42px;
            line-height: 42px;
            text-align: center;
            border: 1px solid #999999;
            border-radius: 3px;
            cursor: pointer;
        }

        .cancelAutomaticRenewal-cancel {
            //  margin-left:73px;
            font-size: 15px;
            color: #999999;
            background: #FFFFFF;
        }

        .cancelAutomaticRenewal-confirm {
            margin-left: 10px;
            font-size: 15px;
            color: #FFFFFF;
            border: none;
            background: #F25125;
        }
    }

    .evaluation-dialog {
        width: 417px;
        padding: 30px;

        .evaluation-title {
            padding-left: 22px;
            position: relative;

            .file-title {
                width: 397px;
                .text-ellipsis();
            }
        }

        .file-rates {
            margin-top: 40px;
            text-align: center;

            .start {
                margin-right: 10px;
                display: inline-block;
                width: 35px;
                height: 34px;
                background: url(../../images/personalCenter/star-default.png) no-repeat;
                background-size: 100%;
                cursor: pointer;
                vertical-align: middle;
            }

            .start-active {
                background: url(../../images/personalCenter/star-active.png) no-repeat;
                background-size: 100%;
            }

            .start-title {
                margin-right: 20px;
                font-size: 15px;
                color: #666666;
                vertical-align: middle;
            }
        }

        .file-rates-isAppraise {
            text-align: left;

            .start-active {
                width: 21px;
                height: 21px;
                background: url(../../images/personalCenter/samll-start-active.png) no-repeat;
                background-size: 100%;
                background-size: 100%;
            }
        }

        .evaluation-tags {
            .tags-title {
                font-size: 15px;
                color: #666666;
            }

            margin-top:25px;

            .tag {
                display: inline-block;
                margin-right: 20px;
                margin-top: 25px;

                .label-input {
                    display: none;
                }

                .tag-desc {
                    display: inline-block;
                    padding: 6px 12px;
                    background: #FFFFFF;
                    border-radius: 2px;
                    cursor: pointer;
                    font-size: 13px;
                    color: #333333;
                    background: #F4F4F4;
                    border-radius: 14px;
                }

                .label-input:checked+span {
                    background: #FCE8E2;
                    color: #222222;
                }
            }
        }

        .evaluation-desc-title {
            margin-top: 30px;
            margin-bottom: 20px;
            font-size: 15px;
            color: #666666;
        }

        .evaluation-desc {
            margin-top: 40px;
            padding: 12px;
            height: 90px;
            border: solid 1px #eee;

            .desc-input {
                width: 100%;
                height: 100%;
                display: block;
                border: none;
            }
        }

        .evaluation-confirm {
            margin: 0 auto;
            margin-top: 30px;
            width: 150px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 4px;
            font-size: 15px;
            cursor: pointer;
            color: #999;
            background: #e9e8e5;
        }
    }

    // 领取优惠券弹窗
    .getcoupon-dialog {
        .coupon-dialog-wrap {

            // position: absolute;
            // border-radius: 4px;
            // top: 450px;
            // right: 60px;
            // z-index: 10;
            // border: none;
            // outline: none;
            // line-height: 1.4;
            // text-align: justify;
            // font-size: 14px;
            // word-break: break-all;
            .coupon-dialog-main {
                width: 266px;
                height: 344px;
                padding: 3px 2px;
                position: relative;
                background-image: url(../../images/personalCenter/polite-evaluation.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-clip: content-box;

                .coupon-dialog-header {
                    position: absolute;
                    display: inline-block;
                    right: 0;
                    top: -14px;
                    width: 28px;
                    height: 28px;
                    z-index: 10;

                    .coupon-dialog-close {
                        cursor: pointer;
                        visibility: visible;
                        user-select: none;
                        display: block;
                        height: 28px;
                    }
                }

                .coupon-dialog-body {
                    position: absolute;
                    width: 250px;
                    top: 215px;
                    right: 3px;

                    .coupon-dialog-content {
                        position: relative;
                        padding: 0 9px;
                        display: table;
                        word-spacing: -4px;

                        .coupon-item {
                            display: inline-block;
                            width: 110px;
                            height: 64px;
                            margin-right: 10px;
                            text-align: left;
                            padding: 12px 7px 9px;
                            box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            background-image: url(../../images/pay/coupon_content.png);
                            background-repeat: no-repeat;
                            background-position: center;
                            cursor: pointer;

                            &:nth-of-type(2) {
                                margin-right: 0;
                            }

                            .coupon-item-price {
                                color: #333;
                                font-size: 28px;
                                font-weight: 400;
                                line-height: 22px;
                            }

                            .coupon-item-text {
                                font-size: 14px;
                                font-weight: 400;
                                color: #666666;
                                line-height: 20px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }

                        .coupon-item-vip {
                            display: inline-block;
                            width: 227px;
                            height: 64px;
                            padding: 8px 7px 9px;
                            box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            background-image: url(../../images/personalCenter/coupon_vipcontent.png);
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 100%;
                            cursor: pointer;

                            .coupon-item-price {
                                font-size: 16px;
                                text-align: center;
                            }

                            .coupon-item-text {
                                margin-top: 8px;
                                text-align: center;
                            }
                        }
                    }
                }

                .coupon-dialog-footer {
                    position: absolute;
                    width: 206px;
                    height: 50px;
                    bottom: 6px;
                    left: 38px;
                    border-radius: 25px;
                    cursor: pointer;

                    .coupon-dialog-btn {
                        display: block;
                        height: 50px;
                    }
                }
            }
        }
    }
}