@charset "utf-8";
.personal-center-home .personal-summarys {
  padding-top: 49px;
  background: #ffffff;
  *zoom: 1;
}
.personal-center-home .personal-summarys:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.personal-center-home .personal-summarys .summary {
  float: left;
  text-align: center;
}
.personal-center-home .personal-summarys .summary .summary-count {
  font-size: 24px;
  color: #222222;
}
.personal-center-home .personal-summarys .summary .summary-desc {
  margin-top: 16px;
  font-size: 12px;
  color: #666666;
  position: relative;
}
.personal-center-home .personal-summarys .summary .summary-desc .summary-aibeans-desc {
  display: inline-block;
  vertical-align: middle;
}
.personal-center-home .personal-summarys .summary .summary-desc .summary-desc-icon {
  margin-left: 2px;
  margin-top: 2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background: url(../../images/personalCenter/home-attention.png) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.personal-center-home .personal-summarys .summary .summary-desc:hover .bean-info {
  display: block;
}
.personal-center-home .personal-summarys .summary .privileges {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 77px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #F25226;
  border-radius: 11px;
  font-size: 13px;
  color: #F25226;
  cursor: pointer;
}
.personal-center-home .personal-summarys .summary .occupying-effect {
  display: none;
  color: #fff;
  border: 1px solid #fff;
}
.personal-center-home .personal-summarys .summary:nth-child(1) {
  margin-left: 63px;
  margin-right: 96px;
}
.personal-center-home .personal-summarys .summary:nth-child(3) {
  margin-left: 95px;
  margin-right: 60px;
}
.personal-center-home .personal-summarys .summary:last-child {
  position: relative;
}
.personal-center-home .personal-summarys .summary:last-child .left-border {
  position: absolute;
  left: 0;
  top: -15px;
  width: 1px;
  height: 100px;
  background: #f2f3f3;
}
.personal-center-home .personal-summarys .summary:last-child .whole-station-vip {
  margin-left: 60px;
  width: 138px;
}
.personal-center-home .personal-summarys .summary:last-child .whole-station-vip .whole-station-vip-img {
  display: block;
  width: 138px;
  height: 31;
}
.personal-center-home .personal-summarys .summary:last-child .whole-station-vip .whole-station-vip-endtime {
  margin-top: 20px;
  font-size: 16px;
  color: #343434;
}
.personal-center-home .personal-summarys .summary:last-child .office-vip {
  margin-left: 50px;
}
.personal-center-home .personal-summarys .summary:last-child .office-vip .office-vip-img {
  display: block;
  width: 138px;
  height: 31;
}
.personal-center-home .personal-summarys .summary:last-child .office-vip .office-vip-endtime {
  margin-top: 20px;
  font-size: 16px;
  color: #343434;
}
.personal-center-home .advertisement {
  margin-top: 10px;
  width: 940px;
  height: 142px;
}
.personal-center-home .advertisement .personalCenter-home-swiper-container {
  margin: 0 auto;
  width: 100%;
  height: 142px;
  border-radius: 4px;
}
.personal-center-home .advertisement .personalCenter-home-swiper-container .swiper-container {
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.personal-center-home .advertisement .personalCenter-home-swiper-container .swiper-slide-img {
  width: 100%;
  height: 142px;
}
.personal-center-home .recently {
  margin-top: 10px;
  background: #ffffff;
  padding: 40px 55px 40px 40px;
}
.personal-center-home .recently .recently-see-title {
  font-size: 16px;
  color: #222222;
  font-weight: bold;
}
.personal-center-home .recently .recently-see-items {
  margin-top: 26px;
  *zoom: 1;
}
.personal-center-home .recently .recently-see-items:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.personal-center-home .recently .recently-see-items .item {
  float: left;
}
.personal-center-home .recently .recently-see-items .item .item-link {
  width: 100%;
  height: 100%;
  *zoom: 1;
}
.personal-center-home .recently .recently-see-items .item .item-link:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.personal-center-home .recently .recently-see-items .item .item-link .item-link-left {
  float: left;
  margin-right: 20px;
  position: relative;
}
.personal-center-home .recently .recently-see-items .item .item-link .item-link-left .item-link-left-img {
  width: 47px;
  height: 66px;
  border-radius: 2px;
  border: solid 1px #eee;
}
.personal-center-home .recently .recently-see-items .item .item-link .item-link-left .item-link-left-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  top: inherit;
  left: inherit;
  background-color: #fff;
}
.personal-center-home .recently .recently-see-items .item .item-link .item-link-right {
  float: right;
}
.personal-center-home .recently .recently-see-items .item .item-link .item-link-right .item-link-right-desc {
  width: 168px;
  height: 36px;
  line-height: 20px;
  overflow: hidden;
}
.personal-center-home .recently .recently-see-items .item .item-link .item-link-right .item-link-right-other {
  margin-top: 14px;
  color: #A8A8A8;
}
.personal-center-home .recently .recently-see-items .item:nth-child(2) {
  margin: 0 66px;
}
.personal-center-home .recently-downloads {
  margin-top: 10px;
}
.personal-center-home .opentvip {
  margin-top: 10px;
  text-align: center;
  padding: 45px 100px 50px 100px;
  background: #ffffff;
}
.personal-center-home .opentvip .opentvip-title {
  font-size: 16px;
  color: #222222;
  font-weight: bold;
}
.personal-center-home .opentvip .open-vip {
  margin-top: 17px;
  font-size: 14px;
  text-decoration: underline;
  color: #AA8436;
  cursor: pointer;
}
.personal-center-home .opentvip .vip-privilege-items {
  margin-top: 46px;
  *zoom: 1;
}
.personal-center-home .opentvip .vip-privilege-items:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.personal-center-home .opentvip .vip-privilege-items .item {
  float: left;
  text-align: center;
  margin-right: 74px;
  font-size: 12px;
}
.personal-center-home .opentvip .vip-privilege-items .item .item-img {
  display: inline-block;
  width: 34px;
  height: 34px;
}
.personal-center-home .opentvip .vip-privilege-items .item .item-desc {
  margin-top: 10px;
  font-size: 13px;
  color: #A17E4A;
}
.personal-center-home .opentvip .vip-privilege-items .item:last-child {
  margin-right: 0;
}
