@import "../less-public/_ishare_setting";
@import "../less-public/_less_mixin";
.personal-center-vip{
    .myvip-top{
        padding:40px 60px 0 40px;
        background: #fff;
        .myvip-title{
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: bold;
            color: #222222;
        }
        .not-vip{
            width: 858px;
            background:rgba(252,250,244,1);
            border:1px solid rgba(250, 229, 166, 1);
            border-radius:4px;
            .cf();
            .not-vip-left{
                margin-left:34px;
                margin-top:34px;
                margin-bottom: 32px;
                float: left;
                .not-vip-left-title{
                    font-size: 22px;
                    color: #D2A649;
                }
                .not-vip-top-left-subtitle{
                    margin-top:14px;
                    font-size: 14px;
                    color: #BAAD91;
                }
            }
            .not-vip-right{
                margin-right: 40px;
                margin-top: 34px;
                margin-bottom: 32px;
                float: right;
                width: 173px;
                height: 45px;
                line-height: 45px;
                text-align: center;
                font-size: 14px;
                color: #FFFFFF;
                background: #F4592D;
                border-radius: 50px;
            }
    
        }
        .vip-summary{
            width: 858px;
            background:rgba(252,250,244,1);
            border:1px solid rgba(250, 229, 166, 1);
            border-radius:4px;
            .vip-summary-title{
               margin-left:40px;
               padding-top:38px; 
               font-size: 22px;
               font-weight: bold;
            }
            .vip-summary-subtitle{
                margin-left:40px;
                padding-bottom: 43px;
                font-size:14px;
                color: #FFFFFF;
            }
        }
        .vip-privilege-items{
            margin-top:46px;
            padding-bottom: 62px;
           .cf();
           .item{
               float: left;
               text-align: center;
               margin-right: 60px;
               font-size: 12px;
               .item-img{
                 display: inline-block;
                  width: 34px;
                  height: 34px; 
               }
               .item-desc{
                   margin-top: 10px;
                   font-size: 13px;
                   color: #A17E4A;
               }
           } 
           .item:first-child{
               margin-left:30px;
           }
           .item:last-child{
               margin-right: 0;
           }  
        }
    } 
    .my-vip-middle{
        border-top: solid 10px #F2F3F3;
        border-bottom: solid 10px #F2F3F3;
        height: 141px;
        background: #fff;
    }
    .my-vip-bottom{
        padding:0px 60px 0 40px;
        .myvip-tabs{
            margin-top:10px;
            .cf();
            .tab{
                float: left;
            }
            .tab{
                margin-right:35px;
                padding-top:27px;
                padding-bottom: 7px;
            }
            // .tab:first-child{
            //     margin-left:40px;
            // }
        }
        .table{
            margin-top:30px;
            width: 100%;
            .table-head{
                th{
                    padding-bottom: 18px;
                    border-bottom: solid 1px #F4F4F4;
                }
            }
            tr{
                td{
                    padding-top:32px;
                }
            }
            tr:nth-child(2){
               td{
                padding-top:15px;
                font-size: 14px;
                color: #222222;
               }
            }
        }
        .privilege-table{
           
            .privilege-table-title{
    
            }
        }
        .vip-table{
            margin-top:50px;
           .vip-table-head{
               
           }
        }
    }
}