@charset "utf-8";
.personal-center-vip .myvip-top {
  padding: 30px 60px 0 40px;
  background: #fff;
}
.personal-center-vip .myvip-top .myvip-title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #222222;
}
.personal-center-vip .myvip-top .not-vip {
  margin-bottom: 10px;
  background: #fcfaf4;
  border: 1px solid #fae5a6;
  border-radius: 4px;
  *zoom: 1;
}
.personal-center-vip .myvip-top .not-vip:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.personal-center-vip .myvip-top .not-vip .not-vip-left {
  margin-left: 34px;
  margin-top: 34px;
  margin-bottom: 32px;
  float: left;
}
.personal-center-vip .myvip-top .not-vip .not-vip-left .not-vip-left-title {
  font-size: 22px;
  color: #D2A649;
}
.personal-center-vip .myvip-top .not-vip .not-vip-left .not-vip-left-title .my-vip-icon {
  display: inline-block;
  vertical-align: middle;
}
.personal-center-vip .myvip-top .not-vip .not-vip-left .not-vip-left-title .my-vip-icon-desc {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
.personal-center-vip .myvip-top .not-vip .not-vip-left .not-vip-top-left-subtitle {
  margin-top: 14px;
  font-size: 14px;
  color: #999999;
}
.personal-center-vip .myvip-top .not-vip .not-vip-right {
  margin-right: 40px;
  margin-top: 34px;
  margin-bottom: 32px;
  float: right;
  width: 173px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  background: #F4592D;
  border-radius: 50px;
  box-shadow: 0px 3px 7px 0px rgba(244, 46, 89, 0.35);
}
.personal-center-vip .myvip-top .not-vip .not-vip-right a {
  color: #fff;
}
.personal-center-vip .myvip-top .not-vip .not-vip-right .not-vip-right-icon {
  margin-left: 4px;
  display: inline-block;
  width: 10px;
  height: 11px;
  background: url("../../images/personalCenter/arrow.png") no-repeat center;
  background-size: 100%;
}
.personal-center-vip .myvip-top .vip-summary {
  margin-bottom: 10px;
  background: url('../../images/personalCenter/vip-bg.png') no-repeat center;
  background-size: cover;
  border: 1px solid #fae5a6;
  border-radius: 4px;
}
.personal-center-vip .myvip-top .vip-summary .vip-summary-title {
  margin-left: 40px;
  padding-top: 24px;
  font-size: 22px;
  color: #fff;
}
.personal-center-vip .myvip-top .vip-summary .vip-summary-title .vip-summary-icon {
  margin-right: 10px;
  display: inline-block;
  width: 38px;
  height: 35px;
  background: url('../../images/personalCenter/my-vip-icon.png') no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
.personal-center-vip .myvip-top .vip-summary .vip-summary-subtitle {
  margin-top: 10px;
  margin-left: 40px;
  padding-bottom: 26px;
  font-size: 14px;
  color: #FFFFFF;
}
.personal-center-vip .myvip-top .vip-summary .vip-summary-subtitle .end-date-master {
  margin-left: 20px;
}
.personal-center-vip .myvip-top .vip-summary .vip-summary-subtitle .privilege em {
  font-size: 14px;
  font-weight: 800;
}
.personal-center-vip .myvip-top .vip-privilege-items {
  margin-top: 46px;
  padding-bottom: 62px;
  *zoom: 1;
}
.personal-center-vip .myvip-top .vip-privilege-items:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.personal-center-vip .myvip-top .vip-privilege-items .item {
  float: left;
  text-align: center;
  margin-right: 90px;
  font-size: 12px;
}
.personal-center-vip .myvip-top .vip-privilege-items .item .item-img {
  display: inline-block;
  width: 34px;
  height: 34px;
}
.personal-center-vip .myvip-top .vip-privilege-items .item .item-desc {
  margin-top: 10px;
  font-size: 13px;
  color: #A17E4A;
}
.personal-center-vip .myvip-top .vip-privilege-items .item:first-child {
  margin-left: 30px;
}
.personal-center-vip .myvip-top .vip-privilege-items .item:last-child {
  margin-right: 0;
}
.personal-center-vip .my-vip-middle {
  width: 940px;
  border-top: solid 10px #fafafa;
  background: #fff;
}
.personal-center-vip .my-vip-middle .personalCenter-myvip-swiper-container {
  margin: 0 auto;
  width: 100%;
  height: 141px;
  border-radius: 4px;
  position: relative;
}
.personal-center-vip .my-vip-middle .personalCenter-myvip-swiper-container .swiper-container {
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.personal-center-vip .my-vip-middle .personalCenter-myvip-swiper-container .swiper-slide-img {
  width: 100%;
  height: 141px;
}
.personal-center-vip .my-vip-middle .personalCenter-myvip-swiper-container .close-swiper {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: url("../../images/close.png") no-repeat center;
  background-size: 100%;
  z-index: 200;
  cursor: pointer;
}
.personal-center-vip .my-vip-bottom {
  border-top: solid 10px #fafafa;
  padding: 0px 60px 0 40px;
}
.personal-center-vip .my-vip-bottom .myvip-tabs {
  margin-top: 10px;
  *zoom: 1;
}
.personal-center-vip .my-vip-bottom .myvip-tabs:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.personal-center-vip .my-vip-bottom .myvip-tabs .tab {
  float: left;
  margin-right: 35px;
  padding-top: 27px;
  padding-bottom: 7px;
  cursor: pointer;
  position: relative;
}
.personal-center-vip .my-vip-bottom .myvip-tabs .tab-active {
  border-bottom: solid 2px #F25226;
}
.personal-center-vip .my-vip-bottom .myvip-tabs .tab-active a {
  color: #222222;
  font-weight: bold;
}
.personal-center-vip .my-vip-bottom .table {
  margin-top: 30px;
  width: 100%;
}
.personal-center-vip .my-vip-bottom .table .table-head th {
  padding-bottom: 18px;
  border-bottom: solid 1px #F4F4F4;
}
.personal-center-vip .my-vip-bottom .table tr td {
  padding-top: 32px;
}
.personal-center-vip .my-vip-bottom .table tr:nth-child(2) td {
  padding-top: 15px;
  font-size: 14px;
}
.personal-center-vip .my-vip-bottom .vip-table {
  width: 100%;
  margin-top: 50px;
}
