@charset "utf-8";
.personal-center-mywallet .mywallet .mywallet-summary {
  padding: 30px 60px 0 40px;
  background: #ffffff;
}
.personal-center-mywallet .mywallet .mywallet-summary .mywallet-title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #222222;
}
.personal-center-mywallet .mywallet .mywallet-summary .mywallet-tabs {
  *zoom: 1;
}
.personal-center-mywallet .mywallet .mywallet-summary .mywallet-tabs:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.personal-center-mywallet .mywallet .mywallet-summary .mywallet-tabs .tab {
  float: left;
  margin-right: 30px;
  padding-bottom: 7px;
  cursor: pointer;
}
.personal-center-mywallet .mywallet .mywallet-summary .mywallet-tabs .tab-active {
  border-bottom: solid 2px #F25226;
}
.personal-center-mywallet .mywallet .mywallet-summary .mywallet-tabs .tab-active a {
  color: #222222;
  font-weight: bold;
}
.personal-center-mywallet .mywallet .mywallet-summary .mywallet-balance {
  margin-top: 47px;
  margin-bottom: 42px;
}
.personal-center-mywallet .mywallet .mywallet-summary .mywallet-balance .balance-title {
  display: inline-block;
  font-size: 16px;
  color: #656565;
  vertical-align: middle;
}
.personal-center-mywallet .mywallet .mywallet-summary .mywallet-balance .balance-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../../images/personalCenter/question-mark.png") no-repeat center;
  background-size: 100%;
  vertical-align: sub;
}
.personal-center-mywallet .mywallet .mywallet-summary .mywallet-balance .balance-sum {
  margin-left: 10px;
  display: inline-block;
  font-size: 30px;
  color: #212121;
  vertical-align: middle;
}
.personal-center-mywallet .mywallet .mywallet-summary .mywallet-balance .balance-unit {
  font-size: 13px;
  color: #212121;
  vertical-align: bottom;
}
.personal-center-mywallet .mywallet .mywallet-summary .mywallet-balance .balance-reflect {
  margin-left: 18px;
  display: inline-block;
  width: 72px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #f35b31;
  border: 1px solid #f35b31;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
}
.personal-center-mywallet .mywallet .mywallet-dividing-line {
  width: 100%;
  height: 10px;
  background: #F2F3F3;
}
.personal-center-mywallet .mywallet .survey-content {
  padding: 30px 60px 0 40px;
}
.personal-center-mywallet .mywallet .survey-content .survey-tip .survey-tip-icon {
  display: inline-block;
  width: 3px;
  height: 13px;
  background: #666666;
}
.personal-center-mywallet .mywallet .survey-content .survey-tip .survey-tip-desc {
  margin-left: 6px;
  font-size: 14px;
  color: #333333;
}
.personal-center-mywallet .mywallet .survey-content .survey-tip .survey-tip-subdesc {
  margin-left: 10px;
  font-size: 12px;
  color: #ADADAD;
}
.personal-center-mywallet .mywallet .survey-content .survey-content-select {
  margin-top: 14px;
}
.personal-center-mywallet .mywallet .survey-content .survey-content-select .start-time {
  font-size: 14px;
  color: #555555;
}
.personal-center-mywallet .mywallet .survey-content .survey-content-select .start-time-input {
  margin-left: 6px;
  display: inline-block;
  width: 128px;
  height: 24px;
}
.personal-center-mywallet .mywallet .survey-content .survey-content-select .end-time {
  margin-left: 20px;
  font-size: 14px;
  color: #555555;
}
.personal-center-mywallet .mywallet .survey-content .survey-content-select .end-time-input {
  margin-left: 6px;
  display: inline-block;
  width: 128px;
  height: 24px;
}
.personal-center-mywallet .mywallet .survey-content .survey-content-select .select-btn {
  margin-left: 20px;
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #f35b32;
  border-radius: 2px;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
}
.personal-center-mywallet .mywallet .survey-content .suervery-table-list {
  margin-top: 40px;
  color: #666666;
  position: relative;
}
.personal-center-mywallet .mywallet .survey-content .suervery-table-list .suervery-table-title {
  border-bottom: solid 1px #f4f4f4;
}
.personal-center-mywallet .mywallet .survey-content .suervery-table-list .suervery-table-title th {
  padding-bottom: 5px;
}
.personal-center-mywallet .mywallet .survey-content .suervery-table-list .suervery-table-item td {
  padding-top: 18px;
}
.personal-center-mywallet .mywallet .survey-content .suervery-table-list .suervery-table-item .export-details-btn {
  display: inline-block;
  width: 70px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #f25125;
  border-radius: 2px;
  font-size: 12px;
  color: #F25125;
  cursor: pointer;
}
.personal-center-mywallet .mywallet .survey-content .suervery-table-list .empty-data {
  position: absolute;
  margin-left: -158px;
}
.personal-center-mywallet .mywallet .survey-content .suervery-table-list .empty-data .go2upload {
  margin-top: 37px;
  margin-left: 44px;
  width: 206px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #f25125;
  border-radius: 4px;
  font-size: 18px;
  color: #FFFFFF;
}
.personal-center-mywallet .mywallet .mywallet-withdrawal-record {
  margin-top: 47px;
  margin-bottom: 42px;
}
.personal-center-mywallet .mywallet .mywallet-withdrawal-record .withdrawal-record-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../../images/personalCenter/question-mark-yellow.png") no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
.personal-center-mywallet .mywallet .mywallet-withdrawal-record .withdrawal-record-desc {
  margin-left: 5px;
  margin-bottom: 38px;
  font-size: 14px;
  color: #656565;
  vertical-align: middle;
}
.personal-center-mywallet .mywallet .withdrawal-record-table-list {
  margin: 30px 60px 0 40px;
  background: #ffffff;
}
.personal-center-mywallet .mywallet .withdrawal-record-table-list .withdrawal-record-table-title {
  border-bottom: solid 1px #f4f4f4;
}
.personal-center-mywallet .mywallet .withdrawal-record-table-list .withdrawal-record-table-title th {
  padding-bottom: 5px;
}
.personal-center-mywallet .mywallet .withdrawal-record-table-list .withdrawal-record-table-item td {
  padding-top: 18px;
}
