@charset "utf-8";
.personal-center-content {
  display: table;
  margin-top: 20px;
}
.personal-center-content .personal-center-menu {
  display: table-cell;
  background: #ffffff;
}
.personal-center-content .personal-center-menu .personal-profile {
  width: 240px;
  padding-top: 48px;
  text-align: center;
}
.personal-center-content .personal-center-menu .personal-profile .personal-img {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.personal-center-content .personal-center-menu .personal-profile .personal-nickname {
  margin-top: 10px;
  font-size: 16px;
  color: #222222;
  font-weight: bold;
}
.personal-center-content .personal-center-menu .personal-profile .personal-id {
  margin-top: 16px;
  margin-bottom: 52px;
  font-size: 12px;
  color: #000033;
}
.personal-center-content .personal-center-menu .personal-profile .personal-id .id {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.personal-center-content .personal-center-menu .personal-profile .personal-id .copy {
  margin-left: 8px;
  padding: 4px 10px;
  background: #ebebeb;
  border-radius: 6px;
}
.personal-center-content .personal-center-menu .personal-menu {
  width: 240px;
  margin-bottom: 190px;
}
.personal-center-content .personal-center-menu .personal-menu .menus .menus-desc {
  margin-left: 30px;
  height: 40px;
  line-height: 40px;
  color: #222222;
  font-weight: bold;
  cursor: pointer;
}
.personal-center-content .personal-center-menu .personal-menu .menus .menus-desc .menus-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.personal-center-content .personal-center-menu .personal-menu .menus .menu {
  height: 40px;
  line-height: 40px;
  margin-left: 30px;
  padding-left: 20px;
}
.personal-center-content .personal-center-menu .personal-menu .menus .menu-link {
  display: block;
  width: 100%;
  cursor: pointer;
}
.personal-center-content .content-main-left {
  width: 20px;
}
.personal-center-content .content-main {
  display: table-cell;
  width: 940px;
  vertical-align: top;
  position: relative;
}
.personal-center-content .content-main .personal-center-home .personal-summarys {
  padding: 56px 0;
  background: #ffffff;
  *zoom: 1;
}
.personal-center-content .content-main .personal-center-home .personal-summarys:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.personal-center-content .content-main .personal-center-home .personal-summarys .summary {
  float: left;
  text-align: center;
}
.personal-center-content .content-main .personal-center-home .personal-summarys .summary .summary-count {
  font-size: 24px;
  color: #222222;
}
.personal-center-content .content-main .personal-center-home .personal-summarys .summary .summary-desc {
  margin-top: 16px;
  font-size: 12px;
  color: #666666;
}
.personal-center-content .content-main .personal-center-home .personal-summarys .summary:nth-child(1) {
  margin-left: 63px;
  margin-right: 96px;
}
.personal-center-content .content-main .personal-center-home .personal-summarys .summary:nth-child(3) {
  margin-left: 95px;
  margin-right: 212px;
}
.personal-center-content .content-main .personal-center-home .personal-summarys .summary:last-child .go2vip {
  display: block;
  width: 260px;
  height: 56px;
}
.personal-center-content .content-main .personal-center-home .advertisement {
  margin-top: 10px;
  width: 100%;
  height: 142px;
}
.personal-center-content .content-main .personal-center-home .recently {
  background: #ffffff;
  padding: 40px 55px 40px 40px;
}
.personal-center-content .content-main .personal-center-home .recently .recently-see-title {
  font-size: 16px;
  color: #222222;
  font-weight: bold;
}
.personal-center-content .content-main .personal-center-home .recently .recently-see-items {
  margin-top: 26px;
  *zoom: 1;
}
.personal-center-content .content-main .personal-center-home .recently .recently-see-items:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.personal-center-content .content-main .personal-center-home .recently .recently-see-items .item {
  float: left;
}
.personal-center-content .content-main .personal-center-home .recently .recently-see-items .item .item-link {
  width: 100%;
  height: 100%;
  *zoom: 1;
}
.personal-center-content .content-main .personal-center-home .recently .recently-see-items .item .item-link:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.personal-center-content .content-main .personal-center-home .recently .recently-see-items .item .item-link .item-link-left {
  float: left;
  margin-right: 20px;
  position: relative;
}
.personal-center-content .content-main .personal-center-home .recently .recently-see-items .item .item-link .item-link-left .item-link-left-img {
  width: 47px;
  height: 66px;
}
.personal-center-content .content-main .personal-center-home .recently .recently-see-items .item .item-link .item-link-left .item-link-left-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
}
.personal-center-content .content-main .personal-center-home .recently .recently-see-items .item .item-link .item-link-right {
  float: right;
}
.personal-center-content .content-main .personal-center-home .recently .recently-see-items .item .item-link .item-link-right .item-link-right-desc {
  width: 168px;
  height: 36px;
  line-height: 20px;
  overflow: hidden;
}
.personal-center-content .content-main .personal-center-home .recently .recently-see-items .item .item-link .item-link-right .item-link-right-other {
  margin-top: 14px;
  color: #A8A8A8;
}
.personal-center-content .content-main .personal-center-home .recently .recently-see-items .item:nth-child(2) {
  margin: 0 66px;
}
.personal-center-content .content-main .personal-center-home .recently-downloads {
  margin-top: 10px;
}
.personal-center-content .content-main .personal-center-home .opentvip {
  margin-top: 10px;
  text-align: center;
  padding: 45px 100px 50px 100px;
  background: #ffffff;
}
.personal-center-content .content-main .personal-center-home .opentvip .opentvip-title {
  font-size: 16px;
  color: #222222;
  font-weight: bold;
}
.personal-center-content .content-main .personal-center-home .opentvip .open-vip {
  margin-top: 17px;
  font-size: 14px;
  text-decoration: underline;
  color: #AA8436;
}
.personal-center-content .content-main .personal-center-home .opentvip .vip-privilege-items {
  margin-top: 46px;
  *zoom: 1;
}
.personal-center-content .content-main .personal-center-home .opentvip .vip-privilege-items:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.personal-center-content .content-main .personal-center-home .opentvip .vip-privilege-items .item {
  float: left;
  text-align: center;
  margin-right: 50px;
  font-size: 12px;
}
.personal-center-content .content-main .personal-center-home .opentvip .vip-privilege-items .item .item-img {
  display: inline-block;
  width: 34px;
  height: 34px;
}
.personal-center-content .content-main .personal-center-home .opentvip .vip-privilege-items .item .item-desc {
  margin-top: 10px;
  font-size: 13px;
  color: #A17E4A;
}
.personal-center-content .content-main .personal-center-home .opentvip .vip-privilege-items .item:last-child {
  margin-right: 0;
}
.personal-center-content .content-main .mycollection-anddownLoad {
  padding: 40px 60px 0 40px;
}
.personal-center-content .content-main .mycollection-anddownLoad .title {
  margin-bottom: 40px;
}
.personal-center-content .content-main .mycollection-anddownLoad .title .title-desc {
  font-size: 16px;
  color: #222222;
  font-weight: bold;
  vertical-align: top;
}
.personal-center-content .content-main .mycollection-anddownLoad .title .file-num {
  margin-left: 5px;
  font-size: 12px;
  color: #9A9A9A;
}
.personal-center-content .content-main .mycollection-anddownLoad .table-list {
  width: 100%;
}
.personal-center-content .content-main .mycollection-anddownLoad .table-list .table-title {
  padding-bottom: 35px;
  border-bottom: solid 1px #F4F4F4;
}
.personal-center-content .content-main .mycollection-anddownLoad .table-list .table-title .file-title {
  padding-bottom: 35px;
  text-align: left;
}
.personal-center-content .content-main .mycollection-anddownLoad .table-list .table-title .action-time {
  text-align: right;
}
.personal-center-content .content-main .mycollection-anddownLoad .table-list .table-item {
  *zoom: 1;
}
.personal-center-content .content-main .mycollection-anddownLoad .table-list .table-item:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.personal-center-content .content-main .mycollection-anddownLoad .table-list .table-item .file-content {
  padding-top: 40px;
  text-align: left;
}
.personal-center-content .content-main .mycollection-anddownLoad .table-list .table-item .file-content .file-type {
  float: left;
  margin: 0 14px;
  width: 16px;
  height: 16px;
}
.personal-center-content .content-main .mycollection-anddownLoad .table-list .table-item .file-content .file-name {
  float: left;
}
.personal-center-content .content-main .mycollection-anddownLoad .table-list .table-item .operation-time {
  padding-top: 40px;
  text-align: right;
}
.personal-center-content .content-main .mycollection-anddownLoad .table-list tr:nth-child(2) .file-content {
  padding-top: 20px;
  text-align: left;
}
.personal-center-content .content-main .mycollection-anddownLoad .table-list tr:nth-child(2) .operation-time {
  padding-top: 20px;
  text-align: right;
}
.personal-center-content .content-main .myuploads {
  padding: 40px 60px 0 40px;
}
.personal-center-content .content-main .myuploads .myuploads-title {
  margin-bottom: 46px;
}
.personal-center-content .content-main .myuploads .myuploads-title .title-desc {
  font-size: 16px;
  color: #222222;
  font-weight: bold;
  vertical-align: top;
}
.personal-center-content .content-main .myuploads .myuploads-title .file-num {
  margin-left: 5px;
  font-size: 12px;
  color: #9A9A9A;
}
.personal-center-content .content-main .myuploads .myuploads-tabs {
  *zoom: 1;
}
.personal-center-content .content-main .myuploads .myuploads-tabs:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.personal-center-content .content-main .myuploads .myuploads-tabs .tab {
  float: left;
  margin-right: 30px;
  padding-bottom: 7px;
  cursor: pointer;
}
.personal-center-content .content-main .myuploads .myuploads-tabs .tab-active {
  border-bottom: solid 2px #F25226;
}
.personal-center-content .content-main .myuploads .table-title {
  margin-top: 10px;
  margin-bottom: 0px;
  height: 40px;
  line-height: 40px;
  background: #F5F5F5;
  *zoom: 1;
}
.personal-center-content .content-main .myuploads .table-title:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.personal-center-content .content-main .myuploads .table-title .table-title-input {
  display: none;
}
.personal-center-content .content-main .myuploads .table-title .delete-icon {
  margin-left: 17px;
  display: inline-block;
  width: 13px;
  height: 14px;
}
.personal-center-content .content-main .myuploads .table-title .delete-desc {
  margin-left: 6px;
  font-size: 14px;
  color: #9A9A9A;
}
.personal-center-content .content-main .myuploads .table-title .myuploads-nums {
  float: right;
  margin-right: 22px;
}
.personal-center-content .content-main .myuploads .myuploads-table-list {
  width: 100%;
}
.personal-center-content .content-main .myuploads .myuploads-table-list .myuploads-table-head th {
  padding: 23px 0 14px 0;
  border-bottom: solid 1px #F4F4F4;
}
.personal-center-content .content-main .myuploads .myuploads-table-list .table-item {
  height: 40px;
  line-height: 40px;
  *zoom: 1;
}
.personal-center-content .content-main .myuploads .myuploads-table-list .table-item:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.personal-center-content .content-main .myuploads .myuploads-table-list .table-item td {
  margin-top: 18px;
}
.personal-center-content .content-main .myuploads .myuploads-table-list .table-item td .file-title {
  font-size: 14px;
  color: #222222;
}
.personal-center-content .content-main .myuploads .myuploads-table-list .table-item-active {
  background: #f5f5f5;
  border-radius: 3px;
}
.personal-center-content .content-main .myuploads .myuploads-table-list tr:nth-child(2) td {
  margin-top: 0px;
}
.personal-center-content .content-main .myuploads .myuploads-table-list input {
  display: none;
}
.personal-center-content .content-main .myuploads .myuploads-table-list input + span {
  margin-left: 17px;
  margin-right: 12px;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  border: 1px solid #cccccc;
  border-radius: 2px;
}
.personal-center-content .content-main .myuploads .myuploads-table-list input:checked + span {
  background: url("../../images/personalCenter/checkbox-selected.png") no-repeat center;
  background-size: 100%;
}
.personal-center-content .content-main .empty-data {
  position: absolute;
  left: 50%;
  top: 226px;
  margin-left: -45px;
  text-align: center;
}
.personal-center-content .content-main .empty-data .empty-img {
  display: inline-block;
  width: 90px;
  height: 90px;
}
.personal-center-content .content-main .empty-data .empty-desc {
  margin-top: 30px;
  font-size: 16px;
  color: #444444;
}
.personal-center-content .content-main-mycollection {
  background: #ffffff;
}
