@import "../less-public/_ishare_setting";
@import "../less-public/_less_mixin";
@import "./home";
@import "./collectionAnddownLoad";
@import "./myuploads";
@import "./myvip";
@import "./myorder";
@import "./mycoupon";
@import "./accountsecurity";
@import "./personalinformation";
@import "./dialog";
.personal-center-content{
    display: table;
    margin-top:20px;
    .personal-center-menu{
       display: table-cell;
        background: #ffffff;
        .personal-profile{
            width: 240px;
            padding-top: 48px;
            text-align: center;
            .personal-img{
                display: inline-block;
                width: 80px;
                height: 80px;
            }
            .personal-nickname{
                margin-top:10px;
                font-size: 16px;
                color: #222222;
                font-weight:bold;
                .level-icon{
                    display: inline-block;
                    width: 19px;
                    height: 17px;
                    background: url("../../images/personalCenter/vip-icon.png") no-repeat center;
                    background-size: 100%;
                }
            }
            .personal-id{
                margin-top:16px;
                margin-bottom: 52px;
                font-size: 12px;
                color: #000033;
                .id{
                    width: 130px;
                    display: inline-block;
                    .text-ellipsis();
                }
                .copy{
                   margin-left: 8px;
                   padding: 4px 10px;
                   background: #ebebeb;
                   border-radius: 6px;
                   cursor: pointer;
                }
            }
        }
        .personal-menu{
            width: 240px;
            margin-bottom: 190px;
            .menus{
                box-sizing: border-box;
                .menus-desc{
                    margin-left:30px;
                    height: 40px;
                    line-height: 40px;
                    color: #222222;
                    font-weight: bold;
                    cursor: pointer;
                    .menus-icon{
                        display: inline-block;
                        margin-right: 10px;
                        // width: 16px;
                        // height: 16px;
                        vertical-align: middle;
                    }
                    .menus-text{
    
                    }
                    .menu-arrow{
                        display: inline-block;
                        margin-left: 86px;
                        width: 11px;
                        height: 6px;
                        background: url("../../images/personalCenter/menu-arrow.png") no-repeat center;
                        background-size: 100%;
                    }
                }
                .menu{
                    height: 40px;
                    line-height: 40px; 
                    padding-left:60px;
                    box-sizing: border-box;
                }
                .menu-link{
                    display: block;
                    width: 100%;
                    cursor: pointer;
                }
            }
            .home-icon{
                width: 18px;
                height: 16px;
                background: url("../../images/personalCenter/home-icon.png") no-repeat center;
                background-size:100%;
            }
            .data-icon{ // data-icon.png
                width: 14px;
                height: 17px;
                background: url("../../images/personalCenter/data-icon.png") no-repeat center;
                background-size:100%;
            }
            .myvip-icon{
               width: 16px;
               height: 14px;
               background: url("../../images/personalCenter/myvip-icon.png") no-repeat center;
               background-size:100%; 
            }
            .myaccount-icon{ // myaccount-icon.png
                width: 16px;
                height: 16px;
                background: url("../../images/personalCenter/myaccount-icon.png") no-repeat center;
                background-size:100%; 
            }
            .mywallet-icon{ // mywallet-icon.png
                width: 16px;
                height: 14px;
                background: url("../../images/personalCenter/mywallet-icon.png") no-repeat center;
                background-size:100%; 
                
            }
            .active-menus{
                position: relative;
                &::after{
                    position: absolute;
                    left:0;
                    top:0;
                    content: '';
                    width:2px;
                    height:40px;
                    background:rgba(242,81,37,1);
                }
            }
        }
    }
    .content-main-left{
        width: 20px;
    }
    .content-main{
        display: table-cell;
        width: 940px;
        vertical-align: top;
        position: relative;
        .personal-center-mycollection{
            
        }
       
        .empty-data{
            position: absolute;
            left:50%;
            top:226px;
            margin-left:-45px;
            text-align: center;
            .empty-img{
                display: inline-block;
                width: 90px;
                height: 90px;
            }
            .empty-desc{
                font-size: 16px;
                color: #444444;
            }
        }
        .mycoupon-empty-data{

        }
    }
    .content-main-mycollection{
        background: #ffffff;
    }
    .pagination-wrapper{
        margin-top:50px;
        .pagination{
            margin-left: 155px;
            .cf();
            .page-item{
                float: left;
                margin-right: 8px;
                height: 30px;
                line-height: 30px;
                padding:0 11px;
                color: #555555;
                background:rgba(255,255,255,1);
                border:1px solid rgba(230, 230, 230, 1);
                border-radius:2px;
                cursor: pointer;
            }
            .first,.prev,.next,.last{
                padding: 0 17px;
            }
            .active{
                background: #F25125;
                color: #ffffff;
                a{
                    color: #ffffff;
                }
            }
        }
    }
}





    