@charset "utf-8";
.points-mall-content {
  width: 1200px;
  margin: 0 auto;
}
.points-mall-content .points-mall-summary {
  margin-top: 30px;
  height: 220px;
  background: url("../../images/personalCenter/points-mall-banner.png") no-repeat center;
  background-size: 100%;
  border: 1px solid transparent;
}
.points-mall-content .points-mall-summary .ponits-mall-loveAskCoin {
  margin-left: 52px;
  margin-top: 26px;
  width: 353px;
  height: 166px;
  text-align: center;
  background: #fff;
  border: 1px solid transparent;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px 0px rgba(125, 101, 78, 0.3);
}
.points-mall-content .points-mall-summary .ponits-mall-loveAskCoin .ponit-mall-loveAskCoin-content {
  margin-left: 10px;
  margin-top: 10px;
  width: 333px;
  height: 148px;
  border: 1px solid #CACACA;
}
.points-mall-content .points-mall-summary .ponits-mall-loveAskCoin .ponit-mall-loveAskCoin-content .ponits-mall-title {
  margin-top: 19px;
  font-size: 14px;
  color: #666666;
}
.points-mall-content .points-mall-summary .ponits-mall-loveAskCoin .ponit-mall-loveAskCoin-content .ponit-mall-loveAskCoinnum {
  margin-top: 18px;
  font-size: 38px;
  line-height: 1;
  color: #F25125;
  font-weight: bold;
}
.points-mall-content .points-mall-summary .ponits-mall-loveAskCoin .ponit-mall-loveAskCoin-content .ponit-mall-rule {
  margin-top: 15px;
  font-size: 12px;
  color: #F25125;
}
.points-mall-content .points-mall-summary .ponits-mall-loveAskCoin .ponit-mall-loveAskCoin-content .ponit-mall-rule .ponit-mall-ruldesc {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.points-mall-content .points-mall-summary .ponits-mall-loveAskCoin .ponit-mall-loveAskCoin-content .ponit-mall-rule .ponit-mall-rulicon {
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 14px;
  background: #7C644C;
  opacity: 0.2;
}
.points-mall-content .points-mall-summary .ponits-mall-loveAskCoin .ponit-mall-loveAskCoin-content .ponit-mall-rule .point-mall-detail {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.points-mall-content .ponints-mall-newcomertask {
  margin-top: 10px;
}
.points-mall-content .ponints-mall-newcomertask .newcomertask-content {
  height: 392px;
  background: #fff;
}
.points-mall-content .ponints-mall-newcomertask .newcomertask-content .newcomertask-title {
  padding-left: 39px;
  padding-top: 30px;
  font-size: 18px;
  color: #333333;
}
.points-mall-content .ponints-mall-newcomertask .newcomertask-content .newcomertask-content-list {
  margin-top: 20px;
  width: 100%;
  height: 330px;
  overflow: hidden;
}
.points-mall-content .ponints-mall-newcomertask .newcomertask-content .newcomertask-content-list .swiper-container {
  margin-left: 40px;
  z-index: 10;
  overflow: visible;
}
.points-mall-content .ponints-mall-newcomertask .newcomertask-content .newcomertask-content-list .swiper-container .swiper-slide {
  width: 220.8px;
  height: 285px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
}
.points-mall-content .ponints-mall-newcomertask .newcomertask-content .newcomertask-content-list .swiper-container .swiper-slide .task-content {
  width: 100%;
  height: 285px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 3px 10px 0px rgba(125, 101, 78, 0.3);
  border-radius: 4px;
}
.points-mall-content .ponints-mall-newcomertask .newcomertask-content .newcomertask-content-list .swiper-container .swiper-slide .task-content .task-icon {
  margin-top: 25px;
  display: inline-block;
  width: 80px;
  height: 80px;
}
.points-mall-content .ponints-mall-newcomertask .newcomertask-content .newcomertask-content-list .swiper-container .swiper-slide .task-content .task-title {
  padding: 0 20px;
  margin-top: 15px;
  font-size: 16px;
  color: #333333;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.points-mall-content .ponints-mall-newcomertask .newcomertask-content .newcomertask-content-list .swiper-container .swiper-slide .task-content .task-subtitle {
  margin-top: 10px;
  padding: 0 20px;
  font-size: 13px;
  color: #F25125;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.points-mall-content .ponints-mall-newcomertask .newcomertask-content .newcomertask-content-list .swiper-container .swiper-slide .task-content .task-desc {
  margin-top: 24px;
  padding: 0 20px;
  font-size: 12px;
  line-height: 15px;
  height: 30px;
  color: #666666;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.points-mall-content .ponints-mall-newcomertask .newcomertask-content .newcomertask-content-list .swiper-container .swiper-slide .task-content .task-btn {
  margin-top: 16px;
  display: inline-block;
  width: 115px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
  background: #F25125;
  border-radius: 4px;
  cursor: pointer;
}
.points-mall-content .ponints-mall-newcomertask .newcomertask-content .newcomertask-content-list .swiper-container .swiper-slide:hover {
  border: 1px solid #F25125;
}
.points-mall-content .ponints-mall-newcomertask .newcomertask-content .newcomertask-content-list .swiper-container .swiper-slide:hover .task-content {
  background: #FFFAF7;
}
.points-mall-content .ponints-mall-newcomertask .newcomertask-content .newcomertask-content-list .swiper-button-prev {
  left: -38px;
  width: 36px;
  height: 36px;
  background: url("../../images/personalCenter/newcomertask-leftarrow.png") no-repeat center;
  background-size: 100%;
}
.points-mall-content .ponints-mall-newcomertask .newcomertask-content .newcomertask-content-list .swiper-button-next {
  right: 10px;
  width: 36px;
  height: 36px;
  background: url("../../images/personalCenter/newcomertask-rightarrow.png") no-repeat center;
  background-size: 100%;
}
.points-mall-content .daily-task-content {
  background: #fff;
  margin-top: 10px;
  padding-bottom: 19px;
}
.points-mall-content .daily-task-content .daily-task-title {
  padding-left: 39px;
  padding-top: 29px;
  font-size: 16px;
  color: #333333;
}
.points-mall-content .daily-task-content .daily-task-list {
  margin-left: 26px;
  margin-top: 5px;
  margin-right: 26px;
  *zoom: 1;
}
.points-mall-content .daily-task-content .daily-task-list:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.points-mall-content .daily-task-content .daily-task-list .daily-task-item {
  float: left;
  margin-top: 14px;
  margin-left: 14px;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 76px;
  width: 268px;
  height: 130px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  position: relative;
}
.points-mall-content .daily-task-content .daily-task-list .daily-task-item .daily-task-item-title {
  width: 100%;
  margin-top: 24px;
  font-size: 16px;
  line-height: 1;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.points-mall-content .daily-task-content .daily-task-list .daily-task-item .daily-task-item-subtitle {
  width: 100%;
  margin-top: 10px;
  font-size: 13px;
  color: #F25125;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.points-mall-content .daily-task-content .daily-task-list .daily-task-item .daily-task-item-desc {
  width: 100%;
  margin-top: 20px;
  font-size: 12px;
  line-height: 16px;
  height: 30px;
  line-height: 15px;
  color: #666666;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.points-mall-content .daily-task-content .daily-task-list .daily-task-item:hover {
  border: 1px solid #F25125;
  cursor: pointer;
}
.points-mall-content .daily-task-content .daily-task-list .daily-task-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 101px;
  height: 109px;
  background: url("../../images/personalCenter/daily-task-bg.png") no-repeat center;
  background-size: 100%;
}
.points-mall-content .daily-task-content .daily-task-list .daily-task-itembtn {
  position: absolute;
  right: 18px;
  bottom: 44px;
  width: 40px;
  height: 40px;
  background: url("../../images/personalCenter/daily-task-arrow.png") no-repeat center;
  background-size: 100%;
  cursor: pointer;
}
.points-mall-content .daily-task-content .load-more-task {
  margin-top: 29px;
  background: #fff;
  text-align: center;
  cursor: pointer;
}
.points-mall-content .daily-task-content .load-more-task .load-more-task-desc {
  font-size: 14px;
  color: #999999;
  vertical-align: middle;
}
.points-mall-content .daily-task-content .load-more-task .load-more-task-icon {
  margin-left: 5px;
  display: inline-block;
  width: 16px;
  height: 9px;
  background: url("../../images/personalCenter/down-arrow.png") no-repeat center;
  background-size: 100%;
}
.points-mall-content .exchange-goods-content {
  margin-top: 10px;
  padding-bottom: 30px;
  background: #fff;
}
.points-mall-content .exchange-goods-content .exchange-goods-sort {
  margin-left: 39px;
  padding-top: 19px;
  font-size: 12px;
}
.points-mall-content .exchange-goods-content .exchange-goods-sort .exchange-goods-title {
  margin-right: 39px;
  font-size: 16px;
  color: #333333;
}
.points-mall-content .exchange-goods-content .exchange-goods-sort .sort-all {
  font-size: 12px;
  color: #666666;
}
.points-mall-content .exchange-goods-content .exchange-goods-sort .sort-line {
  display: inline-block;
  margin: 0 10px;
  width: 1px;
  height: 13px;
  vertical-align: middle;
  background: #E5E5E5;
}
.points-mall-content .exchange-goods-content .exchange-goods-sort .sort-item {
  cursor: pointer;
}
.points-mall-content .exchange-goods-content .exchange-goods-sort .active {
  color: #F25125;
}
.points-mall-content .exchange-goods-content .exchange-goods-list {
  margin-left: 26px;
  margin-top: 5px;
  margin-right: 26px;
  margin-bottom: 30px;
  *zoom: 1;
}
.points-mall-content .exchange-goods-content .exchange-goods-list:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.points-mall-content .exchange-goods-content .exchange-goods-list .exchange-goods-list-item {
  float: left;
  margin-top: 14px;
  margin-left: 14px;
  margin-bottom: 0;
  padding-bottom: 19px;
  width: 270px;
  height: 270px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  border: 1px solid #E5E5E5;
}
.points-mall-content .exchange-goods-content .exchange-goods-list .exchange-goods-list-item:hover {
  border-color: #F25125;
  cursor: pointer;
  box-shadow: 0px 3px 10px 0px rgba(125, 101, 78, 0.3);
}
.points-mall-content .exchange-goods-content .exchange-goods-list .exchange-goods-list-item .item-img-wrapper {
  width: 100%;
  height: 164px;
}
.points-mall-content .exchange-goods-content .exchange-goods-list .exchange-goods-list-item .item-img-wrapper .item-img {
  display: block;
  width: 100%;
  height: 100%;
}
.points-mall-content .exchange-goods-content .exchange-goods-list .exchange-goods-list-item .item-desc {
  width: 235px;
  margin-top: 19px;
  padding-left: 15px;
  padding-right: 20px;
  font-size: 14px;
  color: #333333;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.points-mall-content .exchange-goods-content .exchange-goods-list .exchange-goods-list-item .item-loveAskCoin {
  margin-top: 19px;
  padding-left: 15px;
}
.points-mall-content .exchange-goods-content .exchange-goods-list .exchange-goods-list-item .item-loveAskCoin .loveAskCoin-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  background: url("../../images/personalCenter/love-ask-coin.png") no-repeat center;
  background-size: 100%;
}
.points-mall-content .exchange-goods-content .exchange-goods-list .exchange-goods-list-item .item-loveAskCoin .loveAskCoin-num {
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #F25125;
}
.points-mall-content .exchange-goods-content .exchange-goods-list .exchange-goods-list-item .has-exchange {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  background: #000000;
  opacity: 0.7;
  border-radius: 50%;
  position: absolute;
  left: 85px;
  top: 32px;
  cursor: pointer;
}
.points-mall-content .exchange-goods-content .pagination-wrapper {
  text-align: center;
}
.points-mall-content .exchange-goods-content .pagination-wrapper .pagination {
  margin: 0 auto;
  display: inline-block;
  *zoom: 1;
}
.points-mall-content .exchange-goods-content .pagination-wrapper .pagination:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.points-mall-content .exchange-goods-content .pagination-wrapper .pagination .page-item {
  float: left;
  margin-right: 8px;
  height: 30px;
  line-height: 30px;
  padding: 0 11px;
  color: #555555;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  cursor: pointer;
}
.points-mall-content .exchange-goods-content .pagination-wrapper .pagination .first,
.points-mall-content .exchange-goods-content .pagination-wrapper .pagination .prev,
.points-mall-content .exchange-goods-content .pagination-wrapper .pagination .next,
.points-mall-content .exchange-goods-content .pagination-wrapper .pagination .last {
  padding: 0 17px;
}
.points-mall-content .exchange-goods-content .pagination-wrapper .pagination .active {
  background: #F25125;
  color: #ffffff;
}
.points-mall-content .exchange-goods-content .pagination-wrapper .pagination .active a {
  color: #ffffff;
}
