<input type="hidden" id="ip-page-id" value="PC-O-PAY-VIP-L">
<input type="hidden" id="ip-page-name" value="支付页-VIP-套餐列表页">
<div class="pw">
    <div class="carding-vip-main">
        <div class="carding-vip-con">
            <div class="data-info-wrap">
                <p class="vip-title  {{ 'show' if query.showTips==1 else 'hide' }}" ><i class="ico-data ico-{{results.format}}"></i><span>《{{results.title|cutStr(len=20)}}》</span>为VIP专享资料，开通VIP，您可以获取此资料以及更多其他同类资料！</p>
                <p class="vip-title {{ 'show' if query.showTips==2 else 'hide' }}"><i class="ico-data ico-{{results.format}}"></i><span>《{{results.title|cutStr(len=20)}}》</span>为下载券资料，你的下载券不足，开通VIP，你可以获取此资料以及更多其他同类资料！</p>
            </div>
            <div class="js-tab">
                <ul class="pay-screen-list pay-vip-list carding-vip-list cf">
                    {% for item in results.list.data.packages %}
                    <li class="ui-tab-nav-item {% if loop.index==1 %}active{% endif %}" data-month="{{item.name}}" data-price="{{item.price}}" data-activeprice="{{item.activePrice}}" data-discountprice="{{item.discountPrice}}"  data-actids="{{item.activityId}}" data-vid="{{item.id}}">
                        <div class="pay-vip-item pay-carding-item">
                            <p class="vip-time">{{item.name}}</p>
                            <p class="vip-price">&yen; <strong>{{item.price}}</strong></p>
                            {% if item.discounts|isMoneyString %}
                                <p class="delete-text">{{item.discounts}}</p>
                            {% else %}
                                <p>{{item.discounts}}</p>
                            {% endif %}
                            <i class="icon-active"></i>
                            {% if item.tag %}
                            <i class="icon-activity" style="display: block;">{{item.tag}}</i>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}

                </ul>
                <div class="ui-tab-content">
                    {% for value in results.list.data.packages %}
                    <div class="carding-reword " style="{{ 'display:none;' if loop.index > 1 else '' }}">
                        {% for item in value.moreInfo %}
                        <div>{{item}}</div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>

            </div>
            
            <p class="price-text-con">支付金额：<strong id="activePrice" class="price">{{results.list.data.packages[0].activePrice if results.list.data.packages[0].activePrice>0 else results.list.data.packages[0].price}}</strong>元<span id="discountPrice" class="original-text" >{{( '（立省'+results.list.data.packages[0].discountPrice+'元）') if results.list.data.packages[0].discountPrice>0 else ''}}</span></p>
            <a href="javascript:;" data-page="vip" class="btn-carding-pay btn-buy-bar pc_click" bilogContent="payVip">立即支付</a>
            <a class="btn-vip-order-done hide pc_click" pcTrackContent="orderDone">下单成功</a>
            <a class="btn-vip-order-fail hide pc_click" pcTrackContent="orderFail">下单失败</a>
            <a class="btn-vip-item-selected hide pc_click">选中套餐</a>
        </div>
    </div>
</div>