.m-evaluate-popup {
  padding: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 2px;
}
.m-evaluate-popup .evaluate-close {
  position: absolute;
  top: 15px;
  right: -32px;
  display: block;
  width: 18px;
  height: 18px;
  background: url(../images/icon_iShare.png) -220px -20px no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.m-evaluate-popup .evaluate-header {
  text-align: left;
  padding: 6px 0;
  margin-bottom: 30px;
  font-size: 0;
}
.m-evaluate-popup .evaluate-header .img-icon {
  float: left;
  width: 16px;
  height: 16px;
  background-image: url(../images/new_detail/icon_new_data.png);
}
.m-evaluate-popup .evaluate-header .img-icon.doc,
.m-evaluate-popup .evaluate-header .img-icon.docx {
  background-position: 0 -20px;
}
.m-evaluate-popup .evaluate-header .img-icon.pdf {
  background-position: 0 -40px;
}
.m-evaluate-popup .evaluate-header .img-icon.ppt,
.m-evaluate-popup .evaluate-header .img-icon.pptx {
  background-position: 0 -60px;
}
.m-evaluate-popup .evaluate-header .img-icon.txt {
  background-position: 0 -80px;
}
.m-evaluate-popup .evaluate-header .img-icon.xls,
.m-evaluate-popup .evaluate-header .img-icon.xlsx {
  background-position: 0 -100px;
}
.m-evaluate-popup .evaluate-header .popup-title {
  display: block;
  height: 16px;
  text-align: left;
  line-height: 16px;
  margin-left: 26px;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.m-evaluate-popup .evaluate-body {
  font-size: 20px;
  font-weight: 400;
  color: #666666;
  line-height: 34px;
}
.m-evaluate-popup .evaluate-body .evaluate-body-item {
  padding: 10px 0;
}
.m-evaluate-popup .evaluate-body .evaluate-body-item .left-title {
  float: left;
  font-size: 15px;
  color: #666666;
  height: 21px;
  text-align: left;
  line-height: 21px;
}
.m-evaluate-popup .evaluate-body .evaluate-body-item .left-title.block {
  float: none;
}
.m-evaluate-popup .evaluate-body .evaluate-body-item .star-evaluate {
  float: left;
  height: 21px;
  margin-left: 20px;
}
.m-evaluate-popup .evaluate-body .evaluate-body-item .star-evaluate .star {
  width: 21px;
  height: 21px;
  background-image: url(../images/personalCenter/star-active.png);
}
.m-evaluate-popup .evaluate-body .evaluate-body-item .star-evaluate .star.star_1 {
  left: 0;
}
.m-evaluate-popup .evaluate-body .evaluate-body-item .star-evaluate .star.star_2 {
  left: 31px;
}
.m-evaluate-popup .evaluate-body .evaluate-body-item .star-evaluate .star.star_3 {
  left: 62px;
}
.m-evaluate-popup .evaluate-body .evaluate-body-item .star-evaluate .star.star_4 {
  left: 93px;
}
.m-evaluate-popup .evaluate-body .evaluate-body-item .star-evaluate .star.star_5 {
  left: 124px;
}
.m-evaluate-popup .evaluate-body .evaluate-body-item .label-evaluate {
  margin: 15px -10px 0;
}
.m-evaluate-popup .evaluate-body .evaluate-body-item .content-evaluate {
  margin-top: 10px;
}
.m-evaluate-popup .evaluate-body .star-evaluate {
  position: relative;
  overflow: hidden;
  width: 218px;
  height: 34px;
  margin: 0 auto;
}
.m-evaluate-popup .evaluate-body .star-evaluate .star {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 34px;
  height: 34px;
  display: block;
  cursor: pointer;
  margin-bottom: 0;
  background: url(../images/personalCenter/star-default.png) center no-repeat;
  background-size: contain;
  transition: background 0.1s;
}
.m-evaluate-popup .evaluate-body .star-evaluate .star.star_1 {
  left: 0;
}
.m-evaluate-popup .evaluate-body .star-evaluate .star.star_2 {
  left: 46px;
}
.m-evaluate-popup .evaluate-body .star-evaluate .star.star_3 {
  left: 92px;
}
.m-evaluate-popup .evaluate-body .star-evaluate .star.star_4 {
  left: 138px;
}
.m-evaluate-popup .evaluate-body .star-evaluate .star.star_5 {
  left: 184px;
}
.m-evaluate-popup .evaluate-body .star-evaluate .star.active {
  background-image: url(../images/personalCenter/star-active.png);
}
.m-evaluate-popup .evaluate-body .label-evaluate {
  position: relative;
  text-align: left;
  line-height: 44px;
  margin: 44px -10px 32px;
  font-size: 0;
}
.m-evaluate-popup .evaluate-body .label-evaluate .label-item {
  display: inline-block;
  vertical-align: top;
  height: 13px;
  line-height: 13px;
  padding: 8px 12px 7px;
  margin: 0 10px;
  font-size: 13px;
  font-weight: 400;
  color: #333;
  background-color: #F4F4F4;
  border-radius: 14px;
  cursor: pointer;
}
.m-evaluate-popup .evaluate-body .label-evaluate .label-item:hover {
  background-color: #FCE8E2;
}
.m-evaluate-popup .evaluate-body .label-evaluate .label-item.active {
  background-color: #FCE8E2;
}
.m-evaluate-popup .evaluate-body .content-evaluate {
  height: 90px;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  padding: 4px 10px;
  text-align: left;
  line-height: 24px;
  font-size: 14px;
}
.m-evaluate-popup .evaluate-body .content-evaluate .desc-content {
  width: 100%;
  height: 100%;
  border: 0 none;
  resize: none;
  outline: 0 none;
  background-color: transparent;
  color: #333;
  line-height: 22px;
}
.m-evaluate-popup .evaluate-footer {
  margin-top: 30px;
}
.m-evaluate-popup .evaluate-footer .btn {
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin: 0 10px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}
.m-evaluate-popup .evaluate-footer .btn.btn-normal {
  background-color: #f6f6f6;
  color: #333;
}
.m-evaluate-popup .evaluate-footer .btn.btn-color {
  color: #fff;
  border-color: #f25125;
  background-color: #f25125;
}
.m-evaluate-popup .evaluate-footer .btn.btn-disabled {
  cursor: not-allowed;
  color: #999;
  background-color: #e9e8e5;
  border-color: #e9e8e5;
}
.m-iaskCoin-layer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 15px 0 rgba(1, 1, 1, 0.35);
}
.m-iaskCoin-layer .close-btn {
  position: absolute;
  top: 15px;
  right: -32px;
  display: block;
  width: 18px;
  height: 18px;
  background: url(../images/icon_iShare.png) -220px -20px no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.m-iaskCoin-layer .layer-title {
  font-size: 16px;
  color: #333;
  width: 100%;
  height: 59px;
  text-align: center;
  line-height: 59px;
  background-color: #F7F7F7;
  border-radius: 4px 4px 0 0;
}
.m-iaskCoin-layer .layer-main {
  position: relative;
  margin: 16px 30px 0;
}
.m-iaskCoin-layer .table-wrapper {
  position: relative;
  width: 100%;
  height: 392px;
  overflow-y: auto;
}
.m-iaskCoin-layer .table-wrapper .table-content {
  width: 100%;
}
.m-iaskCoin-layer .table-wrapper .table-tr {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  height: 42px;
  line-height: 42px;
}
.m-iaskCoin-layer .table-wrapper .table-tr.header {
  color: #999;
  border-bottom: 1px solid #f4f4f4;
}
.m-iaskCoin-layer .table-wrapper .table-td {
  padding-left: 14px;
}
.m-iaskCoin-layer .table-wrapper .table-td.gray {
  color: #888;
}
.m-iaskCoin-layer .table-wrapper .table-td.orange {
  color: #F25125;
}
.m-iaskCoin-layer .table-wrapper .table-nodata {
  font-size: 18px;
  color: #999;
  text-align: center;
  line-height: 300px;
}
.m-iaskCoin-layer .paging-wrapper {
  padding: 20px 0 30px;
  height: 30px;
  text-align: center;
}
.m-iaskCoin-layer .pagination-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 32px;
  overflow: hidden;
}
.m-iaskCoin-layer .pagination-container .page-item {
  float: left;
  font-size: 13px;
  color: #555555;
  text-align: center;
  line-height: 13px;
  padding: 9px 12px 8px 11px;
  background-color: #fff;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
}
.m-iaskCoin-layer .pagination-container .page-item.first,
.m-iaskCoin-layer .pagination-container .page-item.prev,
.m-iaskCoin-layer .pagination-container .page-item.next .m-iaskCoin-layer .pagination-container .page-item.last {
  padding: 9px 16px 8px;
}
.m-iaskCoin-layer .pagination-container .page-item:last-child {
  margin-right: 0;
}
.m-iaskCoin-layer .pagination-container .page-item.active {
  background-color: #F25125;
  color: #fff;
}
.m-coinRule-layer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 15px 0 rgba(1, 1, 1, 0.35);
}
.m-coinRule-layer .close-btn {
  position: absolute;
  top: 15px;
  right: -32px;
  display: block;
  width: 18px;
  height: 18px;
  background: url(../images/icon_iShare.png) -220px -20px no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.m-coinRule-layer .layer-title {
  font-size: 16px;
  color: #333;
  width: 100%;
  height: 59px;
  text-align: center;
  line-height: 59px;
  background-color: #F7F7F7;
  border-radius: 4px 4px 0 0;
}
.m-coinRule-layer .layer-main {
  position: relative;
  margin: 20px 30px 0;
}
.m-coinRule-layer .question-item {
  font-size: 14px;
  color: #333;
  line-height: 24px;
}
.m-coinRule-layer .question-item + .question-item {
  margin-top: 20px;
}
.m-coinRule-layer .question-item .gray-text {
  color: #999;
}
.g-noBg-layer.layui-layer-page {
  background-color: transparent;
}
.g-noBg-layer.layui-layer-page .layui-layer-content {
  overflow: visible;
}
.m-agreement-layer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
  border-radius: 4px;
  box-shadow: 0 3px 15px 0 rgba(1, 1, 1, 0.35);
}
.m-agreement-layer .close-btn {
  position: absolute;
  top: 15px;
  right: -32px;
  display: block;
  width: 18px;
  height: 18px;
  background: url(../images/icon_iShare.png) -220px -20px no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.m-agreement-layer .layer-title {
  font-size: 20px;
  color: #333;
  width: 100%;
  height: 42px;
  text-align: center;
  padding-top: 30px;
  border-radius: 4px 4px 0 0;
}
.m-agreement-layer .layer-main {
  position: relative;
  margin: 0 20px;
}
.m-agreement-layer .layer-main .content {
  font-size: 14px;
  color: #333;
  height: 418px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}
.m-agreement-layer .layer-main .content-title2 {
  font-size: 18px;
  text-align: center;
  line-height: 36px;
  font-weight: bold;
}
.m-agreement-layer .layer-main .content-title3 {
  font-size: 16px;
  text-align: left;
  line-height: 30px;
  font-weight: bold;
}
.m-agreement-layer .layer-main .content-section {
  text-indent: 2em;
  line-height: 20px;
}
.m-agreement-layer .layer-main .content-footer {
  text-align: right;
  margin-top: 2em;
  margin-bottom: 4em;
}
.m-agreement-layer .layer-main .font-bold {
  font-weight: bold;
}
.m-agreement-layer .layer-footer {
  height: 64px;
  text-align: center;
  padding-top: 24px;
}
.m-agreement-layer .layer-footer .confirm-btn {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  width: 406px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #F25125;
  border-radius: 4px;
  cursor: pointer;
}
.m-agreement-layer .layer-footer .confirm-btn.disabled {
  background-color: #F69579;
  cursor: not-allowed;
}
.m-goodsDetail-layer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 15px 0 rgba(1, 1, 1, 0.35);
}
.m-goodsDetail-layer .ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.m-goodsDetail-layer .close-btn {
  position: absolute;
  top: 15px;
  right: -32px;
  display: block;
  width: 18px;
  height: 18px;
  background: url(../images/icon_iShare.png) -220px -20px no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.m-goodsDetail-layer .goods-img {
  width: 500px;
  height: 306px;
  padding: 15px 50px 11px;
  text-align: center;
  line-height: 306px;
  background-color: #F7F7F7;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
}
.m-goodsDetail-layer .goods-img img {
  display: inline-block;
  width: 100%;
}
.m-goodsDetail-layer .goods-info {
  position: relative;
  padding: 15px 20px;
}
.m-goodsDetail-layer .goods-name {
  font-size: 16px;
  color: #333;
  height: 24px;
  line-height: 24px;
}
.m-goodsDetail-layer .goods-handle {
  margin-top: 24px;
  height: 40px;
}
.m-goodsDetail-layer .goods-handle .price {
  display: inline-block;
  font-size: 16px;
  color: #F25125;
  padding: 9px 0;
  box-sizing: border-box;
}
.m-goodsDetail-layer .goods-handle .price .icon {
  display: block;
  width: 22px;
  height: 22px;
  background: url(../images/common/iask-coin.png) center no-repeat;
}
.m-goodsDetail-layer .goods-handle .price .num {
  display: block;
  max-width: 250px;
  height: 22px;
  line-height: 22px;
  margin-left: 6px;
}
.m-goodsDetail-layer .goods-handle .price .util {
  display: block;
  height: 22px;
  line-height: 22px;
}
.m-goodsDetail-layer .goods-handle .exchange {
  font-size: 14px;
  color: #fff;
  width: 125px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #F25125;
  border-radius: 4px;
  cursor: pointer;
}
.m-goodsDetail-layer .goods-handle .exchange.disabled {
  background-color: #F69579;
  opacity: 0.6;
  cursor: not-allowed;
}
.m-goodsDetail-layer .goods-desc {
  border-top: 1px solid #f4f4f4;
  margin: 14px 10px 0;
}
.m-goodsDetail-layer .goods-desc .title {
  margin: 10px 0 16px;
  font-size: 14px;
  color: #333;
}
.m-goodsDetail-layer .goods-desc .content {
  font-size: 14px;
  color: #666;
  line-height: 20px;
}
.m-exchangeTips-layer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 15px 0 rgba(1, 1, 1, 0.35);
}
.m-exchangeTips-layer .close-btn {
  position: absolute;
  top: 15px;
  right: -32px;
  display: block;
  width: 18px;
  height: 18px;
  background: url(../images/icon_iShare.png) -220px -20px no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.m-exchangeTips-layer .layer-main {
  font-size: 22px;
  font-weight: 400;
  color: #222222;
  line-height: 30px;
  text-align: center;
}
.m-exchangeTips-layer .layer-footer {
  height: 82px;
  text-align: center;
  padding-bottom: 40px;
  box-sizing: border-box;
}
.m-exchangeTips-layer .layer-footer .confirm-btn {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  width: 160px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  background-color: #F25125;
  border-radius: 4px;
  cursor: pointer;
}
.m-exchangeTips-layer.confirm .layer-main {
  padding: 90px 0 64px;
}
.m-exchangeTips-layer.success .layer-main {
  padding: 42px 0 34px;
}
.m-exchangeTips-layer.success .tips-icon {
  text-align: center;
}
.m-exchangeTips-layer.success .tips-icon .icon {
  display: inline-block;
  vertical-align: top;
  width: 42px;
  height: 42px;
  background: url(../images/detail/pay_ok.png) center no-repeat;
}
.m-exchangeTips-layer.success .tips-icon .text {
  display: inline-block;
  vertical-align: top;
  height: 42px;
  line-height: 42px;
}
.m-exchangeTips-layer.success .tips-txt {
  font-size: 20px;
  color: #666;
  line-height: 34px;
  text-align: center;
  margin-top: 32px;
}
.m-fileCollect-layer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 15px 0 rgba(1, 1, 1, 0.35);
}
.m-fileCollect-layer .close-btn {
  position: absolute;
  top: 15px;
  right: -32px;
  display: block;
  width: 18px;
  height: 18px;
  background: url(../images/icon_iShare.png) -220px -20px no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.m-fileCollect-layer .layer-main {
  font-size: 22px;
  font-weight: 400;
  color: #222222;
  line-height: 35px;
  text-align: center;
  padding: 60px 0 32px;
}
.m-fileCollect-layer .layer-footer {
  height: 82px;
  text-align: center;
  padding-bottom: 40px;
  box-sizing: border-box;
}
.m-fileCollect-layer .layer-footer .confirm-btn {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  width: 160px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  background-color: #F25125;
  border-radius: 4px;
  cursor: pointer;
}
.g-noBg-layer.layui-layer-page {
  background-color: transparent;
}
.g-noBg-layer.layui-layer-page .layui-layer-content {
  overflow: visible;
}
