@import "../less-public/_ishare_setting";
@import "../less-public/_less_mixin";
html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.payment{
   width: 100%;
   height: 100%;
   position: relative;
   .pay-price{
       padding-top:1.78rem;
       text-align: center;
   }
   .payment-title{
       padding-top:82px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       .payment-title-icon{
           display: block;
        //    width: 80/50rem;
        //    height: 80/50rem;
        width: 0.8rem;
        height: 0.8rem;
       } 
       .success{
           background: url("../../images/pay/pay-success.png") no-repeat center;
           background-size: 100%;
       }
       .error{
        background: url("../../images/pay/pay-fail.png") no-repeat center;
        background-size: 100%;
    }
    .payment-title-desc{
        flex:1;
        // margin-top:28/50rem;
        // font-size: 48/50rem;
        margin-top:0.28rem;
        font-size: 0.48rem;
        color: #222222;
        font-weight: bold;
    }
   } 
   .order-list{
       margin-top:0.66rem;
       display: flex;
       flex-direction: column;
       font-size: 0.3rem;
       font-weight: 500;
       padding-left:0.6rem;
       padding-right: 0.53rem;
       .list-item{
        margin-top:0.46rem;
           display: flex;
           flex:1;
           list-style: none;
           align-items: center;
           .item-title{
               display: block;
               width:1.7rem;
           }
           .item-desc{
               flex:1;
               text-align: right;
               color: #222222;
               font-weight: bold;
               .text-ellipsis();
           }
       }
       .orderTime{
           margin-top:0.96rem;
       }
   }
   .pay-confirm{
    position: absolute;
    left:50%;
    bottom: 2rem;
    transform:translate(-50%,0);
    width:6.3rem;
    height:0.9rem;
    line-height: 0.9rem;
    text-align: center;
    background:rgba(242,81,37,1);
    border-radius:0.45rem;
    font-size: 0.32rem;
    color: #FFFFFF;
   }
   
}

.hide{
    display: none;
}

@toastBg 					:rgba(0,0,0,.8);
@toastFontColor 			:#fff;
@toastFontSize 				:.14rem;
@toastRadius 				:.06rem;
.ui-toast{
	position: absolute;
	left:50%;
	top:50%;
	min-width:2rem;
	max-width:80%;
	text-align:center;
	font-size:.14rem;
	color:@toastFontColor;
	background:@toastBg;
	border-radius:@toastRadius;
	opacity:0;
    transition:all .25s ease 0s;
	transform:translate(-50%,-50%);
	z-index: 10000;
	&.show{
		opacity: 1;
	}
	&.hide{
		opacity: 0;
	}
	.icon{
		display: block;
		width: .4rem;
		height: .4rem;
		margin:.13rem auto 0 auto;
		background:#eee;
	}
	.ui-toast-text{
		display: block;
		padding:.1rem .15rem;
	}
}