<!DOCTYPE html>
<html lang="zh-CN">

    <head>
        {% include "common/head.html" %}
        <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/authentication/index.css"/>
        <style>
            .detail-search-info p {
                display: none;
            }
        </style>
    </head>

    <body class="auth-body">

        {% include "common/js.html" %}
        <!-- 搜索头部 -->
        {% include "common/websiteHeaderbar.html" %}
        <!-- 内容 -->
        <div class="auth-content">
            <div class="slogan-con">
                <h2 class="main-logan">知识创造财富</h2>
                <div class="sec-slogan">加入我们，享受更多权益 </div>
            </div>
            <div class="auth-entrance">
                <div class="org-side auth-item">
                    <div class="auth-name">机构认证</div>
                    <div class="slogan-advise">加入机构认证，立享文档收益</div>
                    <a class="join-btn"  href="/node/auth/org.html">加入机构认证</a>
                </div>
                <div class="user-side auth-item">
                    <div class="auth-name">个人认证</div>
                    <div class="slogan-advise">加入个人认证，立享文档收益</div>
                    <a class="join-btn" href="/node/auth/user.html">加入个人认证</a>
                </div>
            </div>
            <div class="slogan-private">
                <div class="slogan-con">
                    <h2 class="main-logan">认证特权</h2>
                    <div class="sec-slogan">加入我们，享受更多权益 </div>
                </div>
                <ul class="privileges-list cf">
                    <li>
                        <div class="list-item list-item-01">
                            <i class="icon-rz"></i>
                            <h3 class="list-title">搜索优先</h3>
                            <p>搜索排名始终靠前优秀文档优先推荐</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-item list-item-02">
                            <i class="icon-rz"></i>
                            <h3 class="list-title">现金回报</h3>
                            <p>上传付费文档 知识创造财富</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-item list-item-03">
                            <i class="icon-rz"></i>
                            <h3 class="list-title">专享流量</h3>
                            <p>专业作品优先展现 更多曝光用户可见</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-item list-item-04">
                            <i class="icon-rz"></i>
                            <h3 class="list-title">专属标志</h3>
                            <p>认证专属的独有标志彰显特有的尊贵特权</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="auth-process">
                <div class="rz-process">
                    <div class="pw">
                        <h2 class="rz-process-title">申请流程</h2>
                        <p class="rz-process-text">诚邀各界专业人士/机构加入我们</p>
                        <ul class="rz-process-list cf">
                            <li>
                                <div class="process-item">
                                    <p class="num">1</p>
                                    <p class="state">提交信息</p>
                                    <p>上传国家认可的资格证书或身份证明、工作证明</p>
                                </div>
                            </li>
                            <li>
                                <i class="icon-rz process-arrow"></i>
                            </li>
                            <li>
                                <div class="process-item">
                                    <p class="num">2</p>
                                    <p class="state">等待审核</p>
                                    <p>我们会快速审核，并及时通知</p>
                                </div>
                            </li>
                            <li>
                                <i class="icon-rz process-arrow"></i>
                            </li>
                            <li>
                                <div class="process-item">
                                    <p class="num">3</p>
                                    <p class="state">认证成功</p>
                                    <p>上传高质量的付费资料，享受现金收益</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部声明 -->
        {% include "common/footer.html" %}
        <script type="text/javascript">
            window.pageConfig = {
                report: {}
            };
            seajs.use(["dist/application/app.js", "dist/authentication/index.js"]);
        </script>

    </body>

</html>