<!DOCTYPE html>
<html lang="zh-CN">

    <head>
        {% include "common/head.html" %}
        <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/authentication/user.css"/>
    </head>

    <body class="auth-body">
        <input type="hidden" id="ip-page-id" value="PC-M-GRRZ">
        <input type="hidden" id="ip-page-name" value="个人认证页">
        {% include "common/js.html" %}
        <!-- 搜索头部 -->
        {% include "common/websiteHeaderbar.html" %}
        <!-- 内容 -->
        <div class="org-auth">
            <div class="authentication-header">
                <div class="pw pw-v">
                    <h2 class="header-title">你正在进行个人认证</h2>
                    <div class="header-process cf">
                        <div class="process-item step-now fl">
                            <span class="step-num">1</span>
                            <span class="step-text">填写信息</span>
                        </div>
                        <div class="step-line"></div>
                        <div class="process-item  fl">
                            <span class="step-num">2</span>
                            <span class="step-text">等待审核</span>
                        </div>
                        <div class="step-line"></div>
                        <div class="process-item  fl">
                            <span class="step-num">3</span>
                            <span class="step-text">认证成功</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pw mt30">
                <div class="rz-main">
                    <div class="tip">
                        <span class="tip-link-icon"></span>
                        <a class="tip-link" target="_blank" href="https://iask.sina.com.cn/helpCenter/5f993234474e3174ad587727.html">不得不看的认证指南</a>
                        <span class="tip-desc">注：每个用户最多只可申请3次认证 </span></div>
                    <form id="info-form">
                        <div class="rz-main-item">
                            <h2 class="rz-main-item-title">
                                <i class="b"></i>基本信息</h2>
                            <!-- <dl class="rz-main-dl cf">
                            <dt class="rz-main-dt">用户昵称：</dt>
                            <dt class="rz-main-dd js-count"></dt>
                        </dl> -->
                            <!-- <dl class="rz-main-dl cf">
                            <dt class="rz-main-dt">爱问昵称：</dt>
                            <dd class="rz-main-dd">
                                <div class="rz-input-con">
                                    <input type="text" name="nickName" class="rz-input-text js-nickName" placeholder="不可超过10个汉字" maxlength="30">
                                </div>
                                <span class="gray-text">由4-30个字符、支持中英文、数字、”_“或减号</span>
                            </dd>
                        </dl> -->
                            <dl class="rz-main-dl cf">
                                <dt class="rz-main-dt">
                                    <span class="import">*</span>账号昵称：</dt>
                                <dd class="rz-main-dd" style="margin-bottom:24px;">
                                    <div class="rz-input-con">
                                        <input type="text" name="nickName" class="rz-input-text js-nickName" placeholder="不可超过10个汉字" maxlength="30">
                                    </div>
                                    <div class="rz-input-label">
                                        <span class="label-icon">
                                            <img src="{{cdnUrl}}/images/auth/question.png"
                                          aval="question.jpg" style="max-width:18px;max-height:18px;"/>
                                        </span>
                                        <span class="label-link">
                                            <a href="https://iask.sina.com.cn/helpCenter/5f855bf7474e313663bbc9a7.html" target="_blank">查看昵称规范></a>
                                        </span>
                                    </div>
                                    <span class="rz-input-info">请填写向外展示的创作者昵称，谨慎填写，不可修改</span>
                                </dd>
                            </dl>

                            <dl class="rz-main-dl cf">
                                <dt class="rz-main-dt">
                                    <span class="import">*</span>真实姓名：</dt>
                                <dd class="rz-main-dd">
                                    <div class="rz-input-con">
                                        <input type="text" name="realName"   class="rz-input-text js-realName"  placeholder="与身份证姓名一致">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="rz-main-dl cf">
                                <dt class="rz-main-dt">
                                    <span class="import">*</span>认证类型：</dt>
                                <dd class="rz-main-dd">
                                    <div class="jqtransform jqtransformdone">
                                        <div class="jqTransformSelectWrapper" style="z-index: 10; width: 228px;">
                                            <div class="js-select">
                                                <span style="width: 206px;" class="js-authType" authtype="0">中小学教师</span>
                                                <a href="javascript:;" class="jqTransformSelectOpen"></a>
                                            </div>
                                            <ul style="width: 228px; display: none;" class="js-authTypeList">
                                                <li>
                                                    <a href="javascript:;" index="0" class="selected">中小学教师</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" index="1">大学或高职教师</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" index="2">网络营销</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" index="3">IT/互联网</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" index="4">医学</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" index="5">建筑工程</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" index="6">金融/证券</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" index="7">汽车/机械/制造</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" index="8">其他</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" index="9">设计师</a>
                                                </li>
                                            </ul>
                                            <!-- <select name="authType" value="" class="jqTransformHidden" style="">
                                        <option value="0" selected="">中小学教师</option><option value="1">大学或高职教师</option><option value="2">网络营销</option><option value="3">IT/互联网</option><option value="4">医学</option><option value="5">建筑工程</option><option value="6">金融/证券</option><option value="7">汽车/机械/制造</option><option value="9">设计师</option><option value="8">其他</option>
                                    </select> -->
                                        </div>
                                    </div>
                                    <!-- <span class="gray-text">认证设计师成功后可上传 <a class="sale-link" href="https://iask.sina.com.cn/helpCenter/5d2837610cf2b0a59eac33a3.html" target="_blank">优享资料</a></span> -->
                                </dd>
                            </dl>
                            <dl class="rz-main-dl cf">
                                <dt class="rz-main-dt">
                                    <span class="import">*</span>身份证号码：</dt>
                                <dd class="rz-main-dd">
                                    <div class="rz-input-con">
                                        <input type="text" name="idCardNo"  class="rz-input-text js-idCardNo" value="{%if results.isEdit and results.isEdit !=3 %}{{results.idCardNo}}{%endif%}" placeholder="请输入身份证号码">
                                    </div>
                                </dd>
                            </dl>
                            <div class="rz-upload-con cf">
                                <div class="rz-upload-left">
                                    <dl class="rz-main-dl cf">
                                        <dt class="rz-main-dt">
                                            <span class="import">*</span>身份证正面照片：</dt>
                                        <dd class="rz-main-dd">
                                            <a class="btn-rz-upload fl" id="js-id-front" >
                                                <div class="plus-icon">+</div>
                                                <div class="upload-des">上传图片</div>
                                                <!-- <input type="file" class="rz-file"><input type="hidden" value="" name="idCardFrontPic"> -->
                                            </a>
                                            <div class="rz-upload-pic fl js-idCardFrontPic">
                                                <span class="delete-ele hide"  title="删除"></span>
                                                <img src="{{cdnUrl}}/images/auth/pic_sfz_z.jpg" aval="pic_sfz_z.jpg" style="max-height: 200px;max-height: 200px;">
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl class="rz-main-dl cf">
                                        <dt class="rz-main-dt">
                                            <span class="import">*</span>身份证反面照片：</dt>
                                        <dd class="rz-main-dd">
                                            <a class="btn-rz-upload fl" id="js-id-back" >
                                                <div class="plus-icon">+</div>
                                                <div class="upload-des">上传图片</div>
                                                <!-- <input type="file" class="rz-file">
                                            <input type="hidden" value="" name="idCardBackPic"> -->
                                            </a>
                                            <div class="rz-upload-pic fl js-idCardBackPic">
                                                <span class="delete-ele hide" title="删除"></span>
                                                <img src="{{cdnUrl}}/images/auth/pic_sfz_f.jpg" aval="pic_sfz_f.jpg" style="max-height: 200px;max-height: 200px;">
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl class="rz-main-dl cf">
                                        <dt class="rz-main-dt">
                                            <span class="import">*</span>手持身份证照片：</dt>
                                        <dd class="rz-main-dd">
                                            <a class="btn-rz-upload fl" id="js-id-hand">
                                                <div class="plus-icon">+</div>
                                                <div class="upload-des">上传图片</div>
                                                <!-- <input type="file" class="rz-file"><input type="hidden" value="" name="handFrontIdCardPic"> -->
                                            </a>
                                            <div class="rz-upload-pic fl js-handFrontIdCardPic">
                                                <span class="delete-ele hide" title="删除"></span>
                                                <img src="{{cdnUrl}}/images/auth/pic_sfz_z.jpg" aval="pic_sfz_z.jpg" style="max-height: 200px;max-height: 200px;">
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="rz-info-text">
                                    <p>1.请上传身份证正反面扫描件或清晰照片</p>
                                    <p>2.手持身份证照片需露出手臂并确保身份证上的信息清晰可见，请查看
                                    <a class="pic-ele">
                                            <span class="pic-ele-txt">照片示例</span>
                                            <span class="pic-show">
                                                <em class="before"></em>
                                                <em class="after"></em>
                                                <img src="{{cdnUrl}}/images/auth/pic_show.jpg">
                                            </span>
                                        </a>
                                    </p>
                                    <p>3. 照片要求格式为JPG/JPEG/GIF/PNG，大小不要超过3M</p>
                                    <p>4. 请确保您上传的所有证件在有效期内</p>
                                    <p class="careful">注：您的证件信息不会被其他网友看到，我们将严格保密，请放心上传</p>
                                </div>
                            </div>
                        </div>

                        <div class="rz-main-item">
                            <h2 class="rz-main-item-title">
                                <i class="b"></i>专业信息</h2>
                            <div class="rz-upload-con cf">
                                <div class="rz-upload-left">
                                    <dl class="rz-main-dl cf">
                                        <dt class="rz-main-dt">
                                            <span class="import">*</span>证件材料：</dt>
                                        <dd class="rz-main-dd">
                                            <a class="btn-rz-upload fl" id="js-cer" >
                                                <div class="plus-icon">+</div>
                                                <div class="upload-des">上传图片</div>
                                                <!-- <input type="file" class="rz-file">
                                            <input type="hidden" value="" name="credentialsPic"> -->
                                            </a>
                                            <div class="rz-upload-pic fl js-credentialsPic">
                                                <span class="delete-ele hide" title="删除"></span>
                                                <img src="{{cdnUrl}}/images/auth/pic_zj.jpg" aval="pic_zj.jpg" style="max-height: 200px;max-height: 200px;">
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="rz-info-text">
                                    <p>1.请上传可证明您行家身份的材料照片，如：</p>
                                    <p>1）职业资格证明，点击<a href="https://iask.sina.com.cn/helpCenter/5a70754a0cf2cef34f6e5576.html" target="_blank">查看详情</a>
                                    </p>
                                    <p>2）名片/工卡/单位在职证明</p>
                                    <p>2.照片要求格式为JPG/JPEG/GIF/PNG，大小不要超过3M</p>
                                    <p>3. 请确保您上传的所有证件在有效期内</p>
                                    <p class="careful">注：您的证件信息不会被其他网友看到，我们将严格保密，请放心上传</p>
                                </div>
                            </div>
                            <dl class="rz-main-dl cf">
                                <dt class="rz-main-dt">
                                    <span class="import">*</span>认证称谓：</dt>
                                <dd class="rz-main-dd">
                                    <div class="rz-input-con">
                                        <input type="text" name="authAppellation"  class="rz-input-text js-authAppellation"  placeholder="如中级会计师">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="rz-main-dl cf">
                                <dt class="rz-main-dt">工作单位：</dt>
                                <dd class="rz-main-dd">
                                    <div class="rz-input-con">
                                        <input type="text" name="workUnit"  class="rz-input-text js-workUnit"  placeholder="如海南爱问众创科技有限公司">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="rz-main-dl cf">
                                <dt class="rz-main-dt">个人简介：</dt>
                                <dd class="rz-main-dd">
                                    <div class="rz-input-con">
                                        <input type="text"  name="personProfile" placeholder="请输入简介"  class="rz-input-text js-personProfile">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="rz-main-dl cf">
                                <dt class="rz-main-dt">个人微博：</dt>
                                <dd class="rz-main-dd">
                                    <div class="rz-input-con">
                                        <input type="text" name="personWeibo"  placeholder="请输入微博地址"    class="rz-input-text js-personWeibo">
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="rz-main-item">
                            <h2 class="rz-main-item-title">
                                <i class="b"></i>联系方式<span class="text">以下信息仅用于跟您联系时使用，我们不会泄露您的个人信息</span></h2>
                            <dl class="rz-main-dl cf">
                                <dt class="rz-main-dt">
                                    <span class="import">*</span>QQ：</dt>
                                <dd class="rz-main-dd">
                                    <div class="rz-input-con">
                                        <input type="text" name="qqNumber"  placeholder="请输入QQ号" class="rz-input-text js-qqNumber">
                                    </div>
                                </dd>
                            </dl>

                            <dl class="rz-main-dl cf">
                                <dt class="rz-main-dt">
                                    <span class="import">*</span>电子邮箱：</dt>
                                <dd class="rz-main-dd">
                                    <div class="rz-input-con">
                                        <input type="text" name="email"  placeholder="请输入邮箱地址" class="rz-input-text js-email">
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="rz-main-item rz-main-validate">
                            <h2 class="rz-main-item-title">
                                <i class="b"></i>验证手机号
                          <span class="text">手机号不可用? <a href="/node/personalCenter/accountsecurity.html?type=accountsecurity" target="_blank">去修改手机号 ></a></span></h2>
                            <dl class="rz-main-dl cf">
                                <dt class="rz-main-dt">
                                    <span class="import">*</span>手机号码：</dt>
                                <dd class="rz-main-dd js-phone">
                                    <!-- <div class="rz-input-con "></div>
                                 <a class="btn-validate">验证手机</a> -->
                                </dd>
                            </dl>
                            <dl class="rz-main-dl cf">
                                <dt class="rz-main-dt">
                                    <span class="import">*</span>验证码：</dt>
                                <dd class="rz-main-dd">
                                    <div class="rz-input-con validate-input">
                                        <input type="tel" autocomplete="off" maxlength="6"  class="rz-input-text js-msg-val" placeholder="请输入短信验证码">
                                    </div>
                                    <a class="ver-btn js-msg">获取验证码</a>
                                </dd>
                            </dl>

                        </div>
                        <div class="btn-rz-con js-edit">
                            <a class="btn-rz-send js-submit">提交审核</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 底部声明 -->
        {% include "common/footer.html" %}
        <div id="authentication-box"></div>
        <!--天御图形验证码 -->
        {# <script type="text/javascript" src="https://ssl.captcha.qq.com/TCaptcha.js"></script> #}
        <script>
            window.pageConfig = {
                report: {},
                params: {
                    status: "{{results.isEdit}}"
                }
            };
            seajs.use(["dist/application/app.js", "dist/authentication/user.js"]);
        </script>

    </body>

</html>
