<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>收银台</title>
    <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/pay/ishare_pay.css"/>
</head>
<body>

    {% if results.list.data.payType == 'alipay'%}
        {{form}}
        <div class="pay-success-main">
            <h2 class="success-title v-middle">恭喜你</h2>
            {% if results.list.data.goodsType == 1%}
            <p>成功购买资料</p>
            {% elif results.list.data.goodsType == 2%}
            <p>成功购买爱问共享资料VIP</p>
            {% elif results.list.data.goodsType == 3%}
            <p>成功购买爱问共享资料下载券</p>
            {% elif results.list.data.goodsType == 8%}
            <p>成功购买爱问共享资料下载特权</p>
            {% endif%}
        </div>
    {% elif results.list.data.payType == 'wechat'%}
        <input type="hidden" id="ip-appId" value="${appId}" />
        <input type="hidden" id="ip-timeStamp" value="${timeStamp}" />
        <input type="hidden" id="ip-nonceStr" value="${nonceStr}" />
        <input type="hidden" id="ip-prepay_id" value="${prepay_id}" />
        <input type="hidden" id="ip-paySign" value="${paySign}" />
        <input type="hidden" id="ip-vip" value="${vip}" />
        <input type="hidden" id="ip-goodsType" value="${goodsType}" />

        <div class="pay-result"></div>
        <div class="pay-vip"></div>

        <script type="text/javascript">
            seajs.use(["dist/application/app.js","dist/pay/cashbar.js"]);
        </script>
    {% endif%}
    <!-- 百度统计代码 -->
    <script src="{{staticUrl}}/baidu-statistics.js"> </script>
</body>
</html>