<div class="pay-carding-header">
    <div class="pw pw-v cf lh">
<!--        {% if results.type == 1%}-->
<!--            &lt;!&ndash;购买特权  logo &ndash;&gt;-->
<!--            <span class="logo-privilege fl"></span>-->
<!--        {% elif results.type == 0%}-->
<!--            &lt;!&ndash;购买vip logo &ndash;&gt;-->
<!--            <span class="logo-pay-vip fl" ></span>-->
<!--            &lt;!&ndash;购买特权时 隐藏 &ndash;&gt;-->
<!--            <div class="vip-privilege-con fr cf">-->
<!--                <div class="privilege-item privilege-item-01">-->
<!--                    <i class="icon-privilege icon-privilege-01"></i>-->
<!--                    <p>专属下载特权</p>-->
<!--                </div>-->
<!--                <div class="privilege-item privilege-item-02">-->
<!--                    <i class="icon-privilege icon-privilege-02"></i>-->
<!--                    <p>现金文档购买折扣</p>-->
<!--                </div>-->
<!--                <div class="privilege-item privilege-item-03">-->
<!--                    <i class="icon-privilege icon-privilege-03"></i>-->
<!--                    <p>VIP免费专区</p>-->
<!--                </div>-->
<!--                <div class="privilege-item privilege-item-04">-->
<!--                    <i class="icon-privilege icon-privilege-04"></i>-->
<!--                    <p>千万文档免费下载</p>-->
<!--                </div>-->
<!--                <div class="privilege-item privilege-item-05">-->
<!--                    <i class="icon-privilege icon-privilege-05"></i>-->
<!--                    <p>查看更多7项特权</p>-->
<!--                    <div class="privilege-more">-->
<!--                        <div class="more-inter">-->
<!--                            <i class="before"></i>-->
<!--                            <i class="after"></i>-->
<!--                            <span class="inter-item"><i class="icon-more icon-more-01"></i>优先内容推荐</span>-->
<!--                            <span class="inter-item"><i class="icon-more icon-more-02"></i>多终端互通</span>-->
<!--                            <span class="inter-item"><i class="icon-more icon-more-03"></i>上传容量扩展</span>-->
<!--                            <span class="inter-item"><i class="icon-more icon-more-04"></i>资料优先审核</span>-->
<!--                            <span class="inter-item"><i class="icon-more icon-more-05"></i>会员尊贵标识</span>-->
<!--                            <span class="inter-item"><i class="icon-more icon-more-06"></i>VIP悬赏通道</span>-->
<!--                            <span class="inter-item"><i class="icon-more icon-more-07"></i>办公频道无广告浏览</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        {% else %}-->
<!--        {% endif %}-->
    </div>
</div>