<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>订单详情</title>
<!--gio sdk-->
<!-- GrowingIO Analytics code version 2.1 -->
<!-- Copyright 2015-2018 GrowingIO, Inc. More info available at http://www.growingio.com -->
<script type='text/javascript'>
    try {
        !function(e,t,n,g,i){e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},n=t.createElement("script"),tag=t.getElementsByTagName("script")[0],n.async=1,n.src=('https:'==document.location.protocol?'https://':'http://')+g,tag.parentNode.insertBefore(n,tag)}(window,document,"script","assets.growingio.com/2.1/gio.js","gio");
        gio('init','9f367e704cdcd7bc', {});
        //custom page code begin here
        //custom page code end here
        gio('send');
    }catch (e) {}
</script>


   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
   <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/pay/payment.css"/>
<script>
    var fun = function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth; 
            if (!clientWidth) return;
            //这里是假设在750px宽度设计稿的情况下 1rem = 100px
            //可以根据实际需要修改
            docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
        };
    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
}
fun(document, window)
</script>  

</head>
<script type="text/javascript">
    var _speedMark = + new Date();
    var _version = "{{version}}";
    var _head = "{{cdnUrl}}";
</script>
<body>
<div class="payment">
    <div class="payment-title">
        <span class="payment-title-icon success"></span>
        <span class="payment-title-desc">支付成功</span>
    </div>
    <ul class="order-list">
        <li class="list-item">
            <span class="item-title">支付方式:</span>
            <span class="item-desc">微信支付</span>
        </li>
        <li class="list-item">
            <span class="item-title">订单金额:</span>
            <span class="item-desc">¥ 2.00</span>
        </li>
        <li class="list-item">
            <span class="item-title">创建时间:</span>
            <span class="item-desc">2020-05-20</span>
        </li>
         <li class="list-item">
            <span class="item-title">交易订单号:</span>
            <span class="item-desc">6845 5698 5895 4548 9632</span>
        </li>
          <li class="list-item">
            <span class="item-title">商户订单号:</span>
            <span class="item-desc">96874512327</span>
        </li>
         <li class="list-item">
            <span class="item-title">商品名称:</span>
            <span class="item-desc">爱问共享资料会员</span>
        </li>
    </ul>
    <div class="pay-confirm">继续支付</div>

      {% include "common/js.html" %}
</div>
    <script type="text/javascript">
        window.pageConfig = {
            page:{
            },
            params:{
                
            },
            report: {
                
            },
            gio:{
            }
        };
        seajs.use(["dist/application/app.js","dist/pay/payment.js"]);
    </script>
</body>

</html>