<input type="hidden" id="ip-page-id" value="PC-M-PAY-PRI-L">
<input type="hidden" id="ip-page-name" value="支付页-下载特权-套餐列表页">
<div class="pw">
    <img class="privilege-img" src="{{cdnUrl}}/images/personalCenter/privilege.png">
    <div class="carding-vip-main">
        <div class="carding-vip-con pay-privilege-con">
            <ul class="pay-screen-list pay-pri-list carding-vip-list cf">
                {% for item in results.list.data.packages %}
                <li class="ui-tab-nav-item {% if loop.index==1 %}active{% endif %}" data-price="{{item.price}}" data-activeprice="{{item.activePrice}}" data-discountprice="{{item.discountPrice}}" data-actids="{{item.activityId}}" data-pid="{{item.id}}">
                    <div class="pay-vip-item pay-carding-item">
                      {% if item.desc %}
                        <div class="give-desc" style="display:none;">{{item.desc}}</div>
                        {% endif %}
                        <p class="privilege-price">{{item.downNum}}次下载特权</p>
                        {% if item.giveDVoluNum > 0 %}
                        <p class="give-text">赠送<span class="num">{{item.giveDVoluNum}}</span>下载特权</p>
                        {% endif %}
                        <i class="icon-active"></i>
                        {% if item.giveDVoluNum > 0 %}
                        <i class="icon-activity" style="display: block;">买{{item.downNum}}送{{item.giveDVoluNum }}</i>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="pay-privilege-text">{{results.list.data.packages[0].desc}}</div>
            {# <p class="pay-privilege-text"></p> #}
            {# <p class="price-text-con">支付金额：<strong id="activePrice" class="price">{{results.list.data.packages[0].activePrice if results.list.data.packages[0].activePrice>0 else results.list.data.packages[0].price}}</strong>元<span id="discountPrice" class="original-text">{{ '（立省'+results.list.data.packages[0].discountPrice+'元）' if results.list.data.packages[0].discountPrice else 'display:none;'}}</span></p> #}
            <p class="price-text-con">支付金额：<strong id="activePrice" class="price">{{results.list.data.packages[0].activePrice if results.list.data.packages[0].activePrice>0 else results.list.data.packages[0].price}}</strong>元 </p>
            <a href="javascript:;" data-page="privilege" class="btn-carding-pay btn-buy-bar pc_click" bilogContent="payPrivilege">立即支付</a>
            <span class="vip-protocol clearfix">
                支付即表示你已同意
                <a href="//iask.sina.com.cn/helpCenter/5e15b6f4474e3171f58ae2c1.html"
                    target="_blank">《爱问用户协议》</a>
            </span>
            {# <div class="pay-info-wrap">
                <p>注意事项：</p>
                <p>·下载特权购买后立即生效</p>
                <p>·有效期与VIP有效期同步，购买时请关注您的VIP有效期</p>
            </div> #}
        </div>
    </div>
</div>