<input type="hidden" id="ip-page-id" value="PC-M-PAY-SUC">
<input type="hidden" id="ip-page-name" value="支付成功页">
<input type="hidden" id="ip-page-fid" value="{{results.fileDetails.fileId}}">
<input type="hidden" id="ip-page-fstate" value="{{results.fileDetails.state}}">
<div class="pw">
    <!--购买 模块 start -->
    <div class="carding-vip-main">
    <div class="pay-success-banner"></div>
        <!--购买购买vip购买&特权 成功 start -->
        <div class="carding-info-con">
            <div class="carding-success-item data-pay-success">
                <!--详情页流量购买vip成功-->
                {% if results.list.type == 0 and results.list.fid %}
                    {# <h2 class="pay-ok-text"><i class="icon-pay-ok"></i>购买成功！欢迎加入爱问共享资料VIP</h2>
                    <p class="pay-bottom-text">相关的VIP专享权益与下载特权已发放至您的账户，您可以在<a style="text-decoration: underline;"
                            href="/ucenter/mydownloads?u={{results.uid}}" target="_blank">个人中心</a>查看</p>

                    <a class="btn-carding-back pc_click" bilogContent="paySuccessBacDown" href="/f/{{results.list.fid}}.html">返回详细页</a> #}
                     <h2 class="pay-ok-text"><i class="icon-pay-newok"></i>你已开通爱问共享资料VIP</h2>
                    <p class="pay-bottom-text">相关的VIP专享权益与下载特权已发放至您的账户</p>

                    <a class="btn-carding-back pc_click" bilogContent="paySuccessBacDown" href="/f/{{results.list.fid}}.html">返回详细页</a>


                    <!--其他页流量购买vip成功-->
                {% elif results.list.type == 0 %}
                    <h2 class="pay-ok-text"><i class="icon-pay-ok icon-pay-newok"></i>你已开通爱问共享资料VIP</h2>
                    {# <p class="pay-bottom-text">相关的VIP专享权益与下载特权已发放至您的账户，您可以在<a style="text-decoration: underline;"
                            href="/ucenter/mydownloads?u={{results.uid}}" target="_blank">个人中心</a>查看</p> #}
                   <p class="pay-bottom-text "><a  class="btn-carding-back" href="/search/home.html" target="_blank">搜索资料</a></p>
                <!--详情页流量购买下载特权成功-->
                {% elif results.list.type == 1 and results.list.fid %}
                    <h2 class="pay-ok-text"><i class="icon-pay-ok icon-pay-newok"></i>恭喜您，购买成功！</h2>
                    <a class="btn-carding-back pc_click" bilogContent="paySuccessBacDown" href="/f/{{results.list.fid}}.html">返回下载</a>
                <!--其他页流量购买下载特权成功-->
                {% elif results.list.type == 1 %}
                    <h2 class="pay-ok-text"><i class="icon-pay-ok icon-pay-newok"></i>恭喜您，购买成功！</h2>
                <!--详情页流量购买文档成功-->
                {% elif results.list.type == 2 %}
               <h2 class="pay-ok-text"><i class="icon-pay-newok icon-pay-newok"></i>恭喜您，购买成功！</h2>
               <a class="btn-carding-back" href="/f/{{results.list.fid}}.html">返回下载</a>
                {# <div class="ishare-pay-success">
                    <div class="pay-success"><i class="icon-success"><img src="{{cdnUrl}}/images/detail/pay_ok.png"/></i>支付成功</div>
                    <div class="quick-icon">你已成功获取：<span class="xbsd"><i class="ico-data ico-{{results.fileDetails.format}}"></i><span id="filename">{{results.fileDetails.title}}</span></span></div>
                    <div class="quick-down">你的下载很快开始，如果没有<!--downloadBtn-->，请 <a class="quick-down-a">点击此处</a></div>
                    <div class="not-found-res">找不到资料下载到哪里了？试试Ctrl+J </div>
                </div> #}
                {% endif %}
            </div>
            <!-- 优惠券 -->
            <div class="carding-info-bottom   carding-data-pay-con cf couponContainer" style="display: none">
                {% include "common/couponIssue.html" %}
            </div>
            <!--card.html 现在只在支付成功页面使用-->
            {% include "../common/card.html" %}
        </div>
        <!--购买购买vip购买&特权 成功 end -->
    </div>
</div>