<div class="pay-top-bar new-detail-header">
    <div class="pw pw-v cf new-header-inter ">
        <a class="ishare-logo fl" href="/"><img src="{{cdnUrl}}/images/pay/logo_vip_white.png"></a>
        <ul class="new-nav fl">
            <li class="more-nav">
                <span class="icon-white-arrow"></span>
                <a class="nav-a more-nav-link">分类<i class="icon-detail"></i></a>
                    <div class="more-list-inter cf">
                    <a href="/c/1819.html">生活休闲</a>
                    <span class="line"></span>
                    <a href="/c/1818.html">实用文档</a>
                    <span class="line"></span>
                    <a href="/c/1821.html">经济管理</a>
                    <span class="line"></span>
                    <a href="/c/1816.html">教育资料</a>
                    <span class="line"></span>
                    <a href="/c/1820.html">专业资料</a>
                </div>
            </li>
        </ul>
        <a class="fr connect-ser">联系客服</a>
        <div class="fr">
            <!--未登录 -->
            <div class="user-con" id="unLogin">
                <a class="user-link">
                    <div class="user-img"><img src="{{cdnUrl}}/images/pay/pic_pay_user_normall.jpg"></div>
                    <span class="user-a pc_click js-login" pcTrackContent="payTopLogin">登录</span>
                    <span class="user-a js-sync hide">透传</span>
                </a>
            </div>
            <!--已登录 -->
            <!--vip 增加样式  user-con-vip-->
            <div class="user-con user-con-vip" id="haveLogin" style="display: none;">
                <a class="user-link" href="/ucenter/mydownloads?u={{results.list.data.userId}}" target="_blank">
                    <div class="user-img"><img></div>
                    <span class="user-name fl"></span>
                    <i class="icon-iShare icon-vip"></i>
                </a>
                <i class="icon-arrow"></i>
                <!--vip 增加样式  top-vip-more-->
                <div class="top-user-more">
                    <div class="user-bar  ">
                        <i class="before"></i>
                        <i class="after"></i>
                        <img class="user-img" src="">
                        <div class="user-info">
                            <div class="name-con cf">
                                <p class="fl name"></p>
                                <i class="icon-iShare icon-vip"></i>
                            </div>
                            <div class="vip-status">
                                <!--非vip 文字 -->
                                <p data-type="1" class="vip-text" >开通VIP，会员享专属特权</p>
                                <!--vip 文字-->
                                <p data-type="2" class="vip-text" style="display: none;">您的VIP将于<span class="expire_time">2020-3-12</span>到期</p>
                                <!--vip 已过期文字-->
                                <p data-type="3" class="vip-text" style="display: none;">您的VIP权益已过期，再次开通</p>
                            </div>
                            <!--非vip 文字开通 vip 文字续费 --->
                            <a class="btn-user-more js-buy-open pc_click" pcTrackContent="joinVip-9" data-type="vip">续费</a>
                        </div>
                        <ul class="privilege-list">
                            <li class="li-01"><i class="icon-privilege"></i>赠专享资料下载特权</li>
                            <li class="li-02"><i class="icon-privilege"></i>付费资料8折起</li>
                            <li class="li-03"><i class="icon-privilege"></i>海量资料免费下</li>
                            <li class="li-04"><i class="icon-privilege"></i>专属身份标识</li>
                        </ul>
                    </div>
                    <div class="top-entry">
                        <a class="entry-ele center-ele" href="/ucenter/mydownloads?u={{results.list.data.userId}}" target="_blank"><i class="icon-entry"></i>个人中心</a>
                        <a class="entry-ele my-collect-ele" href="/ucenter/mycollect?u={{results.list.data.userId}}" target="_blank"><i class="icon-entry"></i>我的收藏</a>
                        <a class="entry-ele my-upload-ele" href="/ucenter/myuploads?u={{results.list.data.userId}}" target="_blank"><i class="icon-entry"></i>我的上传</a>
                        <a class="entry-ele my-task" href="/ucenter/sign?u={{results.list.data.userId}}" target="_blank"><i class="icon-entry"></i>我的任务</a>
                        <a class="btn-exit js-logout">退出</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>