<!DOCTYPE html>
<html>
<head>
    {% include "common/head.html" %}
    <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/ishare_detail.css">
</head>
<body class="body-white">
    <!--top-bar start -->
    <div class="top-bar cf">
        <div class="top-bar-left fl">
            <a href="//iask.sina.com.cn" target="_blank">爱问</a>
            <i class="line"></i>
            <a href="/" class="current">爱问共享资料</a>
            <i class="line"></i>
            <a href="fenlei.iask.sina.com.cn" target="_blank">爱问分类</a>
        </div>
        <div class="fr cf">
            <div class="vip-join-con fl">
                <a class="join-vip-ele js-buy-open pc_click" pcTrackContent="joinVip-11"><i class="icon-iShare"></i>加入VIP</a>
                <div class="join-vip-more">
                    <i class="before"></i>
                    <i class="after"></i>
                    <ul class="vip-more-list">
                        <li class="li-01"><i class="icon-p"></i>专属下载特权</li>
                        <li class="li-02"><i class="icon-p"></i>现金文档折扣购买</li>
                        <li class="li-03"><i class="icon-p"></i>VIP免费专区</li>
                        <li class="li-04"><i class="icon-p"></i>千万文档免费下载</li>
                    </ul>
                    <a class="btn-join-vip js-buy-open pc_click" pcTrackContent="joinVip-11">登录后开通</a>
                </div>
            </div>
            <!--未登录状态 -->
            <div class="user-info fl" style="display: none;">
                <a class="login-link"><em>您好！</em>请登录</a>
            </div>
            <!--登录状态 -->
            <div class="user-info fl">
                <div class="user-name fl">
                    <a class="user-link" href="#">
                        <div class="user-img">
                            <img src="upload/pic_use_01.jpg">
                        </div>
                        <p class="name">username</p>
                        <i class="icon icon-arrow"></i>
                    </a>
                    <!-- vip 用户新增 top-vip-more -->
                    <div class="top-user-more ">
                        <div class="user-bar">
                            <i class="before"></i>
                            <i class="after"></i>
                            <a href="#"><img class="user-img" src="upload/pic_use_01.jpg"></a>
                            <div class="user-info">
                                <div class="user-con cf">
                                    <p class="name fl"><a href="#">username</a></p>
                                    <i class="icon-iShare icon-vip"></i>
                                </div>
                                <p class="vip-text">开通VIP，会员享专属特权</p>
                                <a class="btn-user-more">开通</a>
                            </div>
                            <ul class="privilege-list">
                                <li class="li-01"><i class="icon-privilege"></i>赠专享资料下载特权</li>
                                <li class="li-02"><i class="icon-privilege"></i>付费资料8折起</li>
                                <li class="li-03"><i class="icon-privilege"></i>海量资料免费下</li>
                                <li class="li-04"><i class="icon-privilege"></i>专属身份标识</li>
                            </ul>
                        </div>
                        <div class="top-entry">
                            <a class="entry-ele center-ele">
                                <i class="icon-entry"></i>
                                个人中心
                            </a>
                            <a class="entry-ele my-collect-ele">
                                <i class="icon-entry"></i>
                                我的收藏
                            </a>
                            <a class="entry-ele my-upload-ele">
                                <i class="icon-entry"></i>
                                我的上传
                            </a>
                            <a class="entry-ele my-task">
                                <i class="icon-entry"></i>
                                我的任务
                            </a>
                            <a class="btn-exit">退出</a>
                        </div>
                    </div>
                </div>
            </div>
                <span class="top-service fl">
                    <a class="user-feedback">意见反馈</a>
                </span>
        </div>
    </div>
    <!--top-bar end -->
    <!-- header start -->
    <div class="header">
        <div class="pw pw-v cf">
            <a href="#" class="logo fl"><img src="images/iShare_logo.png"></a>
        </div>
    </div>
    <!-- header end -->
    <div class="not-found-con">
        <div class="pw">
            <div class="pic-not-found">
                <img src="images/bg_nofound.jpg" alt="404"/>
            </div>
            <div class="not-found-footer">
                <p>您也可以通过点击以下按钮获得您需要的信息</p>
                <div class="btn-con mt30">
                    <a class="btn-not-found btn-back" href="#"><i class="arrow-back"></i>返回之前页面</a>
                    <a class="btn-not-found" href="#">共享资料首页</a>
                    <a class="btn-not-found" href="#">查看资源分享</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 统计代码 -->
    <div style="display: none;">
        <script src="s11.cnzz.com/stat.php?id=1261477808&web_id=1261477808" language="JavaScript"></script>
    </div>
</body>
</html>