<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>详情</title>
    </head>
    <body>
        详情 {% include "common/js.html" %}
        <script type="text/javascript">
            window.pageConfig = {
                report: {}
            };
            seajs.use(["dist/application/app.js", "dist/detail/index.js"]);
        </script>
    </body>
</html>
