<!DOCTYPE html>
<html lang="zh-CN">

    <head>
        {% include "common/head.html" %}
        <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/category/category.css"/>
        <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/swiper-3.2.7-css-swiper.min.css">
        <!-- 添加360统计代码1、PC端统计代码： -->

    </head>

    <body>
        <input type="hidden" id="ip-page-id" value="PC-M-FC">
        <input type="hidden" id="ip-page-name" value="资料分类页">
        {% include "common/js.html" %}

        <!-- 搜索头部 -->
        {% include "common/websiteHeaderbar.html" %}
        <!-- 搜索内容主体 -->
        {% if results.iszhizhuC%}
            {% include "category/zhizhu-content.html" %}
        {% else %}
            {% include "category/content.html" %}
            {%endif%}

            <!-- 底部声明 -->
            {% include "common/footer.html" %}

            <!-- 右边固定提示导航 -->
            {% include "common/suspension.html" %}

            <script type="text/javascript">
                window.pageConfig = {
                    reqParams: {
                        cid: "{{results.reqParams.cid}}",
                        currentPage: "{{results.reqParams.currentPage}}",
                        totalPages: "{{results.reqParams.totalPages}}",
                        fileType: "{{results.reqParams.fileType}}",
                        sortField: "{{results.reqParams.sortField}}"
                    },
                    params: {
                        classIds: "{{results.categoryId}}",
                        tdk: {{results.tdk | dump | safe}}
                    },
                    report: {}
                };
                seajs.use(["dist/application/app.js", "dist/category/index.js"]);
            </script>
            <!--  cnzz统计代码：-->
            <script type="text/javascript" src="https://v1.cnzz.com/z_stat.php?id=1257407067&web_id=1257407067"></script>

            <!-- 360统计-->
            <script>
                (function (b, a, e, h, f, c, g, s) {
                    b[h] = b[h] || function () {
                        (b[h].c = b[h].c || []).push(arguments)
                    };
                    b[h].s = !!c;
                    g = a.getElementsByTagName(e)[0];
                    s = a.createElement(e);
                    s.src = "//s.union.360.cn/" + f + ".js";
                    s.defer = !0;
                    s.async = !0;
                    g
                        .parentNode
                        .insertBefore(s, g)
                })(window, document, "script", "_qha", 335601, false);
            </script>
        </body>

    </html>