<!-- 顶部信息 -->
<div class="top-bar">
    <div class="top-bar-left">
        <a href="//iask.sina.com.cn" target="_blank">爱问</a>
        <span class="line"></span>
        <a class="current" href="/">爱问共享资料</a>
        <span class="line"></span>
        <a href="//yyk.iask.sina.com.cn" target="_blank">医院库</a>
    </div>
    <div class="top-bar-right fr">
        <div class="vip-join-con fl">
            <a class="join-vip-ele isVipTag ishareTrackEventCls" isharetrackcontent="joinVipBtn0"
                trackeventtype="entryVip" trackcontent="top-joinVip" href="/pay/vip.html" target="_blank">
                <i class="icon-iShare"></i>
                <span>加入VIP</span>
            </a>
            <div class="join-vip-more">
                <i class="before"></i>
                <i class="after"></i>
                <ul class="vip-more-list">
                    <li class="li-01"><i class="icon-p"></i>专属下载特权</li>
                    <li class="li-02"><i class="icon-p"></i>现金文档折扣购买</li>
                    <li class="li-03"><i class="icon-p"></i>VIP免费专区</li>
                    <li class="li-04"><i class="icon-p"></i>千万文档免费下载</li>
                </ul>
                <div>
                    <a class="btn-no-login  btn-join-vip ishareTrackEventCls" isharetrackcontent="joinVipBtn1"
                        target="_blank">
                        登录后开通
                    </a>
                    <a class="btn-join-vip ishareTrackEventCls" isharetrackcontent="joinVipBtn2" href="/pay/vip.html"
                        data-type="1" target="_blank" style="display: none;">
                        开通
                    </a>
                    <a class="btn-join-vip ishareTrackEventCls" isharetrackcontent="joinVipBtn3" href="/pay/vip.html"
                        data-type="2" target="_blank" style="display: none;">
                        续费
                    </a>
                </div>
            </div>
        </div>

        <!-- 未登陆 -->
        <div class="user-info fl" id="unLogin">
            <a class="login-link ishareTrackEventCls" id="a-login-link" isharetrackcontent="topLogin"><em>您好！</em>
                请登录
            </a>
        </div>

        <!-- 已经登陆 -->
        <div class="user-info-div user-info fl" id="haveLogin" style="display: none">
            <div class="user-name fl" id="J_user_name">
                <a class="user-link" href="/ucenter/vips?u=5d68cac5e4b0cb63cd919e36">
                    <div class="user-img fl">
                        <img class="user-head-image" width="20" height="20" />
                    </div>
                    <p class="name user-name"></p>
                    <i class="icon icon-arrow"></i>
                </a>

                <!-- hover 时显示 用户 更多信息 -->
                {% include "common/userMoreMsg.html" %}
               
            </div>
            <div class="news fl">
                <a href="/user/message/index?u=">
                    <i class="icon icon-news"></i>
                    <span _action="myMessageCount" _class="if0empty" id="user-msg"></span>
                </a>
            </div>
        </div>


    </div>

</div>