{{each uploadFiles as value i}}
<li class="doc-li" index="{{i}}">
    <span class="doc-unit">{{i+1}}</span>
    <div class="operation">
        <div class="doc-info succ {{value.uploadStatus ==1?'':'displayNone'}}" ><i class="icon-info icon-ok"></i>上传成功</div>
        <div class="doc-info uploading {{value.uploadStatus ==1?'displayNone':value.uploadStatus ==2?'displayNone':''}}" ><p class="doc-info-wait">上传中...</p></div>
        <div class="doc-info fail {{value.uploadStatus ==2?'':'displayNone'}}" ><i class="icon-info icon-wrong"></i><p class="wrong-text">上传失败<!-- <a class="wrong-link">重试</a> --></p></div>
        <a href="javascript:;" class="doc-delete js-delete" title="删除" index="{{i}}"></a>
    </div>
    <div class="doc-top-tt cf">
        <div class="doc-mid cf">
            <i class="data-checked {{value.checked?'checked-active':''}}"></i>
            <div class="fl" style="width:400px">
                <div class="data-must">
                    <span class="stars-txt">*</span>
                    <span class="lable-name">标题:</span>
                    <div class="data-name">
                        <i class="ico-data ico-doc"></i>
                        <input type="text" class="data-input" name="fileName" value="{{value.fileName}}" index="{{i}}" >
                    </div>
                    <div class="warn-tip">
                        <span>标题字数不能超过36个字</span>
                    </div>
                </div>
            </div>
            <div class="fl rightPart">
                <div class="clearBoth">
                    <div class="data-must fl ml18">
                        <span class="stars-txt">*</span>
                        <span class="lable-name">保存到:</span>
                        <span style="margin-left: 50px;width: 100px;" class="selected-text date-btn  js-folder-hook">
                            <em></em>
                            <p>{{value.folderName?value.folderName:'选择保存至'}}</p>
                        </span>
                        <ul class="select-list folder">
                            <li>
                                <span class="new-built js-folder-new" title="新建文件夹">新建文件夹</span>
                                {{each folders as foldItem foldIndex}}
                                    <span class="new-built js-folder-item" id ='{{foldItem.id}}' name ='{{foldItem.name}}'   title="新建文件夹">{{foldItem.name}}</span>
                                {{/each}}
                                <!-- <jsp:include page="folderTree.jsp"></jsp:include> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="doc-info err" style="display:none;"><i class="icon-info icon-error"></i><span>建议您结合文档正文完善资料标题信息<span></div>
    </div>
</li>
{{/each}}