<div class="bottom-fix qwe">
        {{if data.isDownload === "n"}}
            <!--仅在线阅读-->
            {{if data.isVip == 1}}
                <div class="data-item fl">
                    <h2 class="data-title fl"><i class="ico-big-data ico-big-{{data.format}}"></i>{{data.title}}</h2>
                    <span class="online-read">仅供在线阅读</span>
                </div>
                <div class="integral-con fr">
                    <a id="searchRes" class="btn-fix-vip fl" data-toggle="download" ><i class="icon-detail"></i>寻找资料</a>
                </div>

            {{else}}
                <div class="data-item fl">
                    <h2 class="data-title fl"><i class="ico-big-data ico-big-{{data.format}}"></i>{{data.title}}</h2>
                    <span class="online-read">仅供在线阅读</span>
                </div>
                <div class="integral-con fr">
                    <a class="btn-fix-vip js-buy-open fl pc_click" pcTrackContent="joinVip-2" bilogContent="fileDetailBottomOpenVip8" data-type="vip" data-toggle="download">开通VIP，享更多特权</a>
                </div>
            {{/if}}
        {{else}}
                {{if data.productType == "1" || data.productType == "4" || data.productType == "5" || data.productType == "6"}}
                    <!--现金文档 -->
                    <!--专享8折 加入vip8折购买 立即下载 立即购买-->
                        <div class="data-item fl">
                            <h2 class="data-title fl">
                                <i class="ico-big-data ico-big-{{data.format}}"></i>{{data.title}}
                            </h2>
                        </div>

                        <div class="integral-con fr">
                            <a class="btn-fix-bottom fl pc_click" pcTrackContent="downloadBtn-3" bilogContent="fileDetailBottomDown" data-toggle="download">立即下载</a>
                        </div>
            {{/if}}
        {{/if}}
</div>
