<div class="bottom-fix qwe">
    {{if data.productType == "3"}}
    <!--仅在线阅读-->
    {{if data.isVip == 1}}
    <div class="data-item fl">
        <h2 class="data-title fl"><i class="ico-big-data
            ico-big-{{data.format}}"></i>{{data.title}}</h2>
        <span class="online-read">仅供在线阅读</span>
    </div>
    <div class="integral-con fr">
        <a id="searchRes" class="btn-fix-vip fl js-disable"><i class="icon-detail"></i>该资料不支持下载</a>
    </div>

    {{else}}
    <div class="data-item fl">
        <h2 class="data-title fl"><i class="ico-big-data
                ico-big-{{data.format}}"></i>{{data.title}}</h2>
        <span class="online-read">仅供在线阅读</span>
    </div>
    <div class="integral-con fr">
        <a class="btn-fix-vip js-buy-open fl js-disable"pcTrackContent="joinVip-2"
            data-type="vip">该资料不支持下载</a>
    </div>
    {{/if}}
    {{else}}
    <!--VIP免费-->
    {{if data.productType == 4}}
    <div class="data-item fl">
        <h2 class="data-title fl"><i class="ico-big-data
                ico-big-{{data.format}}"></i>{{data.title}}</h2>
    </div>
    <div class="integral-con fr">
        {{ if data.status != 2 }}
        <!-- <span style="float:left;margin-right:15px;">{{ data.productPrice }}个下载特权</span> -->
        <p  class="integral-con-content js-buy-open"><span class="integral-con-price" style="font-weight: bold;"></span><span class="integral-con-desc"></span></p>
        <a class="btn-fix-bottom btn-fix-bottom-vip  fl"pcTrackContent="downloadBtn-3"
            data-toggle="download">VIP特权下载</a>
        {{ else }}
        <a class="btn-fix-bottom fl"pcTrackContent="downloadBtn-3"
            data-toggle="download">立即下载</a>
        {{/if}}
    </div>
    {{else}}
    {{if data.productType == "5" }}
    <!--现金文档 -->
    <!--专享8折 加入vip8折购买 立即下载 立即购买-->
    {{if data.isVip == 1 && data.vipDiscountFlag == 1 }}
    <div class="data-item fl">
        <h2 class="data-title fl">
            <i class="ico-big-data ico-big-{{data.format}}"></i>{{data.title}}
        </h2>
    </div>
    <div class="integral-con fr">
        {{if data.status!=2}}
        <div class="price-con price-more fl">
            <p class="price vip-price">¥{{data.productPrice}}</p>
            <p class="origin-price">原价&yen; {{data.productPrice}}</p>
        </div>
        <a class="btn-fix-bottom js-buy-open fl"pcTrackContent="buyBtn-3"
            data-type="file">立即下载</a>
        {{else}}
        <a class="btn-fix-bottom fl"pcTrackContent="downloadBtn-3"
            data-toggle="download">立即下载</a>
        {{/if}}
    </div>
    <!--&& data.ownVipDiscountFlag== 1-->
    {{else if data.isVip != 1 && data.vipDiscountFlag == 1 }}
    <div class="data-item fl">
        <h2 class="data-title fl"><i class="ico-big-data
                ico-big-{{data.format}}"></i>{{data.title}}</h2>
    </div>
    <div class="integral-con fr">
        {{if data.status!=2}}
        <div class="price-con price-more fl">
            <!--现金文档价格 -->
            <p class="price" style="">&yen;{{data.productPrice}}</p>
            <!--现金文档 有折扣 非vip会员 -->

            <p class="vip-sale-price">会员价&yen;<span class="js-original-price">{{data.productPrice}}</span></p>
        </div>
        <a class="btn-fix-bottom btn-fix-border js-buy-open fl"pcTrackContent="buyBtn-3"
            data-type="file">立即下载</a>
        {{else}}
        <a class="btn-fix-bottom fl"pcTrackContent="downloadBtn-3"
            data-toggle="download">立即下载</a>
        {{/if}}
    </div>
    {{else}}
    <div class="data-item fl">
        <h2 class="data-title fl">
            <i class="ico-big-data ico-big-{{data.format}}"></i>{{data.title}}
        </h2>
    </div>

    <div class="integral-con fr">
        {{if data.status!=2}}
        <div class="price-con fl">
            <!--现金文档价格 -->
            <p class="price" style="">¥{{data.productPrice}}</p>
        </div>
        <a class="btn-fix-bottom js-buy-open fl"pcTrackContent="buyBtn-3"
            loginOffer="buyBtn-2" data-type="file">立即下载</a>
        {{else}}
        <a class="btn-fix-bottom fl"pcTrackContent="downloadBtn-3"
            data-toggle="download">立即下载</a>
        {{/if}}
    </div>
    {{/if}}
    {{else}}
    <!--vip-->
    {{if data.isVip == 1}}
    <div class="data-item fl">
        <h2 class="data-title fl">
            <i class="ico-big-data ico-big-{{data.format}}"></i>{{data.title}}
        </h2>
    </div>
    <div class="integral-con fr">
        {{if data.volume > 0}}
        <div class="price-con fl">
            <p class="price">{{data.volume}}下载券</p>
        </div>
        {{/if}}
        <a class="btn-fix-bottom fl"pcTrackContent="downloadBtn-3"
            data-toggle="download">立即下载</a>
    </div>
    {{else}}
    {{if data.volume > 0}}

    <div class="data-item fl">
        <h2 class="data-title fl">
            <i class="ico-big-data ico-big-{{data.format}}"></i>{{data.title}}
        </h2>
    </div>

    <div class="integral-con fr">
        <div class="price-con fl">
            <p class="price" style="">{{data.volume}}下载券</p>
        </div>
        <a class="btn-fix-bottom fl"pcTrackContent="downloadBtn-3"
            data-toggle="download">立即下载</a>
    </div>
    {{else}}
    <div class="data-item fl">
        <h2 class="data-title fl">
            <i class="ico-big-data ico-big-{{data.format}}"></i>{{data.title}}
        </h2>
    </div>

    <div class="integral-con fr">
        <a class="btn-fix-bottom fl"pcTrackContent="downloadBtn-3"
            data-toggle="download">立即下载</a>
    </div>
    {{/if}}
    {{/if}}
    {{/if}}
    {{/if}}
    {{/if}}
</div>
