<!--相关资料-->
<h2 class="related-data-title">相关资料</h2>
<ul class="related-data-list">
   {{each RelevantInformationList as item}}
   <li class="item" data-id="{{item.id}}" data-name="{{item.name}}">
      <a class="item-link" href="/f/{{item.id}}.html" target="_blank" data-id="{{item.id}}" class="_blank">
         <div class="item-link-left fr">
            {{ if item.cover_url }}
               <img class="item-link-left-img" src="{{item.cover_url}}" alt="{{item.name}}"/>
            {{ else }}
               <img class="item-link-left-img" src="{{cdnUrl}}/images/default-picture.png" alt="{{item.name}}"/>
            {{/if}}
            <span  class="item-link-left-icon ico-data ico-{{item.format}}">
               <span></div>
               <div class="item-link-right fl">
                  <p class="item-link-right-desc">{{item.name}}</p>
                  <p class="item-link-right-other">
                     {{ if  item.item_read_cnt }}
                        <span class="other-read">{{item.item_read_cnt}}阅读</span>
                        {{ /if }}
                     </p>
                  </div>
               </a>
            </li>
         {{/each}}
      </ul>