<div class="user-comments">
     <div class="user-evaluation">
        <div class="evaluation-tags cf">
            {{each tagsList as item }}
                 {{if item.active}}
                  <span class="tag tag-active" data-id="{{item.id}}">{{item.name}}</span>
                 {{else}}
                  <span class="tag" data-id="{{item.id}}">{{item.name}}</span>
                 {{/if}}

           {{/each}}
           {{if lableId}}
            <span class="tag tag-all absolute-tag" data-id="">全部</span>
           {{else}}
            <span class="tag tag-all absolute-tag tag-active" data-id="">全部</span>
           {{/if}}
        </div>
        <ul class="evaluation-list">
            {{each userComments as comment }}
              <li class="evaluation-item">
                    <p class="evaluation-user-summary">
                       <img class="evaluation-user-avatar" src="{{comment.photoPicURL}}"/>
                       <span class="evaluation-user-name">{{comment.nickName}}</span>
                          {{ each comment.score}}
                                 <span class="start"></span>
                          {{/each}}
                       <span class="evaluation-time fr">{{comment.createTime}}</span>
                    </p>
                    <p class="evaluation-desc">{{comment.content}}</p>
              </li>
              {{/each}}
        </ul>
    </div>
<div class="pagination-wrapper">

</div>
</div>
