<!DOCTYPE html>
<html lang="en">
<head>
    {% include "common/head.html" %}
    <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/ishare_public.css"/>
    <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/upload/upload.css"/>
     <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/swiper-3.2.7-css-swiper.min.css">
    <style>
    </style>
</head>


<body>
    {% include "common/js.html" %}

    <!-- 搜索头部 -->
    {% include "common/websiteHeaderbar.html" %}
    <div class="upload-banner"></div>  
    {% include "upload/uploadIndex.html" %}
    {% include "upload/uploadSecond.html" %}
    {% include "upload/success.html" %}
   

    <!-- 右边固定提示导航 -->
    {% include "common/suspension.html" %}
    <script>
         window.pageConfig = {
            report: {
            }
        };
         seajs.use(["dist/application/app.js","dist/upload/init.js"]);
    </script>
</body>
</html>