<div class="successWrap mt30" id="submit_succ" style="display: none;">
    <div class="new-upload-info">
        <i class="icon-upload-info icon-ok"></i>
        <h2 class="info-title">提交成功！</h2>
        <p>资料正在审核中，请耐心等候...</p>
        <p>您也可以在个人中心-我的上传-提交中查看审核进度</p>
        <div class="upload-btn-con">
            <a href="/node/personalCenter/myuploads.html?type=myuploads" class="btn-upload-info">查看资料</a>
            <a href="/node/upload.html?ts=n" class="btn-upload-info btn-continue">继续上传</a>
        </div>
    </div>
</div>