{{if data.isDownload === "n"}}
<!--仅在线阅读-->
{{if data.isVip == 1}}
<div class="detail-wx-wrap">
    <p class="detail-wx-text">本资料仅支持在线阅读，VIP可扫码寻找。</p>
    <div class="detail-wx-entry">
        <div class="wx-entry-con">
            <div class="wx-code-con">
                <img src="//pic.iask.com.cn/mini/qrc_{{data.fid}}.png">
                <p>资料小程序码</p>
            </div>
            <div class="entry-main">
                <div class="wx-step-con">
                    <p class="step-text" style="text-align: left;">使用微信“扫一扫”扫码寻找资料</p>
                    <div class="wx-step-list cf">
                        <div class="step-num">
                            <p>1</p>
                            <p class="step-num-text">打开微信</p>
                        </div>
                        <i class="step-arrow"></i>
                        <div class="step-num">
                            <p>2</p>
                            <p class="step-num-text">扫描小程序码</p>
                        </div>
                        <i class="step-arrow"></i>
                        <div class="step-num">
                            <p>3</p>
                            <p class="step-num-text">发布寻找信息</p>
                        </div>
                        <i class="step-arrow"></i>
                        <div class="step-num">
                            <p>4</p>
                            <p class="step-num-text">等待寻找结果</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="btn-data-con">
    <p>仅供在线阅读</p>
    <div class="btn-con mt18">
        <a class="btn-detail-vip js-buy-open pc_click" pcTrackContent="joinVip-1"  loginOffer="joinVip-1" data-type="vip"><i class="icon-detail"></i>开通VIP，享更多特权</a>
    </div>
</div>
{{/if}}
{{else}}
<div class="btn-data-con direct-dowonload-01">
    <!--VIP免费-->
    {{if data.vipFreeFlag == 1}}
        <div class="btn-con mt18">
            <a class="btn-state-red pc_click" pcTrackContent='downloadBtn-2' data-toggle="download"><i class="icon-detail"></i>立即下载</a>
        </div>
    {{else}}
    {{if data.perMin == "3"}}
    <!--现金文档 -->
    <!--专享8折 加入vip8折购买 立即下载 立即购买-->
    {{if data.isVip == 1 && data.vipDiscountFlag ==1 && data.ownVipDiscountFlag ==1}}
        {{if data.status!=2}}
            <div class="price-item">
                <p class="price-text vip-price">&yen; {{(data.moneyPrice*1000/1250).toFixed(2)}}</p>
                <p class="origin-price">原价&yen; {{data.moneyPrice}}</p>
            </div>
            <div class="btn-con mt18">
                <a class="btn-state-red btn-buy-solid js-buy-open  pc_click"  pcTrackContent="buyBtn-2"  data-type="file">立即购买</a>
            </div>
        {{else}}
            <div class="btn-con mt18">
                <a class="btn-state-red btn-buy-solid pc_click" pcTrackContent='downloadBtn-2' data-toggle="download" loginOffer="downloadBtn-2">立即下载</a>
            </div>
        {{/if}}

    {{else if data.isVip == 0 && data.vipDiscountFlag == 1 && data.ownVipDiscountFlag== 1}}

        {{if data.status!=2}}
            <div class="price-item">
                <p class="price-text">¥{{data.moneyPrice}}</p>
                <p class="vip-sale-price">会员价&yen;{{(data.moneyPrice*1000/1250).toFixed(2)}}起</p>
            </div>
            <div class="btn-con mt18">
                <a class="btn-state-red btn-buy-solid btn-buy-border js-buy-open pc_click" pcTrackContent="buyBtn-2"  loginOffer="buyBtn-2" data-type="file">立即购买</a>
                <a class="btn-detail-vip js-buy-open pc_click" pcTrackContent="joinVip-1"  loginOffer="joinVip-1" data-type="vip"><i class="icon-detail"></i>开通VIP, 8折起</a>
            </div>
        {{else}}
            <div class="btn-con mt18">
                <a class="btn-state-red btn-buy-solid pc_click" pcTrackContent='downloadBtn-2' data-toggle="download" loginOffer="downloadBtn-2">立即下载</a>
            </div>
        {{/if}}

    {{else}}
        {{if data.status!=2}}
            <div class="price-item">
                <div class="price-item">
                    <p class="price-text">&yen;{{data.moneyPrice}}</p>
                </div>
            </div>
            <div class="btn-con mt18">
                <a class="btn-state-red btn-buy-solid js-buy-open pc_click" pcTrackContent="buyBtn-2"  loginOffer="buyBtn-2" data-type="file">立即购买</a>
            </div>
        {{else}}
            <div class="btn-con mt18">
                <a class="btn-state-red btn-buy-solid pc_click" pcTrackContent='downloadBtn-2' data-toggle="download" loginOffer="downloadBtn-2">立即下载</a>
            </div>
        {{/if}}
    {{/if}}
    {{else}}
    <!-- 下载券下载 -->
        {{ if data.volume >0 }}
            <p class="ticket-num"><i class="icon-detail"></i>{{data.volume}}下载券</p>
        {{/if}}
        <div class="btn-con mt18">
            <a class="btn-state-red pc_click" pcTrackContent='downloadBtn-2'  data-toggle="download"><i class="icon-detail"></i>立即下载</a>
        </div>
    {{/if}}
    {{/if}}
</div>
{{/if}}

