<div class="bottom-fix qwe">
        {{if data.productType == "3"}}
            <!--仅在线阅读-->
            {{if data.isVip == 1}}
               
                <div class="integral-con ">
                    <a id="searchRes" class="btn-fix-vip btn-fix-bottom" ><i class="icon-detail"></i>寻找资料</a>
                </div>

            {{else}}
               
                <div class="integral-con ">
                    <a class="btn-fix-vip js-buy-open btn-fix-bottom pc_click" pcTrackContent="joinVip-2" bilogContent="fileDetailBottomOpenVip8" data-type="vip">开通VIP，享更多特权</a>
                </div>
            {{/if}}
        {{else}}
            <!--VIP免费-->
            {{if data.productType == 4}}
          
                <div class="integral-con ">
                    <a class="btn-fix-bottom  pc_click" pcTrackContent="downloadBtn-3" bilogContent="fileDetailBottomDown" data-toggle="download">立即下载</a>
                </div>
            {{else}}
                {{if data.productType == "5" }}
                    <!--现金文档 -->
                    <!--专享8折 加入vip8折购买 立即下载 立即购买-->
                      {{if data.isVip == 1 && data.vipDiscountFlag == 1 }}
                      
                        <div class="integral-con ">
                            {{if data.status!=2}}
                                <div class="price-con price-more ">
                                    <span class="price-desc">售价:</span>
                                     <p class="price vip-price">¥{{data.productPrice}}</p>
                                    <p class="origin-price">原价&yen; {{data.productPrice}}</p>
                                </div>
                                 <a class="btn-fix-bottom js-buy-open  pc_click" pcTrackContent="buyBtn-3" bilogContent="fileDetailBottomBuy" data-type="file">立即下载</a>
                            {{else}}
                                 <a class="btn-fix-bottom  pc_click" pcTrackContent="downloadBtn-3" bilogContent="fileDetailBottomDown" data-toggle="download">立即下载</a>
                            {{/if}}
                        </div>
                        <!--&& data.ownVipDiscountFlag== 1-->
                      {{else if data.isVip != 1 && data.vipDiscountFlag == 1 }}
                        
                        <div class="integral-con ">
                            {{if data.status!=2}}
                                <div class="price-con price-more ">
                                    <!--现金文档价格 -->
                                     <span class="price-desc">售价:</span>
                                    <p class="price" style="">&yen;{{data.productPrice}}</p>
                                    <!--现金文档 有折扣 非vip会员 -->
                                  
                                      <p class="vip-sale-price">VIP价&yen;<span class="js-original-price">{{data.productPrice}}</span></p>
                                </div>
                                <a class="btn-fix-bottom btn-fix-border js-buy-open  pc_click" pcTrackContent="buyBtn-3" bilogContent="fileDetailBottomBuy" data-type="file">立即下载</a>
                            {{else}}
                                 <a class="btn-fix-bottom  pc_click" pcTrackContent="downloadBtn-3" bilogContent="fileDetailBottomDown" data-toggle="download">立即下载</a>
                            {{/if}}
                        </div>
                      {{else}}
                       

                        <div class="integral-con ">
                            {{if data.status!=2}}
                                <div class="price-con ">
                                    <!--现金文档价格 -->
                                    <span class="price-desc">售价:</span>
                                     <p class="price" style="">¥{{data.productPrice}}</p>
                                </div>
                                <a class="btn-fix-bottom js-buy-open   pc_click" pcTrackContent="buyBtn-3" bilogContent="fileDetailBottomBuy" loginOffer="buyBtn-2" data-type="file">立即下载</a>
                            {{else}}
                                <a class="btn-fix-bottom  pc_click" pcTrackContent="downloadBtn-3" bilogContent="fileDetailBottomDown" data-toggle="download">立即下载</a>
                            {{/if}}
                        </div>
                    {{/if}}
                {{else}}
                    <!--vip-->
                    {{if data.isVip == 1}}
                           
                            <div class="integral-con ">
                                {{if data.volume > 0}}
                                    <div class="price-con ">
                                        <p class="price">{{data.volume}}下载券</p>
                                    </div>
                                {{/if}}
                                <a class="btn-fix-bottom   pc_click" pcTrackContent="downloadBtn-3" bilogContent="fileDetailBottomDown" data-toggle="download">立即下载</a>
                            </div>
                    {{else}}
                        {{if data.volume > 0}}

                            

                            <div class="integral-con ">
                                <div class="price-con ">
                                    <p class="price" style="">{{data.volume}}下载券</p>
                                </div>
                                <a class="btn-fix-bottom   pc_click" pcTrackContent="downloadBtn-3" bilogContent="fileDetailBottomDown" data-toggle="download" >立即下载</a>
                            </div>
                        {{else}}
                            

                            <div class="integral-con ">
                                <a class="btn-fix-bottom   pc_click" pcTrackContent="downloadBtn-3" bilogContent="fileDetailBottomDown" data-toggle="download" >立即下载</a>
                            </div>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}
</div>
