<!--相关资料-->

 <h2 class="related-data-title">相关推荐</h2>
  <ul class="related-data-list">
         {{each RelevantInformationList as item}}
             <li  class="item" data-id="{{item.id}}">
                <a class="item-link" href="/f/{{item.id}}.html" target="_blank" data-id="{{item.id}}" class="_blank">
                    {{ if item.cover_url }}
                     <img class="img" src="{{item.cover_url}}" alt="{{item.name}}"/>
                    {{ else }}
                     <img class="img" src="{{cdnUrl}}/images/default-picture.png" alt="{{item.name}}"/>
                    {{ /if}}
                      <p class="item-name">{{item.name}}</p>
                </a>
             </li>
         {{/each}}
  </ul>