{{ if paginationList.length >1}}
  <ul class="page-list pagination">
        <li class="page-item first" data-currentPage="1">首页</li>
        {{if currentPage>1}}
        <li class="page-item prev" data-currentPage={{currentPage-1}}>上一页</li> 
        {{/if}}
        {{ if paginationList.length>1}}
            {{each paginationList}}
                {{if $index >=0}}
                     {{ if $index<+currentPage+3 }}
                   {{if $index>=currentPage-3}}
                          {{if currentPage == $index+1}}
                                   <li class='page-item active'  data-currentPage={{$index +1}}>
                                       {{$index+1}}
                                    </li>
                          {{else}}
                                <li class='page-item' data-currentPage={{$index+1}}>
                                       {{$index+1}}
                                </li>
                          {{/if}}
                   {{/if}}
               {{ /if }}
                {{/if}}
           {{/each}}

           {{if currentPage <= paginationList.length -3}}
                <li class="page-more page-item">...</li>
           {{/if}}
           {{if currentPage < paginationList.length}}
             <li class="page-item" data-currentPage={{currentPage+1}}>下一页</li>
          {{/if}}
           <li class="page-item" data-currentPage={{paginationList.length}}>尾页</li>
        {{/if}}  
  </ul>
{{/if}}