@charset "utf-8";
.review-dialog {
  width: 316px;
  height: 207px;
  position: fixed;
  right: 80px;
  top: 320px;
  z-index: 999999;
  background: #FFFFFF;
  box-shadow: 0px 3px 8px 0px rgba(59, 17, 7, 0.18);
  border-radius: 10px;
}
.review-dialog .close-btn {
  display: block;
  overflow: hidden;
  background: url(../../images/icon_iShare.png) no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 15px;
  right: -32px;
  background-position: -220px -20px;
  cursor: pointer;
}
.review-dialog .dialog-con .topImg {
  width: 82px;
  height: 82px;
  background: url(../../images/ishare_docIcon.png) no-repeat;
  position: absolute;
  top: -21px;
  left: 50%;
  margin-left: -41px;
}
.review-dialog .dialog-con .titleBg {
  width: 209px;
  height: 85px;
  background: url(../../images/colorBelt.png) no-repeat;
  margin: 38px 0 0 59px;
}
.review-dialog .dialog-con .titleBg h2 {
  display: inline-block;
  margin: 40px 0 0 55px;
  font-size: 22px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #333333;
}
.review-dialog .dialog-con .bottom-text {
  text-align: center;
  height: 42px;
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #333333;
  line-height: 24px;
  margin: 13px auto 0;
}
.review-dialog .reviewLink {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.pw-down-success {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.down-success {
  margin: 0 auto;
  margin-top: 30px;
  width: 1200px;
  background: #ffffff;
}
.down-success .carding-success-item {
  padding-top: 67px;
  padding-bottom: 0px;
  background: #ffffff;
}
.down-success .carding-success-item .pay-ok-text {
  padding-bottom: 20px;
}
.down-success .carding-success-item .pay-ok-text .new-icon img {
  width: 42px;
  height: 42px;
}
.down-success .carding-success-item .pay-ok-text .new-icon .gx {
  font-size: 26px;
  vertical-align: middle;
}
.down-success .carding-success-item .pay-ok-text .new-icon .no-find-text {
  cursor: pointer;
  position: relative;
}
.down-success .carding-success-item .pay-ok-text .new-icon .no-find-text:hover .no-found-tip {
  display: block;
}
.down-success .carding-success-item .pay-ok-text .new-icon .no-find-text .no-found-tip {
  display: none;
  font-size: 14px;
  color: #777;
  position: absolute;
  right: -261px;
  bottom: -150px;
  width: 261px;
  text-align: left;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #f5f4ec;
  padding: 24px 23px;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.down-success .carding-success-item .pay-ok-text .new-icon .no-find-text .no-found-tip span:nth-child(1) {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 6px solid rgba(204, 204, 204, 0.5);
  border-bottom: 8px solid transparent;
  position: absolute;
  top: 10%;
  left: -16px;
}
.down-success .carding-success-item .pay-ok-text .new-icon .no-find-text .no-found-tip span:nth-child(2) {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 6px solid #ffffff;
  border-bottom: 8px solid transparent;
  position: absolute;
  top: 10%;
  left: -15px;
}
.down-success .carding-success-item .pay-ok-text .new-icon .no-find-text .no-found-tip p {
  line-height: 28px;
}
.down-success .carding-success-item .pay-ok-text .new-icon .no-find-text .no-found-tip p em {
  font-weight: bold;
  color: #333;
  cursor: pointer;
  font-size: 13px;
  text-decoration: underline;
}
.down-success .carding-success-item .pay-ok-text .new-icon .no-find-text .no-found-tip .win {
  margin-top: 14px;
  margin-bottom: 12px;
  text-indent: 9px;
}
.down-success .carding-success-item .pay-ok-text .new-icon .no-find-text .no-found-tip .mac {
  margin-bottom: 12px;
  text-indent: 9px;
}
.down-success .carding-success-item .pay-ok-text .new-icon .no-find-text .no-found-tip:hover {
  display: block;
}
.down-success .carding-success-item .pay-ok-text .new-icon .no-find-text span {
  font-size: 14px;
  color: #666;
  margin-left: 10px;
  cursor: pointer;
}
.down-success .carding-success-item .pay-ok-subtext {
  color: #333333;
  font-size: 16px;
}
.down-success .carding-success-item .pay-ok-subtext .quick-down-a {
  color: #176094;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}
.down-success .qrcode-warpper {
  margin-top: 30px;
  text-align: center;
}
.down-success .qrcode-warpper .qrcode-content {
  display: inline-block;
  text-align: center;
  width: 168px;
  height: 168px;
  border: 1px solid #EEEEEE;
}
.down-success .qrcode-warpper .qrcode {
  margin-top: 9px;
  display: inline-block;
  width: 152px;
  height: 152px;
}
.down-success .qrcode-warpper .qrcode-desc {
  margin: 0 auto;
  margin-top: 9px;
  padding-bottom: 80px;
  width: 256px;
  font-size: 16px;
}
.down-success .qrcode-warpper .qrcode-desc .applet-name {
  color: #F25126;
}
.down-success .down-success-banner {
  width: 1200px;
  margin: 0 auto;
}
.down-success .down-success-banner .swiper-container {
  width: 100%;
  height: 100%;
  z-index: 100;
}
.down-success .down-success-banner .swiper-slide-img {
  width: 100%;
}
.down-success .carding-success-item {
  border: none;
}
.down-success .guess-you-like-warpper {
  margin-top: 10px;
  background: #ffffff;
  border-radius: 4px;
}
.down-success .guess-you-like-warpper .guess-you-like {
  width: 1200px;
  background: #ffffff;
  border-radius: 4px;
}
.down-success .guess-you-like-warpper .guess-you-like .guess-you-like-title {
  height: 60px;
  line-height: 60px;
  color: #333333;
  margin: 0 44px 0 38px;
  border-bottom: 1px solid #f2f2f2;
  text-align: left;
}
.down-success .guess-you-like-warpper .guess-you-like .guess-you-like-itmes {
  padding-top: 23px;
  padding-bottom: 20px;
  *zoom: 1;
}
.down-success .guess-you-like-warpper .guess-you-like .guess-you-like-itmes:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.down-success .guess-you-like-warpper .guess-you-like .guess-you-like-itmes .item {
  float: left;
  margin-bottom: 28px;
  margin-left: 38px;
}
.down-success .guess-you-like-warpper .guess-you-like .guess-you-like-itmes .item .item-link {
  *zoom: 1;
}
.down-success .guess-you-like-warpper .guess-you-like .guess-you-like-itmes .item .item-link:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.down-success .guess-you-like-warpper .guess-you-like .guess-you-like-itmes .item .item-link .item-link-left {
  float: left;
  margin-right: 20px;
  position: relative;
}
.down-success .guess-you-like-warpper .guess-you-like .guess-you-like-itmes .item .item-link .item-link-left .item-link-left-img {
  width: 47px;
  height: 66px;
  border-radius: 2px;
  border: solid 1px #eeee e;
}
.down-success .guess-you-like-warpper .guess-you-like .guess-you-like-itmes .item .item-link .item-link-left .item-link-left-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  top: inherit;
  left: inherit;
}
.down-success .guess-you-like-warpper .guess-you-like .guess-you-like-itmes .item .item-link .item-link-right {
  float: right;
  width: 290px;
  text-align: left;
}
.down-success .guess-you-like-warpper .guess-you-like .guess-you-like-itmes .item .item-link .item-link-right .item-link-right-desc {
  font-size: 14px;
  height: 36px;
  line-height: 20px;
  overflow: hidden;
}
.down-success .guess-you-like-warpper .guess-you-like .guess-you-like-itmes .item .item-link .item-link-right .item-link-right-other {
  margin-top: 14px;
  color: #A8A8A8;
}
.send-email-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 468px;
  height: 272px;
  background: #ffffff;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  z-index: 2000;
  text-align: center;
}
.send-email-wrapper .send-email-content {
  margin-top: 52px;
  font-size: 18px;
  font-weight: 400;
  color: #222222;
}
.send-email-wrapper .send-email-content .close {
  display: block;
  overflow: hidden;
  background: url(../images/icon_iShare.png) no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 15px;
  right: -32px;
  background-position: -220px -20px;
  cursor: pointer;
}
.send-email-wrapper .send-email-content .send-email-content-tip {
  margin-bottom: 28px;
}
.send-email-wrapper .send-email-content .form-tip {
  margin-bottom: 8px;
  padding: 0;
  padding-left: 8px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  text-indent: 55px;
  color: #f25125;
}
.send-email-wrapper .send-email-content .form-email {
  width: 339px;
  height: 40px;
  margin-bottom: 24px;
}
.send-email-wrapper .send-email-content .form-btn {
  margin: 0 auto;
  width: 150px;
  height: 40px;
  line-height: 40px;
  background: #f25125;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}
