<!DOCTYPE html>
<html lang="en">

<head>
    {% include "common/head.html" %}

   
   
    <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/earth/index.css" />


</head>


<body class="auth-body">
    <input type="hidden" id="ip-page-id" value="PC-M-SMAP">
    <input type="hidden" id="ip-page-name" value="网站地图页">
    {% include "common/js.html" %}
    <!-- 搜索头部 -->
    {% include "common/websiteHeaderbar.html" %}
    <!-- 内容 -->
    <div class="earth-content earth-width">
        <div class="cloumn-name">
            <span><a href="https://ishare.iask.sina.com.cn/p/0.html" target="_blank">职业精品</a></span>
            <span><a href="https://ishare.iask.sina.com.cn/theme" target="_blank">专题资料</a></span>
        </div>
        <div class="word-nav">
            <ul>
                {% for item in results.initialCapitalArr %}
                <li class="{{'active' if results.initialArr[loop.index0] == results.prex}} {{'special-item' if loop.first or loop.last}}">
                    <a href="/index/{%if results.type == 'f'%}f{%else%}t{%endif%}-{{results.initialArr[loop.index0]}}-1.html">{{item}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="file-list">
            <ul>
                {% for item in results.list %}
                <li class="active">
                    <a target="_blank" href="{{item.linkurl}}">{{item.title|delType}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% if results.pageArr.length>1%}
        <div class="page-con">
            <ul>
                {% for item in results.pageArr %}
                <li class="{{'active' if results.currentPage == loop.index}}">
                    <a href="/index/{%if results.type == 'f'%}f{%else%}t{%endif%}-{{results.prex}}-{{loop.index}}.html">{{item}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {%endif%}
    </div>
    <!-- 底部声明 -->
    {% include "common/new/footer.html" %}
    <script>
        window.pageConfig = {
           report: { 
           }
       };
        seajs.use(["dist/application/app.js","dist/earth/init.js"]);
   </script>
  
</body>

</html>