<div class="header landing-header header-box ">
    <div class="pw pw-v cf">
        <a href="/" class="logo fl">
            <div class="ishare-logo">
            </div>
            <div class="icon-dragon-boat"></div>
        </a>
        <p class="logo-text fl"><span class="logo-line">/</span>搜索</p>
        <div class="search-con fl">
            <div class="search-input-con">
                <input id="scondition" autocomplete="off" type="text" class="search-input fl" value="{{query.cond}}" />
                <a href="javascript:;" class="btn-search " id="searchBtn" bilogContent="searchresult"><i class="icon-iShare"></i>搜索</a>
                <div id="lately-search" class="lately-search" style="display: none;">
                    <ul class="lately-list">
                        <li><a href="javascript:;">搜索内容</a></li>
                        <li><a href="javascript:;">搜索内容</a></li>
                        <li><a href="javascript:;">搜索内容</a></li>
                        <li><a href="javascript:;">搜索内容</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>