@charset "utf-8";
.personal-center-accountsecurity {
  padding: 26px 131px 0px 40px;
}
.personal-center-accountsecurity .account-security-title {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
}
.personal-center-accountsecurity .account-security-list {
  margin-top: 80px;
  margin-left: 41px;
  color: #222222;
}
.personal-center-accountsecurity .account-security-list .item {
  height: 77px;
  line-height: 77px;
  margin-left: 90px;
  border-bottom: solid 1px #DEDEDE;
}
.personal-center-accountsecurity .account-security-list .item .item-icon {
  margin-top: 30px;
  margin-left: -50px;
}
.personal-center-accountsecurity .account-security-list .item:nth-child(1) .item-icon {
  margin-right: 22px;
  width: 21px;
  height: 29px;
  background: url("../../images/personalCenter/phone.png") no-repeat center;
  background-size: 100%;
}
.personal-center-accountsecurity .account-security-list .item:nth-child(2) .item-icon {
  margin-right: 18px;
  width: 29px;
  height: 25px;
  background: url("../../images/personalCenter/wechat.png") no-repeat center;
  background-size: 100%;
}
.personal-center-accountsecurity .account-security-list .item:nth-child(3) .item-icon {
  margin-right: 18px;
  width: 30px;
  height: 23px;
  background: url("../../images/personalCenter/weibo.png") no-repeat center;
  background-size: 100%;
}
.personal-center-accountsecurity .account-security-list .item:nth-child(4) .item-icon {
  margin-right: 18px;
  width: 26px;
  height: 27px;
  background: url("../../images/personalCenter/qq.png") no-repeat center;
  background-size: 100%;
}
.personal-center-accountsecurity .account-security-list .item:nth-child(5) .item-icon {
  margin-right: 18px;
  width: 26px;
  height: 26px;
  background: url("../../images/personalCenter/setting.png") no-repeat center;
  background-size: 100%;
}
.personal-center-accountsecurity .account-security-list .item-status {
  margin-right: 10px;
  font-size: 16px;
  color: #222222;
}
.personal-center-accountsecurity .account-security-list .item-bindaccount {
  color: #222222;
}
.personal-center-accountsecurity .account-security-list .item-btn {
  margin-top: 26px;
  width: 100px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #eeeeee;
  border-radius: 3px;
  color: #777;
  cursor: pointer;
}
.personal-center-accountsecurity .account-security-list .item-btn-active {
  color: #ffffff;
  background: #f25226;
  border-radius: 3px;
}
