<!--弹框-->
<div class="dialog" id="dialog-box">
<!--遮罩层 start-->
<div id="bgMask" class="common-bgMask"></div>
<!-- 登录dialog -->
<script type="text/template" id="login-dialog">
     <div class="login-dialog">
        <i class="close-btn"></i>

        <div class="login-conent">

        </div>
    </div>
</script>


<script type="text/template" id="tourist-purchase-dialog">
     <div class="login-dialog">
        <i class="close-btn"></i>

        <div class="tourist-purchase-conent">

        </div>
    </div>
</script>














