<!--弹框-->
<div class="dialog" id="dialog-box">
<!--遮罩层 start-->
<div id="bgMask" class="common-bgMask"></div>
<!-- 登录dialog -->
<script type="text/template" id="login-dialog">
     <div class="login-dialog">
        <i class="close-btn"></i>

        
            <div class="login-conent">
                <div class="login-title">
                    <img class="ishare-log" src="{{cdnUrl}}/images/login/logo.png">
                    <span class="login-desc">微信扫码登录</span>
                </div>
                <div class="login-qrContent">
                    
                </div>
                <div class="login-qrinfo">请使用微信扫描二维码登录</div>
                <div class="login-info">未注册用户验证后自动登录,登录即代表已阅读并同意 <a class="service-agreement" herf="http://ishare.iask.sina.com.cn/agreement.html" target="_blank">《服务协议》</a>与<a class="privacy-policy">《隐私政策》</a>
                </div>
                    <ul class="login-type-list">
                        <li class="login-type-qq">
                            <span class="icon qq-icon"></span>
                             <span class="login-desc">QQ</span>
                        </li>
                        <li class="login-type-weibo">
                             <span class="icon weibo-icon"></span>
                             <span class="login-desc">微博</span>
                       </li>
                       <li class="login-type-verificationCode">验证登录</li>
                       <li class="login-type-password">密码登录</li>
                  </ul>
               </div>
           </div>
   
</script>


<script type="text/template" id="tourist-purchase-dialog">
     <div class="login-dialog">
        <i class="close-btn"></i>

        <div class="tourist-purchase-conent">

        </div>
    </div>
</script>














