<!--弹框-->
<div class="dialog" id="dialog-box">
     <!--遮罩层 start-->
     <div id="bgMask" class="common-bgMask"></div>
     <!-- 登录dialog -->
     <script type="text/template" id="login-dialog">
          <div class="login-dialog">
               <i class="close-btn"></i>

               <div class="login-conent">
     
                    <div class="weixin-login">
                         <div class="login-title">
                              <img class="ishare-log" src="{{cdnUrl}}/images/login/logo.png">
                              <span class="login-desc">微信扫码登录</span>
                         </div>
                         <div class="login-qrContent">
                              <div class="login-qr"></div>
                              <div class="login-qr-invalidtip">
                                   <p class="qr-invalidtip">二维码已失效</p>
                                   <p class="qr-refresh">刷新</p>
                              </div>
                         </div>
                         <div class="login-qrinfo">请使用微信扫描二维码登录</div>
                         <div class="login-info">未注册用户验证后自动登录,登录即代表已阅读并同意 <a class="service-agreement" herf="http://ishare.iask.sina.com.cn/agreement.html" target="_blank">《服务协议》</a>与<a class="privacy-pooptioncy">《隐私政策》</a>
                         </div>
                         <ul class="login-type-list">
                              <li class="login-type-qq">
                                   <span class="icon qq-icon"></span>
                                   <span class="login-desc">QQ</span>
                              </li>
                              <li class="login-type-weibo">
                                   <span class="icon weibo-icon"></span>
                                   <span class="login-desc">微博</span>
                              </li>
                              <li class="login-type-verificationCode">验证登录</li>
                              <li class="login-type-password">密码登录</li>
                         </ul>
                    </div>

                    <div class="verificationCode-login">
                          <div class="login-title">
                              <img class="ishare-log" src="{{cdnUrl}}/images/login/logo.png">
                              <span class="login-desc">验证码扫码登录</span>
                         </div>
                         <div class="login-item mobile">
                              <div class="phone-choice">
                                   <div class="phone-num">
                                        <i class="add">+86</i>
                                        <i class="arrow-phone"></i>
                                   </div>
                                   <div class="phone-more">
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>86</em>
                                             </div>
                                             <em>中国大陆</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>852</em>
                                             </div>
                                             <em>中国香港</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>853</em>
                                             </div>
                                             <em>中国澳门</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>886</em>
                                             </div>
                                             <em>中国台湾</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>1</em>
                                             </div>
                                             <em>美国</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>1</em>
                                             </div>
                                             <em>加拿大</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>55</em>
                                             </div>
                                             <em>巴西</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>60</em>
                                             </div>
                                             <em>马来西亚</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>61</em>
                                             </div>
                                             <em>澳洲</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>81</em>
                                             </div>
                                             <em>日本</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>82</em>
                                             </div>
                                             <em>韩国</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>65</em>
                                             </div>
                                             <em>新加坡</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>44</em>
                                             </div>
                                             <em>英国</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>33</em>
                                             </div>
                                             <em>法国</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>7</em>
                                             </div>
                                             <em>俄罗斯</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>91</em>
                                             </div>
                                             <em>印度</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>49</em>
                                             </div>
                                             <em>德国</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>62</em>
                                             </div>
                                             <em>印尼</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>855</em>
                                             </div>
                                             <em>柬埔寨</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>95</em>
                                             </div>
                                             <em>缅甸</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>673</em>
                                             </div>
                                             <em>文莱</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>63</em>
                                             </div>
                                             <em>菲律宾</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>84</em>
                                             </div>
                                             <em>越南</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>856</em>
                                             </div>
                                             <em>老挝</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>66</em>
                                             </div>
                                             <em>泰国</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>92</em>
                                             </div>
                                             <em>巴基斯坦</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>90</em>
                                             </div>
                                             <em>土耳其</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>31</em>
                                             </div>
                                             <em>荷兰</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>39</em>
                                             </div>
                                             <em>意大利</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>34</em>
                                             </div>
                                             <em>西班牙</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>351</em>
                                             </div>
                                             <em>葡萄牙</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>20</em>
                                             </div>
                                             <em>埃及</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>966</em>
                                             </div>
                                             <em>沙特</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>380</em>
                                             </div>
                                             <em>乌克兰</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>974</em>
                                             </div>
                                             <em>卡塔尔</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>971</em>
                                             </div>
                                             <em>阿联酋</em>
                                        </a>
                                   </div>
                              </div>
                              <div class="input-moblie">
                                   <input   type="text" placeholder="请输入手机号"/>
                                   <span class="mobile-errortip">手机号错误</span>
                              </div>
                         </div>
                         <div class="login-item code">
                              <input class="verification-code" placeholder="请输入验证码"/>
                              <span class="getVerificationCode">获取验证</span>
                         </div>
                         <div class="login-item login-btn">登录</div>
                         <div class="login-info">未注册用户验证后自动登录,登录即代表已阅读并同意 <a class="service-agreement" herf="http://ishare.iask.sina.com.cn/agreement.html" target="_blank">《服务协议》</a>与<a class="privacy-pooptioncy">《隐私政策》</a>
                         </div>
                         <ul class="login-type-list">
                              <li class="login-type-qq">
                                   <span class="icon qq-icon"></span>
                                   <span class="login-desc">QQ</span>
                              </li>
                              <li class="login-type-weibo">
                                   <span class="icon weibo-icon"></span>
                                   <span class="login-desc">微博</span>
                              </li>

                              <li class="login-type-password">密码登录</li>
                         </ul>
                    </div>

                    <div class="password-login">
                           <div class="login-title">
                              <img class="ishare-log" src="{{cdnUrl}}/images/login/logo.png">
                              <span class="login-desc">验证码扫码登录</span>
                         </div>
                         <div class="login-item mobile">
                              <div class="phone-choice">
                                   <div class="phone-num">
                                        <i class="add">+86</i>
                                        <i class="arrow-phone"></i>
                                   </div>
                                   <div class="phone-more">
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>86</em>
                                             </div>
                                             <em>中国大陆</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>852</em>
                                             </div>
                                             <em>中国香港</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>853</em>
                                             </div>
                                             <em>中国澳门</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>886</em>
                                             </div>
                                             <em>中国台湾</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>1</em>
                                             </div>
                                             <em>美国</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>1</em>
                                             </div>
                                             <em>加拿大</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>55</em>
                                             </div>
                                             <em>巴西</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>60</em>
                                             </div>
                                             <em>马来西亚</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>61</em>
                                             </div>
                                             <em>澳洲</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>81</em>
                                             </div>
                                             <em>日本</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>82</em>
                                             </div>
                                             <em>韩国</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>65</em>
                                             </div>
                                             <em>新加坡</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>44</em>
                                             </div>
                                             <em>英国</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>33</em>
                                             </div>
                                             <em>法国</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>7</em>
                                             </div>
                                             <em>俄罗斯</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>91</em>
                                             </div>
                                             <em>印度</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>49</em>
                                             </div>
                                             <em>德国</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>62</em>
                                             </div>
                                             <em>印尼</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>855</em>
                                             </div>
                                             <em>柬埔寨</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>95</em>
                                             </div>
                                             <em>缅甸</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>673</em>
                                             </div>
                                             <em>文莱</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>63</em>
                                             </div>
                                             <em>菲律宾</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>84</em>
                                             </div>
                                             <em>越南</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>856</em>
                                             </div>
                                             <em>老挝</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>66</em>
                                             </div>
                                             <em>泰国</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>92</em>
                                             </div>
                                             <em>巴基斯坦</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>90</em>
                                             </div>
                                             <em>土耳其</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>31</em>
                                             </div>
                                             <em>荷兰</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>39</em>
                                             </div>
                                             <em>意大利</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>34</em>
                                             </div>
                                             <em>西班牙</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>351</em>
                                             </div>
                                             <em>葡萄牙</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>20</em>
                                             </div>
                                             <em>埃及</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>966</em>
                                             </div>
                                             <em>沙特</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>380</em>
                                             </div>
                                             <em>乌克兰</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>974</em>
                                             </div>
                                             <em>卡塔尔</em>
                                        </a>
                                        <a class="phone-ele">
                                             <div class="number-con">+<em>971</em>
                                             </div>
                                             <em>阿联酋</em>
                                        </a>
                                   </div>
                              </div>
                              <div class="input-moblie">
                                   <input   type="text" placeholder="请输入手机号"/>
                                   <span class="mobile-errortip">手机号错误</span>
                              </div>
                         </div>
                          <div class="input-moblie">
                                   <input placeholder="请输入验证码" type="password"/>
                                   <span class="mobile-errortip">手机号错误</span>
                              </div>
                          <input class="login-item login-password" />
                         <div class="login-item login-btn">登录</div>
                         <div class="login-info">未注册用户验证后自动登录,登录即代表已阅读并同意 <a class="service-agreement" herf="http://ishare.iask.sina.com.cn/agreement.html" target="_blank">《服务协议》</a>与<a class="privacy-pooptioncy">《隐私政策》</a>
                         </div>
                          <ul class="login-type-list">
                             <li class="login-type-weixin">
                                   <span class="icon weixin-icon"></span>
                                   <span class="login-desc"></span>
                              </li>
                              <li class="login-type-qq">
                                   <span class="icon qq-icon"></span>
                                   <span class="login-desc"></span>
                              </li>
                              <li class="login-type-weibo">
                                   <span class="icon weibo-icon"></span>
                                   <span class="login-desc"></span>
                              </li>

                              <li class="login-type-password">验证码登录</li>
                         </ul>
                    
                    </div>
               </script>

               <script type="text/template" id="tourist-purchase-dialog">
                    <div class="login-dialog">
                         <i class="close-btn"></i>

                         <div class="tourist-purchase-conent"></div>
                    </div>
               </script>