{{ each rightList as item i }}
<li data-id="{{ item.itemId }}" data-filename="{{ item.title }}" data-saleType="{{ item.score }}" data-fileCategoryID="{{ item.categoryLevel4 }}" data-fileCategoryName="{{ item.categoryLevel1 }}||{{ item.categoryLevel2 }}||{{ item.categoryLevel3 }}">
    <a href="/f/{{ item.itemId }}.html" target="_blank">
        <div class="info">
            <p>{{ item.title }}</p>
            <!-- <p>{{item.item_read_cnt ? item.item_read_cnt + '阅读' : ''}}</p> -->
        </div>
        <div class="pic">
            <img src="{{ item.coverUrl }}" alt="">
                <span class="ico-data pos ico-{{ item.categoryLevel5 }}"></span>
            </div>
        </a>
    </li>
{{/each}}
