<div class="table-wrapper">
    <table class="table-content" cellspacing="0" cellpadding="0" border="0">
        <colgroup>
            <col>
            <col width="160">
            <col width="140">
        </colgroup>
        <thead>
        <tr class="table-tr header">
            <th class="table-td" colspan="1" rowspan="1">说明</th>
            <th class="table-td" colspan="1" rowspan="1">日期</th>
            <th class="table-td" colspan="1" rowspan="1">爱问币</th>
        </tr>
        </thead>
    </table>
    {{ if dataList.length }}
    <table class="table-content" cellspacing="0" cellpadding="0" border="0">
        <colgroup>
            <col>
            <col width="160">
            <col width="140">
        </colgroup>
        <tbody>
        {{ each dataList }}
        <tr class="table-tr">
            <td class="table-td" colspan="1" rowspan="1">{{$value.action}}</td>
            <td class="table-td gray" colspan="1" rowspan="1">{{formatDate('yyyy-MM-dd hh:mm:ss',$value.createTime)}}</td>
            {{if $value.changeNumber >= 0}}
            <td class="table-td orange" colspan="1" rowspan="1">+{{$value.changeNumber}}</td>
            {{else}}
            <td class="table-td gray" colspan="1" rowspan="1">{{$value.changeNumber}}</td>
            {{/if}}
        </tr>
        {{ /each }}
        </tbody>
    </table>
    {{else}}
    <div class="table-nodata">暂无数据</div>
    {{/if}}
</div>
{{if totalPages > 1}}
<div class="paging-wrapper">
    <ul class="pagination-container cf jsIaskCoinPagination">
        {{if currentPage > 1}}
        <li class="page-item first" data-pagenum="1">首页</li>
        <li class="page-item prev" data-pagenum="{{currentPage - 1}}">上一页</li>
        {{/if}}
        {{each pagingList as pItem i}}
        <li class="page-item {{currentPage == pItem.value ? 'active' : ''}}" data-pagenum="{{pItem.value}}">
            {{pItem.label}}
        </li>
        {{/each}}
        {{if currentPage < totalPages}}
        <li class="page-item next" data-pagenum="{{currentPage + 1}}">下一页</li>
        <li class="page-item last" data-pagenum="{{totalPages}}">尾页</li>
        {{/if}}
    </ul>
</div>
{{/if}}
