<script type="text/javascript">
    //统一将360流量存入cookie 30分钟
      
    try {
     //   var is360 = '{{results.list.data.is360}}';
     var is360 = getParam('utm_source')
        var fid = '{{results.list.data.fileId}}';
        var referrer = document.referrer;
        if (is360 === '360oneboxold') {
            if (/https?\:\/\/[^\s]*so.com.*$/g.test(referrer) && !/https?\:\/\/[^\s]*wenku.so.com.*$/g.test(referrer)) {
                add360cookie(fid);
                add360cookie("360");
            }
        }
        //360文库合作
        if (/https?\:\/\/[^\s]*wenku.so.com.*$/g.test(referrer)){
            add360wkCookie();
        }
    } catch (e) {
    }

    //360流量百度统计代码
    try {
        if (is360cookie("360")) {
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?95dc6661b1470e0fcfff9eb008985892";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        }
    } catch (e) {
    }

    //360文库合作百度统计代码
    try {
        if (is360wkCookie()) {
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?d7434508541d3075e12743cf672b4f77";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        }
    } catch (e) {
    }
    function getParam(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            }
            return decodeURIComponent(results[1].replace(/\+/g, " "));
        }
</script>