<div class="pay-coupon-wrap">
    <div class="coupon-select">
        <div class="coupon-title">
            <i class="icon-title"></i>
            <p class="title-text">优惠券</p>
        </div>
        <div class="select-wrap">
            <i class="line-select"></i>
            <div class="select-text">
                <!--不可用增加样式no-user-text -->
                <p class="chose-ele">
                    <span class="no-user">无可用</span>
                </p>
            </div>
            <i class="arrow-select"></i>
            <div class="coupon-down">
                <div class="select-text">
                    <p class="select-ele"><span class="no-user">不使用优惠券</span></p>
                </div>
            </div>
        </div>
    </div>
</div>