<div class="give-coupon-wrap">
    <h2 class="give-title"></h2>
    <ul class="give-coupon-list cf">
       
    </ul>
    <a class="btn-receive">立即领取</a>
</div>
<div class="bottom-privilege hide" >
    <div class="bottom-p-item">
        <i class="icon-p icon-p-01"></i>
        专属下载特权
    </div>
    <div class="bottom-p-item">
        <i class="icon-p icon-p-02"></i>
        VIP免费专区
    </div>
    <div class="bottom-p-item">
        <i class="icon-p icon-p-03"></i>
        现金文档购买折扣
    </div>
    <div class="bottom-p-item">
        <i class="icon-p icon-p-04"></i>
        千万文档免费下载
    </div>
    <a class="join-vip-link pc_click js-buy-open" data-type="vip" pcTrackContent="joinVip-4" bilogContent="paySuccessOpenVip">立即开通VIP&gt;</a>
</div>
<div class="carding-er-code fr" style="display:none">
    <div class="er-line"></div>
    <h3 class="bottom-title">扫码关注微信服务号</h3>
    <p class="bottom-zs">更多福利优先领取</p>
    <div class="er-pic">
        <img src="{{cdnUrl}}/images/pic_code_150x150.jpg">
    </div>
</div>
<div class="dialog-coupon dialog-coupon-success">
    <div class="mask-coupon"></div>
    <p class="receive-text"><i class="icon-info icon-success"></i><span>恭喜你，优惠券领取成功！</span></p>
</div>
<div class="dialog-coupon dialog-coupon-fail">
    <div class="mask-coupon"></div>
    <p class="receive-text"><i class="icon-info icon-error"></i><span>没领到哦，你的优惠券领取已达上限！</span></p>
</div>
