<!--遮罩层 start-->
<div id="bgMask" class="common-bgMask"></div>
<!--遮罩层 end-->
<!--温馨提示弹出层-->
<div class="pc-dialog common-dialog hide" >
    <a href="javascript:;" class="close" title="关闭"></a>
    <div class="dialog-con">
        <h2 class="dialog-title">温馨提示</h2>
        <div class="info-text-wrap">
            <p class="error-text"><i class="icon-info icon-error"></i><span name="content">选择或填写下载券数量必须是整数</span></p>
        </div>
        <div class="btn-dialog-wrap">
            <a class="btn-dialog btn-green ok">确定</a>
        </div>
    </div>
</div>