<div class="website-footer">
   <div class="footer-content">
        <div class="footer-link">
        <a class="website-home-link" href="/" target="_blank">
            <img class="website-icon">
        </a>
         <div class="copy-link">
            <p class="footer-nav">
                <a href="/agreement.html" rel="nofollow" target="_blank">网站声明   <span>|<span></a>
                <a href="/infringement.html" rel="nofollow" target="_blank">侵权处理 <span>|<span></a>
                <a href="//iask.sina.com.cn/helpCenter/ishare.html" rel="nofollow" target="_blank">投诉中心 <span>|<span></a>
                <a href="//iask.sina.com.cn" rel="nofollow" target="_blank">爱问首页 <span>|<span></a>
                <a href="/sitemap.html" rel="nofollow" target="_blank">网站地图 <span>|<span></a>
            </p>
            <p class="copy-txt">Copyright © 1996-2020 IASK Corporation, All Right Reserved</p>
        </div>
   </div>
   <ul class="footer-qrcode-items">
        <li class="qrcode-item">
            <img class="qrcode-item-img">
            <p class="qrcode-item-desc">扫描下载爱问APP</p>
        </li>
        <li class="qrcode-item">
            <img class="qrcode-item-img">
            <p class="qrcode-item-desc">关注官方微信公众号掌握更多办公技能</p>
        </li>
        <li class="qrcode-item">
            <img class="qrcode-item-img">
            <p class="qrcode-item-desc">关注爱问办公微博了解最新办公资讯</p>
        </li>
   </ul>
   </div>
</div>