<!--弹框-->
<div class="dialog" id="dialog-box">
     <!--遮罩层 start-->
     <div id="bgMask" class="common-bgMask"></div>
</div>


<!-- 登录dialog -->
<script type="text/template" id="login-dialog">
     <div class="login-dialog">
          <i class="close-btn"></i>
          <iframe id="I_SHARE" class="login-form" src="{{loginUrl}}/login.html"></iframe>
     </div>     
</script>


<!-- 游客购买dialog -->
<script type="text/template" id="tourist-purchase-dialog">
          <div class="tourist-purchase-dialog">
               <i class="close-btn"></i>

               <div class="tourist-purchase-container">
                    <ul class="tabs">
                         <li class="tab login-purchase tab-active" data-type="login-purchase">登录购买 <span class="border-bottom"></span></li>
                         <li class="tab tourist-purchase" data-type="tourist-purchase">游客购买 <span class="border-bottom"></span></li>
                    </ul>
                    
                    <iframe id="I_SHARE_T0URIST_PURCHASE" class="login-form" src="{{loginUrl}}/tourist-purchase.html"></iframe>
                    <div class="tourist-purchase-content">
                         <div class="file-summary">
                              <span class="file-icon icon ico-data"></span>
                              <span class="file-desc"></span>
                         </div>
                         <div class="file-price-summary">
                              <span class="file-price">应付金额：<em class="price"></em>
                              </span>元
                                    </div>
                         <div class="tourist-purchase-qrContent">
                              <div class="tourist-purchase-qr">
                                   <div id="touristPayQrCode"></div>
                              </div>
                              <div class="tourist-purchase-invalidtip"></div>
                              <p class="tourist-purchase-qr-invalidtip">二维码已失效</p>
                              <p class="tourist-purchase-btn">已支付</p>
                              <p class="tourist-purchase-refresh">刷新二维码</p>
                         </div>
                         <div class="qrcode-tip">请使用微信或支付宝扫描支付</div>
                         <div class="tourist-purchase-tip">
                           <span class="tourist-purchase-text">已支付无法下载</span>
                           <a class="tourist-purchase-download" target="_blank" href="/node/queryOrder">点击获取资料</a>
                         </div>

                         <div class="tourist-purchase-footer">
                           扫码即代表已阅读并同意<a href="https://iask.sina.com.cn/helpCenter/5d8de2c0474e311ca8200e99.html" target="_blank">《下载风险提示》</a>
                         </div>
                    </div>

                    
               </div>
          </div>
     </script>



<!-- 游客登录dialog -->
  <div  id="tourist-login" style="display:none;">
        <iframe id="I_SHARE_T0URIST_LOGIN" class="login-form" src="{{loginUrl}}/tourist-login.html"></iframe>  
  </div>  