<script type="text/javascript">
//读 cookie
function getCookie(name){
    var arr = document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));
    if(arr !== null){
        return unescape(arr[2]);
    }
    return null;
}

function setCookieWithExp (name,value,timeOut,path){
    var exp = new Date();
    exp.setTime(exp.getTime() + timeOut);
    if (path) {
        document.cookie = name + "="+ escape (value) + ";path="+path+";expires=" + exp.toGMTString();
    } else {
        document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();
    }
}

//添加 360 cookie
function add360cookie(val) {
    var that = this;
    //如果不是360的cookie
    if (that.is360cookie(val)) {
        return;
    }
    var rso = that.getCookie('_r_so');
    var split = null;
    if (rso) {
        var split = rso.split("_");
        if (split.length > 10) {
            split.shift();
        }
        split.push(val);
    } else {
        split = [val];
    }
    that.setCookieWithExp('_r_so', split.join('_'), 1000 * 60 * 30,'/');
}
//获取 360 cookie
function is360cookie(val){
    var rso = getCookie('_r_so');
    if(rso){
        var split = rso.split("_");
        for (var i=0;i<split.length;i++) {
            if(split[i] == val){
                return true;
            }
        }
    }
    return false;
}
//判断360文库 cookie
function is360wkCookie(){
    return getCookie("_360hz") == null?false:true;
}
//添加360文库 cookie
function add360wkCookie(){
    setCookieWithExp('_360hz', '1',1000*60*30, '/');
}
</script>