<div class="phone-choice">
    <div class="phone-num"><span>+</span><em>86</em><i class="add"></i></div>
    <div class="phone-more">
        <a class="phone-ele"><span class="number-con">+<em>86</em></span>中国大陆</a>
        <a class="phone-ele"><span class="number-con">+<em>852</em></span>中国香港</a>
        <a class="phone-ele"><span class="number-con">+<em>853</em></span>中国澳门</a>
        <a class="phone-ele"><span class="number-con">+<em>886</em></span>中国台湾</a>
        <a class="phone-ele"><span class="number-con">+<em>1</em></span>美国</a>
        <a class="phone-ele"><span class="number-con">+<em>1</em></span>加拿大</a>
        <a class="phone-ele"><span class="number-con">+<em>55</em></span>巴西</a>
        <a class="phone-ele"><span class="number-con">+<em>60</em></span>马来西亚</a>
        <a class="phone-ele"><span class="number-con">+<em>61</em></span>澳洲</a>
        <a class="phone-ele"><span class="number-con">+<em>81</em></span>日本</a>
        <a class="phone-ele"><span class="number-con">+<em>82</em></span>韩国</a>
        <a class="phone-ele"><span class="number-con">+<em>65</em></span>新加坡</a>
        <a class="phone-ele"><span class="number-con">+<em>44</em></span>英国</a>
        <a class="phone-ele"><span class="number-con">+<em>33</em></span>法国</a>
        <a class="phone-ele"><span class="number-con">+<em>7</em></span>俄罗斯</a>
        <a class="phone-ele"><span class="number-con">+<em>91</em></span>印度</a>
        <a class="phone-ele"><span class="number-con">+<em>49</em></span>德国</a>
        <a class="phone-ele"><span class="number-con">+<em>62</em></span>印尼</a>
        <a class="phone-ele"><span class="number-con">+<em>855</em></span>柬埔寨</a>
        <a class="phone-ele"><span class="number-con">+<em>95</em></span>缅甸</a>
        <a class="phone-ele"><span class="number-con">+<em>673</em></span>文莱</a>
        <a class="phone-ele"><span class="number-con">+<em>63</em></span>菲律宾</a>
        <a class="phone-ele"><span class="number-con">+<em>84</em></span>越南</a>
        <a class="phone-ele"><span class="number-con">+<em>856</em></span>老挝</a>
        <a class="phone-ele"><span class="number-con">+<em>66</em></span>泰国</a>
        <a class="phone-ele"><span class="number-con">+<em>92</em></span>巴基斯坦</a>
        <a class="phone-ele"><span class="number-con">+<em>90</em></span>土耳其</a>
        <a class="phone-ele"><span class="number-con">+<em>31</em></span>荷兰</a>
        <a class="phone-ele"><span class="number-con">+<em>39</em></span>意大利</a>
        <a class="phone-ele"><span class="number-con">+<em>34</em></span>西班牙</a>
        <a class="phone-ele"><span class="number-con">+<em>351</em></span>葡萄牙</a>
        <a class="phone-ele"><span class="number-con">+<em>20</em></span>埃及</a>
        <a class="phone-ele"><span class="number-con">+<em>966</em></span>沙特</a>
        <a class="phone-ele"><span class="number-con">+<em>380</em></span>乌克兰</a>
        <a class="phone-ele"><span class="number-con">+<em>974</em></span>卡塔尔</a>
        <a class="phone-ele"><span class="number-con">+<em>971</em></span>阿联酋</a>
    </div>
</div>

<div class="binding-input-con">
    <input type="text" class="text-input" id="mobile" placeholder="请输入手机号"/>
</div>