<div class="fixed-right-full">
    <div class="fixed-op">
        <div class="op-menu-wrap">
            <a href="javascript:;" class="op-menu-ele op-vip J_menu" title="VIP权益" bilogContent="vipRights">
                <i class="icon-op-fixed"></i>
                <p>VIP<br>权益</p>
            </a>
            <a href="javascript:;" class="op-menu-ele op-look J_menu" title="我看过的" bilogContent="seen">
                <i class="op-line"></i>
                <i class="icon-op-fixed"></i>
                <p>我看<br>过的</p>
            </a>
            <a href="javascript:;" class="op-menu-ele  myUpload J_menu" title="我的上传" bilogContent="mark">
                <i class="op-line"></i>
                <i class="icon"></i>
                {# <p>我的<br>收藏</p> #}
                <p>我的<br>上传</p>
            </a>
           <!-- <a href="javascript:;" class="op-menu-ele op-task hide" title="任务有礼">
               <i class="op-line"></i>
               <i class="icon-op-fixed"></i>
               <p>任务<br>有礼</p>
          </a> -->
            <div class="op-menu-ele op-contact J_menu" bilogContent="customerService">
                <i class="op-line"></i>
                <i class="icon-op-fixed"></i>
                <p>联系<br>客服</p>
                <div class="mui-more-wrap mui-more-contact">
                    <div class="more-inter">
                        <i class="before"></i>
                        <i class="after"></i>
                        <div class="contact-item contact-server">
                            <h4 class="title-group"><i class="icon-mui-contact"></i>在线客服</h4>
                            <p>工作日：10:00-18:00</p>
                            <a class="btn-mui-contact">联系客服</a>
                        </div>
                        <div class="contact-item contact-qa">
                            <h4 class="title-group"><a href="//iask.sina.com.cn/helpCenter/ishare.html" rel="nofollow" target="_blank"><i class="icon-mui-contact"></i>常见问题 &gt;</a></h4>
                        </div>
                    </div>
                </div>
            </div>
             <div class="op-menu-ele op-follow J_menu downApp" bilogContent="downApp">
                <i class="op-line"></i>
                <i class="icon"></i>
                  <p>下载<br>APP</p>
                <div class="mui-more-wrap mui-more-er-code">
                    <div class="more-inter">
                        <i class="before"></i>
                        <i class="after"></i>
                        <div class="er-code-pic">
                            <img  src="{{cdnUrl}}/images/app-qrcode.png">
                        </div>
                        <p class="downApp-desc">扫码下载APP</p>
                        <p class="downApp-tip">资料同步不丢失</p>
                    </div>

                </div>
            </div>
            <a class="op-menu-ele op-feedback" target="_blank" title="意见反馈" bilogContent=''>
                <i class="op-line"></i>
                <i class="icon-op-fixed"></i>
                <p>投诉<br>反馈</p>
            </a>
            <div class="op-menu-ele op-follow J_menu" bilogContent="follow">
                <i class="op-line"></i>
                <i class="icon-op-fixed"></i>
                <p>关注<br>领奖</p>
                <div class="mui-more-wrap mui-more-er-code">
                    <div class="more-inter">
                        <i class="before"></i>
                        <i class="after"></i>
                        <div class="er-code-pic">
                            <img src="{{cdnUrl}}/images/pic_code_150x150.jpg">
                        </div>
                        <p>扫码关注免费领模板</p>
                    </div>

                </div>
            </div>
        </div>
        <a href="javascript:;" class="btn-back-top" id="go-back-top" title="返回顶部">
            <i class="op-line"></i>
            <i class="icon-op-fixed"></i>
        </a>
    </div>
    <div class="fixed-detail-wrap">
        <!--vip 特权区域  start -->
        <!--非vip 状态  vip状态 新增样式 mui-user-vip-wrap -->
        <div class="mui-user-wrap" style="visibility: visible;">
            <div class="detail-container">
                <div class="head-group">
                    <a class="btn-detail-back"><i class="icon-op-fixed"></i></a>
                    <h2 class="head-title" id="memProfit">会员权益</h2>
                </div>
            </div>
            <div class="mui-vip-warp">
                <div class="user-avatar">
                    <a href="/ucenter/vips">
                        <img src="" alt="头像">
                    </a>
                </div>
                <div class="user-meta">
                    <div class="meta-name cf">
                        <a class="name-wrap">Hi，<span class="name-text"></span></a>
                        <i class="icon-op-fixed icon-mui-vip"></i>
                    </div>
                    <!--非vip 文字 -->
                    <p class="detail-right-normal-wel">欢迎来到爱问共享资料</p>

                </div>
            </div>
            <div class="mui-privilege-wrap">
                <div class="privilege-head">
                    <div class="privilege-title">
                        <i class="line-privilege"></i>
                        <!--非vip 文字  -->
                        <span class="detail-right-vip-wel">开通VIP 立即尊享会员权益</span>
                    </div>
                </div>
                <ul class="mui-privilege-list">
                    <li class="li-01">
                        <i class="icon-op-fixed"></i>
                        <p class="text">专享<br>下载特权</p>
                    </li>
                    <li class="li-02">
                        <i class="icon-op-fixed"></i>
                        <p class="text">现金文档<br>8折起</p>
                    </li>
                    <li class="li-03">
                        <i class="icon-op-fixed"></i>
                        <p class="text">VIP专区<br>免费下载</p>
                    </li>
                    <li class="li-04">
                        <i class="icon-op-fixed"></i>
                        <p class="text">千万文档<br>免费下载</p>
                    </li>
                    <li class="li-05">
                        <i class="icon-op-fixed"></i>
                        <p class="text">VIP<br>悬赏通道</p>
                    </li>
                    <li class="li-06">
                        <i class="icon-op-fixed"></i>
                        <p class="text">专属客服</p>
                    </li>
                    <li class="li-07 hide">
                        <i class="icon-op-fixed"></i>
                        <p class="text">会员<br>尊贵标识</p>
                    </li>
                    <li class="li-08 hide">
                        <i class="icon-op-fixed"></i>
                        <p class="text">上传文档<br>扩容</p>
                    </li>
                    <li class="li-09 hide">
                        <i class="icon-op-fixed"></i>
                        <p class="text">优选内容<br>推荐</p>
                    </li>
                    <li class="li-10 hide">
                        <i class="icon-op-fixed"></i>
                        <p class="text">VIP<br>专享活动</p>
                    </li>
                    <li class="li-11 hide">
                        <i class="icon-op-fixed"></i>
                        <p class="text">上传内容自定义<br>预览</p>
                    </li>
                    <li class="li-12 hide">
                        <i class="icon-op-fixed"></i>
                        <p class="text">多终端互通</p>
                    </li>
                    <li class="li-13 hide">
                        <i class="icon-op-fixed"></i>
                        <p class="text">办公频道<br>无广告浏览</p>
                    </li>
                </ul>
                <!-- vip 文字 "续费VIP",非vip 文字 "开通VIP" -->
                <a class="btn-mui js-buy-open pc_click" pcTrackContent="joinVip-12" data-type="vip">开通VIP</a>
            </div>
        </div>
        <!--我看过的 start -->
        <div class="mui-sel-wrap" style="visibility: hidden;">
            <div class="detail-container">
                <div class="head-group">
                    <a class="btn-detail-back"><i class="icon-op-fixed"></i></a>
                    <h2 class="head-title">我看过的</h2>
                </div>
                <div class="mui-data-wrap">
                    <h4 class="mui-data-title">格式/名称</h4>
                    <ul class="mui-data-list" id="seenRecord">
                        <li>
                        </li>
                    </ul>
                    <!--为空提示 -->
                    <div class="mui-data-null hide">
                        <div class="data-null-pic">
                            <img src="{{cdnUrl}}/images/icon_ky_none.png">
                        </div>
                        <p>您还没有浏览的资料哦~</p>
                        <p>快去寻找自己想要的资料吧</p>
                    </div>
                </div>
            </div>
        </div>

        <!--我的收藏 -->
        <div class="mui-collect-wrap" style="visibility: hidden;">
            <div class="detail-container">
                <div class="head-group">
                    <a class="btn-detail-back"><i class="icon-op-fixed"></i></a>
                    <h2 class="head-title">我的收藏</h2>
                </div>
                <div class="mui-data-wrap">
                    <h4 class="mui-data-title">格式/名称</h4>
                    <ul class="mui-data-list" id="myCollect">
                    </ul>
                    <div class="btn-mui-fix hide">
                        <a href="/ucenter/mycollect" class="btn-mui-more">查看全部 &gt;</a>
                    </div>
                    <!--为空提示 -->
                    <div class="mui-data-null hide">
                        <div class="data-null-pic">
                            <img src="{{cdnUrl}}/images/icon_ky_none.png">
                        </div>
                        <p>您还没有收藏的资料哦~</p>
                        <p>收藏资料后可随时找到自己喜欢的内容</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
