<!-- 游客购买dialog -->
<script type="text/template" id="tourist-purchase-dialog">
    <div class="tourist-purchase-dialog">
        <i class="close-btn"></i>
        <div class="tourist-purchase-container">
            <ul class="tabs">
                <li class="tab login-purchase" data-type="login-purchase">登录购买
                    <span class="border-bottom"></span>
                </li>
                <li class="tab tourist-purchase tab-active" data-type="tourist-purchase">游客购买
                    <span class="border-bottom"></span>
                </li>
            </ul>
            <div class="login-content">
                <div class="weixin-login">
                    <div class="login-title">
                        <img class="ishare-log" src="{{ cdnUrl }}/images/login/logo.png">
                            <span class="login-desc">微信扫码登录</span>
                        </div>
                        <div class="login-qrContent">
                            <div class="login-qr">
                                <img class="qrcode-default" src="{{ cdnUrl }}/images/login/qrcode-default.gif">
                                    <img id="login-qr" src=""></div>
                                    <div class="login-qr-invalidtip"></div>
                                    <p class="qr-invalidtip">二维码已失效</p>
                                    <p class="qr-refresh">刷新</p>
                                </div>
                                <div class="login-qrinfo">请使用微信扫描二维码登录</div>
                                <div class="login-redpacket">
                                    <span class="redpacket-icon"></span>
                                    <span class="redpacket-desc">微信扫码登录成功，抢大额红包</span>
                                </div>
                                <div class="login-info">未注册用户验证后自动登录,登录即代表已阅读并同意
                                    <a class="service-agreement" href="https://iask.sina.com.cn/helpCenter/5e15b6f4474e3171f58ae2c1.html" target="_blank">
                                        《爱问用户协议》</a>与
                                    <a class="privacy-pooptioncy" href="https://iask.sina.com.cn/helpCenter/5e15a829474e3171f58ae2ae.html" target="_blank">
                                        《隐私政策》</a>
                                </div>
                                <ul class="login-type-list">
                                    <li class="login-type-qq login-type" data-logintype="qq">
                                        <span class="icon qq-icon"></span>
                                        <span class="login-desc">QQ</span>
                                    </li>
                                    <li class="login-type-weibo login-type" data-logintype="weibo">
                                        <span class="icon weibo-icon" data-logintype="weibo"></span>
                                        <span class="login-desc">微博</span>
                                    </li>
                                    <li class="login-type-verificationCode">验证码登录</li>
                                    <li class="login-type-password">密码登录</li>
                                </ul>
                            </div>
                            <div class="verificationCode-login">
                                <div class="login-title">
                                    <img class="ishare-log" src="{{ cdnUrl }}/images/login/logo.png">
                                        <span class="login-desc">验证码登录</span>
                                    </div>
                                    <div class="verificationCode-login-errortip errortip">
                                        <span class="error-icon"></span>
                                        <span class="error-tip"></span>
                                    </div>
                                    <div class="login-item mobile">
                                        <div class="phone-choice">
                                            <div class="phone-num">
                                                <i class="add">+86</i>
                                                <i class="arrow-phone"></i>
                                            </div>
                                            {% include "./phone-more.html" %}
                                        </div>
                                        <div class="input-mobile">
                                            <input type="text" class="telphone" placeholder="请输入手机号"/>
                                            <span class="mobile-errortip">手机号错误</span>
                                        </div>
                                    </div>
                                    <div class="login-item code">
                                        <input class="verification-code" placeholder="请输入验证码"/>
                                        <span class="verification-code-tip">验证码错误</span>
                                        <span class="getVerificationCode" data-authenticationCodeType='0'>获取验证码</span>
                                    </div>
                                    <div class="login-item login-btn login-btn-disable" data-logintype="verificationCode">登录</div>
                                    <div class="login-info">未注册用户验证后自动登录,登录即代表已阅读并同意
                                        <a class="service-agreement" href="https://iask.sina.com.cn/helpCenter/5e15b6f4474e3171f58ae2c1.html" target="_blank">
                                            《爱问用户协议》</a>与
                                        <a class="privacy-pooptioncy" href="https://iask.sina.com.cn/helpCenter/5e15a829474e3171f58ae2ae.html" target="_blank">
                                            《隐私政策》</a>
                                    </div>
                                    <ul class="login-type-list">
                                        <li class="login-type-weixin">
                                            <span class="icon weixin-icon"></span>
                                            <span class="login-desc"></span>
                                        </li>
                                        <li class="login-type-qq login-type" data-logintype="qq">
                                            <span class="icon qq-icon"></span>
                                            <span class="login-desc"></span>
                                        </li>
                                        <li class="login-type-weibo login-type" data-logintype="weibo">
                                            <span class="icon weibo-icon"></span>
                                            <span class="login-desc"></span>
                                        </li>
                                        <li class="login-type-password">密码登录</li>
                                    </ul>
                                </div>
                                <div class="password-login">
                                    <div class="login-title">
                                        <img class="ishare-log" src="{{ cdUrl }}/images/login/logo.png">
                                            <span class="login-desc">密码登录</span>
                                        </div>
                                        <div class="password-login-errortip errortip">
                                            <span class="error-icon"></span>
                                            <span class="error-tip"></span>
                                        </div>
                                        <div class="login-item mobile">
                                            <div class="phone-choice">
                                                <div class="phone-num">
                                                    <i class="add">+86</i>
                                                    <i class="arrow-phone"></i>
                                                </div>
                                                {% include "./phone-more.html" %}
                                            </div>
                                            <div class="input-mobile">
                                                <input type="text" class="telphone" placeholder="请输入手机号"/>
                                                <span class="mobile-errortip">手机号错误</span>
                                            </div>
                                        </div>
                                        <div class="login-item password">
                                            <input class="login-password text-input" style="display:none;"/>
                                            <input class="login-password password-input" type="password"/>
                                            <span class="close-eye"></span>
                                            <span class="eye"></span>
                                            <span class="mobile-errortip" style="display:none;">密码错误</span>
                                        </div>
                                        <div class="login-item login-btn login-btn-disable" data-logintype="password">登录</div>
                                        <div class="login-info">未注册用户验证后自动登录,登录即代表已阅读并同意
                                            <a class="service-agreement" href="https://iask.sina.com.cn/helpCenter/5e15b6f4474e3171f58ae2c1.html" target="_blank">
                                                《爱问用户协议》</a>与
                                            <a class="privacy-pooptioncy" href="https://iask.sina.com.cn/helpCenter/5e15a829474e3171f58ae2ae.html" target="_blank">
                                                《隐私政策》</a>
                                        </div>
                                        <ul class="login-type-list">
                                            <li class="login-type-weixin">
                                                <span class="icon weixin-icon"></span>
                                                <span class="login-desc"></span>
                                            </li>
                                            <li class="login-type-qq login-type" data-logintype="qq">
                                                <span class="icon qq-icon"></span>
                                                <span class="login-desc"></span>
                                            </li>
                                            <li class="login-type-weibo login-type" data-logintype="weibo">
                                                <span class="icon weibo-icon"></span>
                                                <span class="login-desc"></span>
                                            </li>
                                            <li class="login-type-verificationCode">验证码登录</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tourist-purchase-content">
                                    <div class="file-summary">
                                        <span class="file-icon icon ico-data"></span>
                                        <span class="file-desc"></span>
                                    </div>
                                    <div class="file-price-summary">
                                        <span class="file-price">应付金额：<em class="price"></em>
                                        </span>元
                                    </div>
                                    <div class="tourist-purchase-qrContent">
                                        <div class="tourist-purchase-qr">
                                            <div id="touristPayQrCode"></div>
                                        </div>
                                        <div class="tourist-purchase-invalidtip"></div>
                                        <p class="tourist-purchase-qr-invalidtip">二维码已失效</p>
                                        <p class="tourist-purchase-refresh">刷新二维码</p>
                                    </div>
                                    <div class="qrcode-tip">请使用微信或支付宝扫描支付</div>
                                    <div class="tourist-purchase-tip">
                                        <span class="tourist-purchase-text">已支付无法下载?请</span>
                                        <div class="tourist-purchase-download">查询支付状态</div>
                                        <span style="margin-left: 6px;">或</span>
                                        <a
                                            style=" display: inline-block;font-size: 14px;font-weight: 400;color: #FFFFFF;line-height: 35px;margin-left: 6px;color:
                                                #F25226;cursor: pointer;"
                                            target="_blank"
                                            href="/node/queryOrder">查询订单</a>
                                    </div>
                                    <div class="tourist-purchase-footer">
                                        扫码即代表已阅读并同意<a href="https://iask.sina.com.cn/helpCenter/5d8de2c0474e311ca8200e99.html" target="_blank">《下载风险提示》</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </script>
