<!-- 游客登录dialog -->
<div id="tourist-login" style="display:none;">
    <div class="tourist-login">
        <div class="login-qrContent">
            <div class="login-qr">
                <img class="qrcode-default" src="{{ cdnUrl }}/images/login/qrcode-default.gif">
                <img id="login-qr" src=""/>
            </div>
            <div class="login-qr-invalidtip"></div>
            <p class="qr-invalidtip">二维码已失效</p>
            <p class="qr-refresh">刷新</p>
        </div>
        <div class="login-qrinfo">
            <span class="wechat-icon"></span>
            <span class="wechat-icon-desc">请使用微信扫描二维码登录</span>
        </div>
        <div class="login-info">未注册用户验证后自动登录,登录即代表已阅读并同意
            <a class="service-agreement" href="https://iask.sina.com.cn/helpCenter/5e15b6f4474e3171f58ae2c1.html" target="_blank">
                《爱问用户协议》</a>与
            <a class="privacy-pooptioncy" href="https://iask.sina.com.cn/helpCenter/5e15a829474e3171f58ae2ae.html" target="_blank">
                《隐私政策》</a>
        </div>
    </div>
</div>
