<div class="top-user-more">
    <div class="user-bar">
        <i class="before"></i>
        <i class="after"></i>
        <img class="user-img  user-head-image" />
        <div class="user-info  ">
            <div class="name-con cf">
                <p class="fl name user-name"></p>
                <i class="icon-iShare icon-vip user-vip"></i>
            </div>
            <div class="vip-status">

                <p class="vip-text" data-type="0" style="display: none;">开通VIP，会员享专属特权</p>
                <p class="vip-text" data-type="1" style="display: none;">您的VIP将于<span
                        class="expire_time">2020-3-12</span>到期</p>
                <p class="vip-text" data-type="2" style="display: none;">您的VIP权益已过期</p>
            </div>
            <a class="btn-user-more ishareTrackEventCls" isharetrackcontent="joinVipBtn4" href="/pay/vip.html"
                target="_blank">开通</a>
        </div>
        <ul class="privilege-list">
            <li class="li-01"><i class="icon-privilege"></i>赠专享资料下载特权</li>
            <li class="li-02"><i class="icon-privilege"></i>付费资料8折起</li>
            <li class="li-03"><i class="icon-privilege"></i>海量资料免费下</li>
            <li class="li-04"><i class="icon-privilege"></i>专属身份标识</li>
        </ul>
    </div>
    <div class="top-entry">
        <a class="entry-ele center-ele entry-downloads" href="/node/personalCenter/home.html"
            target="_blank"><i class="icon-entry"></i>个人中心</a>
        <a class="entry-ele my-collect-ele entry-collects" href="/node/personalCenter/mycollection.html"
            target="_blank"><i class="icon-entry"></i>我的收藏</a>
        <a class="entry-ele my-upload-ele entry-uploads" href="/node/personalCenter/myuploads.html"
            target="_blank"><i class="icon-entry"></i>我的上传</a>
        {# <a class="entry-ele my-task entry-task" href="/ucenter/sign" target="_blank"><i
                class="icon-entry"></i>我的任务</a> #}
        <a class="btn-exit" href="javascript:logout();">退出</a>
    </div>
</div>



<script>

    // seajs.use(["dist/application/app.js", "dist/common/userMoreMsg.js"]);

</script>