

<div class="new-detail-header">
    <div class="pw">
        <div class="new-header-inter">
            <a class="logo fl" href="/"><img src="{{cdnUrl}}/images/new_detail_logo.jpg"></a>
            <div class="header-right fl">
                <div class="new-search fl cf">
                    <input type="text" class="new-input" id="search-detail-input" autocomplete="off"
                        placeholder="请输入搜索内容">
                    <a class="btn-new-search"><i class="icon-detail"></i>搜索资料</a>
                    <div class="detail-lately">
                        <ul class="lately-list">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="f1 vip-join-con">
                <img src="{{cdnUrl}}/images/tui_open.gif"/>
            </div>
            <div class="new-header-right fr">
                <div class="user-info fl">
                    <!--未登录 -->
                    <div class="user-con" id="unLogin">
                        <a class="user-link user-login">
                            <div class="user-img"></div>
                            <span class="login-text pc_click" pcTrackContent="detailTopLogin">登录</span>
                        </a>
                    </div>
                    <!--已登录 -->
                    <div class="user-con" id="haveLogin" style="display: none;">
                        <a class="user-link" href="/node/personalCenter/vip.html" target="_blank">
                            <i class="icon-detail"></i>
                            <div class="user-img">
                                <img src="" alt="头像">
                                
                            </div>
                            <span class="user-name"></span>
                            <span class="user-loginType"></span>
                        </a>
            
                          <div class="user-more">
                            <i class="before"></i>
                            <i class="after"></i>
                            {% if results.noPersonalCenter %}

                            {%else%}
                           
                            <a href="/node/personalCenter/home.html" target="_blank">个人中心</a>
                            {%endif%}
                            <a class="loginOut">退出</a>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>