<div id="Sign-dialog" class="hide">
    <div class="wechatSign-dialog common-dialog " >
        <a href="javascript:;" class="close-btn" title="关闭"></a>
        <div class="dialog-con">
            <h2 class="dialog-title"><i class="icon-wechat"></i>微信签到领福利</h2>
            <div class="info-text">
               <p>连续签到可获得免费优质资料、现金券、VIP等好礼 <br>
                快来扫码签到吧</p>
            </div>
            <div class="qrCode">
                <div class="appImg"></div>
            </div>
           <div class="bottom-text">
            微信扫码打开小程序签到
           </div>
        </div>
    </div>
</div>
