<!--资料不存在或者私有-->

<div class="detail-error-container">
<div class="detail-error">
    <img class="img" src="{{cdnUrl}}/images/detail/detail-error.png">
    <div class="detail-error-desc">
        {% if results.isPrivate %}
       <p class="error-desc">私密资料暂无权限查看</p>
        {% else %}
       <p class="error-desc">资料已删除，无法查看</p>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?b5fce084e98cfd45c3ebafca1296dcd4";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
        {% endif %}
         <a class="error-btn" href="/search/home.html{{results.searchQuery}}">搜索资料</a>
    </div>
</div>
</div>