<!--仅供在线阅读提示 -->
<div id="footer-btn">
    {% if results.list.data.productType == "3" %}
        <div class="data-item ">
            <span class="online-read">仅供在线阅读</span>
        </div>
        <div class="integral-con ">
            <a class="btn-fix-vip js-buy-open  pc_click" pcTrackContent="joinVip-2" bilogContent="fileDetailBottomOpenVip8" loginOffer="joinVip-2" data-type="vip">开通VIP，享更多特权</a>
        </div>
    {%else%}
            <!-- VIP文档.results.list.data.productType-->
            {% if results.list.data.productType == 4%}
                <div class="integral-con ">
                   <a class="btn-fix-bottom  pc_click" pcTrackContent="downloadBtn-3" bilogContent="fileDetailBottomDown" data-toggle="download">立即下载</a>
                </div>
            {%else%}
                <!--现金文档-->
                {% if results.list.data.productType == "5" %}
                        <!-- 现金打折文档-->
                        {% if results.list.data.vipDiscountFlag == 1 %}
                            <div class="integral-con ">
                                <div class="price-con price-more ">
                                    <!--现金文档价格 -->
                                    <span class="price-desc">售价:</span>
                                    <p class="price" style="">¥ {{results.list.data.productPrice}}</p>
                                    <!--现金文档 有折扣 非vip会员 -->
                                    <p class="vip-sale-price">会员价&yen;<span class="js-original-price"></span></p>
                                </div>

                                <a class="btn-fix-bottom  js-buy-open btn-fix-border  pc_click" pcTrackContent="buyBtn-3" bilogContent="fileDetailBottomBuy" loginOffer="buyBtn-3" data-type="file">立即下载</a>
                            </div>
                        {%else%}

                          

                            <div class="integral-con ">
                                    <div class="price-con ">
                                        <!--现金文档价格 -->
                                        <span class="price-desc">售价:</span>
                                        <p class="price" style="">¥ {{results.list.data.productPrice}}</p>
                                    </div>
                                    <a class="btn-fix-bottom js-buy-open  pc_click" pcTrackContent="buyBtn-3" bilogContent="fileDetailBottomBuy" loginOffer="buyBtn-3" data-type="file">立即下载</a>
                             </div>
                        {%endif%}
                {%else%}
                        <!--下载券文档-->
                        {% if results.list.data.volume>0 %}
                                

                                <div class="integral-con ">
                                    <div class="price-con ">
                                        <p class="price" style="">{{results.list.data.volume}}下载券</p>
                                    </div>
                                    <a class="btn-fix-bottom   pc_click" pcTrackContent="downloadBtn-3" bilogContent="fileDetailBottomDown" data-toggle="download"  loginOffer="downloadBtn-3">立即下载</a>
                                </div>
                        {%else%}
                                <div class="data-item ">
                                    <h2 class="data-title ">
                                        <i class="ico-big-data ico-big-{{results.list.data.format}}"></i>{{results.list.data.title}}
                                    </h2>
                                </div>

                                <div class="integral-con ">
                                    <a class="btn-fix-bottom   pc_click" pcTrackContent="downloadBtn-3" bilogContent="fileDetailBottomDown" data-toggle="download"   loginOffer="downloadBtn-3">立即下载</a>
                                </div>
                        {%endif%}
                {%endif%}
            {%endif%}
    {%endif%}
</div>