<!-- 熊掌号代码 begin -->
<!-- 显示熊掌号位置代码 -->
<div id="bearCodeCon" style="margin-top: -27px;">
	<script>cambrian.render('tail');</script>
</div>
<script type="application/ld+json">
{
	"@context": "//ziyuan.baidu.com/contexts/cambrian.jsonld",
	"@id": "//m.ishare.iask.sina.com.cn/f/{{results.list.data.fileId}}.html",
	"appid": "1602603860212696",
	"title": "{{results.list.data.fileName}}",
	"images": [],
	"description": "{{results.list.data.tdk.description}}",
	"pubDate": "{{results.list.data.time}}", //pubDate 创建时间 
	"update" : "{{results.list.data.time}}", //update 第一个时间
	"lrDate" : "{{results.list.data.time}}", //lrDate 最新时间
	"data": {
		"WebPage": {
			"pcUrl":"//ishare.iask.sina.com.cn/f/{{results.list.data.fileId}}.html",
			"wapUrl":"//m.ishare.iask.sina.com.cn/f/{{results.list.data.fileId}}.html",
			"mipUrl":""
		}
	}
}
</script>
<!-- 熊掌号代码 end -->

<div class="footer" >
	<footer class="m-footer">
		<div class="m-footer-nav">
			<a href="/agreement.html">网站声明</a>
			<a href="/declare/infringement-treatment.html">侵权处理</a>
			<a href="/user/feedback.jspx">意见反馈</a>
		<a href="tel:0755-26904047">客服热线</a>
			<a href="//m.iask.sina.com.cn/helpCenter/ishare.html">帮助</a>
		</div>
		<p>Copyright &copy; 1996-2020 IASK Corporation,<br>All Right Reserved</p>
	</footer>
</div>
