<!-- 第四范式 猜你喜欢 -->
<div class="guess-you-like-warpper guessyoulike"  >
    <div class="guess-you-like">
    <h2 class="guess-you-like-title">你可能还喜欢</h2>
    <ul class="guess-you-like-itmes">
      {%for item in  results.paradigm4GuessData.slice(0,4) %}
          <li class="item" bilogContent="underSimilarFileClick">
            <a class="item-link" href="/f/{{item.id}}.html" target="_blank">
                  <div class="item-content">
                      {% if item.cover_url %}
                         <img class="img"  src="{{item.cover_url}}" alt="{{item.name}}"/>
                        {% else %}
                        <img class="item-link-left-img"  src="{{cdnUrl}}/images/detail/pic_data_normal.jpg" alt="{{item.name}}"/>
                       {% endif %}
                 <p class="item-desc">{{item.name}}</p>
                  <div class="pic-mask"></div>
                   <span class="pic-download">立即下载</span> 
                  </div>

            </a>
        </li>
        {%endfor%}
    </ul>
</div>
</div>