<div class="search-dialog" style="display: none;">
    <header class="m-header search-header cf">
        <a href="javascript:;" class="btn-back js_back"></a>
        <a href="javascript:;" class="btn-cancel">搜索</a>
        <div class="search-con">
            <form action="" name="search_from">
                <div class="s-input-con v-middle">
                    <input type="search" name="cond" id="search-input" class="s-input" placeholder="搜索资料">
                    <a href="javascript:;" class="btn-input-delete" style="display: none;"></a>
                </div>
            </form>
        </div>
    </header>
    <section>
        <div class="search-main" style="display: block;">
            <div class="hot-search-con">
                <h2 class="search-main-title">热门搜索</h2>
                <div class="hot-search-list" id="search-hot-box">
                    <a href="javascript:;">离婚协议书</a>
                    <a href="javascript:;">入党申请书</a>
                    <a href="javascript:;">房屋租赁合同</a>
                    <a href="javascript:;">贫困申请书</a>
                </div>
            </div>
            <div class="search-history">
                <h2 class="search-main-title">历史搜索</h2>
                <ul class="search-history-list"></ul>
                <span class="delete-history-ele v-middle">清空历史搜索</span>
            </div>
        </div>
        <div class="search-main" style="display: none;">
            <ul class="search-list">
            </ul>
        </div>
    </section>
</div>