<div id="footer-btn">
    {% if results.list.data.isDownload == "n"  %}
        <div class="data-item fl">
            <h2 class="data-title fl"><i class="ico-big-data ico-big-{{results.list.data.format}}"></i>{{results.list.data.title}}</h2>
            <span class="online-read">仅供在线阅读</span>
        </div>
        <div class="integral-con fr">
            <a class="btn-fix-vip js-buy-open fl pc_click" pcTrackContent="joinVip-2" bilogContent="fileDetailBottomOpenVip8" loginOffer="joinVip-2" data-type="vip">开通VIP，享更多特权</a>
        </div>
    {%endif%}
            
                <!-- 免费 vip专享文档 付费 私有-->
                {% if results.list.data.productType == 1 or results.list.data.productType == 4 or results.list.data.productType == 5 or  results.list.data.productType == 6  %}
                            <div class="data-item fl">
                                <h2 class="data-title fl">
                                    <i class="ico-big-data ico-big-{{results.list.data.format}}"></i>{{results.list.data.title}}
                                </h2>
                            </div>

                            <div class="integral-con fr">
                                    <div class="price-con fl">
                                        <!--现金文档价格 -->
                                        <p class="price" style="">¥ {{results.list.data.productPrice}}</p>
                                    </div>
                                    <a class="btn-fix-bottom js-buy-open fl pc_click" pcTrackContent="buyBtn-3" bilogContent="fileDetailBottomBuy" loginOffer="buyBtn-3" data-type="file" data-toggle="download">立即下载</a>
                             </div>
                        {%endif%}
</div>