<!--仅供在线阅读提示 -->
<div id="footer-btn qwe">
    {% if results.list.data.isDownload == "n" %}
        <div class="data-item fl">
            <h2 class="data-title fl"><i class="ico-big-data ico-big-{{results.list.data.format}}"></i>{{results.list.data.title}}</h2>
            <span class="online-read">仅供在线阅读</span>
        </div>
        <div class="integral-con fr">
            <a class="btn-fix-vip js-buy-open fl pc_click" pcTrackContent="joinVip-2" bilogContent="fileDetailBottomOpenVip8" loginOffer="joinVip-2" data-type="vip">开通VIP，享更多特权</a>
        </div>
    {%else%}
            <!-- VIP文档.-->
            {% if results.list.data.vipFreeFlag === 1%}
                <div class="data-item fl">
                    <h2 class="data-title fl"><i class="ico-big-data ico-big-{{results.list.data.format}}"></i>{{results.list.data.title}}</h2>
                </div>
                <div class="integral-con fr">
                   <a class="btn-fix-bottom fl pc_click" pcTrackContent="downloadBtn-3" bilogContent="fileDetailBottomDown" data-toggle="download">立即下载</a>
                </div>
            {%else%}
                <!--现金文档-->
                {% if results.list.data.perMin == "3" %}
                        <!-- 现金打折文档-->
                        {% if results.list.data.vipDiscountFlag == 1 and results.list.data.ownVipDiscountFlag == 1%}
                            <div class="data-item fl">
                                <h2 class="data-title fl"><i class="ico-big-data ico-big-{{results.list.data.format}}"></i>{{results.list.data.title}}</h2>
                            </div>

                            <div class="integral-con fr">
                                <div class="price-con price-more fl">
                                    <!--现金文档价格 -->
                                    <p class="price" style="">¥ {{results.list.data.moneyPrice}}</p>
                                    <!--现金文档 有折扣 非vip会员 -->
                                    <p class="vip-sale-price">会员价&yen;<span class="js-original-price"></span>起</p>
                                </div>

                                <a class="btn-fix-bottom  js-buy-open btn-fix-border fl pc_click" pcTrackContent="buyBtn-3" bilogContent="fileDetailBottomBuy" loginOffer="buyBtn-3" data-type="file">立即购买</a>
                                <a class="btn-vip-more fl  js-buy-open pc_click" pcTrackContent="joinVip-2" bilogContent="fileDetailBottomOpenVip8" loginOffer="joinVip-2" data-type="vip">
                                    <p class="text">开通VIP</p>
                                    <p class="sale-text">8折起</p>
                                    <div class="vip-d-share">
                                        <div class="vip-d-inter">
                                            <i class="before"></i>
                                            <i class="after"></i>
                                            <p>开通VIP，本资料可享8折购买，立省<span id="vip-save-money"></span>元</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {%else%}

                            <div class="data-item fl">
                                <h2 class="data-title fl">
                                    <i class="ico-big-data ico-big-{{results.list.data.format}}"></i>{{results.list.data.title}}
                                </h2>
                            </div>

                            <div class="integral-con fr">
                                    <div class="price-con fl">
                                        <!--现金文档价格 -->
                                        <p class="price" style="">¥ {{results.list.data.moneyPrice}}</p>
                                    </div>
                                    <a class="btn-fix-bottom js-buy-open fl pc_click" pcTrackContent="buyBtn-3" bilogContent="fileDetailBottomBuy" loginOffer="buyBtn-3" data-type="file">立即购买</a>
                             </div>
                        {%endif%}
                {%else%}
                        <!--下载券文档-->
                        {% if results.list.data.volume>0 %}
                                <div class="data-item fl">
                                    <h2 class="data-title fl">
                                        <i class="ico-big-data ico-big-{{results.list.data.format}}"></i>{{results.list.data.title}}
                                    </h2>
                                </div>

                                <div class="integral-con fr">
                                    <div class="price-con fl">
                                        <p class="price" style="">{{results.list.data.volume}}下载券</p>
                                    </div>
                                    <a class="btn-fix-bottom  fl pc_click" pcTrackContent="downloadBtn-3" bilogContent="fileDetailBottomDown" data-toggle="download"  loginOffer="downloadBtn-3">立即下载</a>
                                </div>
                        {%else%}
                                <div class="data-item fl">
                                    <h2 class="data-title fl">
                                        <i class="ico-big-data ico-big-{{results.list.data.format}}"></i>{{results.list.data.title}}
                                    </h2>
                                </div>

                                <div class="integral-con fr">
                                    <a class="btn-fix-bottom  fl pc_click" pcTrackContent="downloadBtn-3" bilogContent="fileDetailBottomDown" data-toggle="download"   loginOffer="downloadBtn-3">立即下载</a>
                                </div>
                        {%endif%}
                {%endif%}
            {%endif%}
    {%endif%}
</div>