<!-- 第四范式 猜你喜欢 -->
{# <div class="guessyoulike ">
    <div class="content">
        <h2 class="title"> 猜你喜欢</h2>
        <div class="list">
            {%for item in  results.paradigm4GuessData %}
            <div class="item {{'nomargin' if loop.index0==0 }} {{'nomargin' if loop.index0==4 }}" data-id="{{item.id}}">
                <a href="/f/{{item.id}}.html" target="_blank">
                    {% if item.cover_url %}
                    <img src="{{item.cover_url}}" alt="{{item.name}}">
                    {%else%}
                    <img src="{{cdnUrl}}/images/detail/pic_data_normal.jpg" alt="{{item.name}}">
                    {%endif%}
                    <span>{{item.name}}</span>
                </a>
            </div>
            {%endfor%}
        </div>
    </div>
</div> #}
<div class="guess-you-like-warpper">
    <div class="guess-you-like">
    <h2 class="guess-you-like-title">你可能喜欢</h2>
    <ul class="guess-you-like-itmes">
      {%for item in  results.paradigm4GuessData %}
          <li class="item">
            <a class="item-link" href="/f/{{item.id}}.html" target="_blank">
                <div class="item-link-left">
                 {% if item.cover_url %}
                    <img class="item-link-left-img"  src="{{item.cover_url}}" alt="{{item.name}}"/>
                    <span class="item-link-left-icon"><span>
                  {% else %}
                  <img class="item-link-left-img"  src="{{cdnUrl}}/images/detail/pic_data_normal.jpg" alt="{{item.name}}"/>
                 <span class="item-link-left-icon"><span>
                  {% endif %}  
                </div>
                <div class="item-link-right">
                    <p class="item-link-right-desc">{{item.name}}</p>
                    <p class="item-link-right-other">
                        <span class="other-read">{{item.item_read_cnt}}阅读</span>
                        <span class="other-page">25页</span>
                    </p>
                </div>
            </a>
        </li>
        {%endfor%}
    </ul>
</div>
</div>