<!DOCTYPE html>
<html>
<head>
    {% include "common/head.html" %}
    <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/ishare_detail.css">
    {# <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Swiper/3.2.7/css/swiper.min.css"> #}
     <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/swiper-3.2.7-css-swiper.min.css">
<!-- 添加360统计代码1、PC端统计代码： -->
<script>
    (function(b,a,e,h,f,c,g,s){b[h]=b[h]||function(){(b[h].c=b[h].c||[]).push(arguments)};
    b[h].s=!!c;g=a.getElementsByTagName(e)[0];s=a.createElement(e);
    s.src="//s.union.360.cn/"+f+".js";s.defer=!0;s.async=!0;g.parentNode.insertBefore(s,g)
    })(window,document,"script","_qha",335601,false);
</script>  

</head>
<script type="text/javascript">
    var _speedMark = +new Date(),
        _version = "{{version}}",
        _head = "{{cdnUrl}}";
    var _dpData = [];//广告测试
</script>
<body>
<input type="hidden" id="ip-page-type" value="pindex">
<input type="hidden" id="ip-page-id" value="PC-M-FD">
<input type="hidden" id="ip-page-name" value="资料详情页">

{% include "common/js.html" %}
{% include "common/outside-fn.html" %}
{% include "common/360.html" %}
{% include "common/dialog.html" %}
<div class="detail-topbanner">
        {% if results.getTopBannerList.list.length>0 %}
            <div class="swiper-container swiper-top-container ">
               <div class="swiper-wrapper">
                {%for item in results.getTopBannerList.list %}
                  <div class="swiper-slide" >
                    <a  href="/f/{{item.id}}.html" target="_blank" data-id="{{item.id}}">
                      <img class="swiper-slide-img" src="{{item.imagUrl}}">
                    </a>
                </div>
                {%endfor%}
               </div>  
            <span class="close-swiper"></span>  
        </div> 
        {% endif %}
</div>
{% include "detail/header.html" %}

<div class="pw-detail bd-wrap cf">
    <!--面包屑导航-->
    {% include "detail/crumb.html" %}
    <div class="cf">
        {% include "detail/content.html" %}
        {% include "detail/similar.html" %}
    </div>
</div>

<!--底部-->
{# <div class="footer-con">
    <div class="pw footer">
        <div class="copy-con">
            <p class="footer-nav">
                <a href="/agreement.html" rel="nofollow" target="_blank">网站声明</a>
                <span class="line"></span>
                <a href="/infringement.html" rel="nofollow" target="_blank">侵权处理</a>
                <span class="line"></span>
                <a href="//iask.sina.com.cn/helpCenter/ishare.html" rel="nofollow" target="_blank">帮助中心</a>
                <span class="line"></span>
                <a href="//iask.sina.com.cn" rel="nofollow" target="_blank">爱问首页</a>
                <span class="line"></span>
                <a href="/sitemap.html" rel="nofollow" target="_blank">网站地图</a>
                <span class="line"></span>
                <a href="/feedAndComp/userFeedback" rel="nofollow" target="_blank">意见反馈</a>
            </p>
            <p class="copy-txt">Copyright &copy; 1996-2020 IASK Corporation, All Right Reserved</p>
        </div>
    </div>
</div> #}

{% include "common/footer.html" %}
<!--底部悬浮工具栏-->
<div class="detail-fixed">
    <div class="pw pw-v cf">
        <div class="detail-fixed-con cf fl">
            <div class="operation fl">
                <a class="operation-item reader-fullScreen" title="全屏浏览"><i class="icon-detail"></i></a>
                {# <a class="operation-item zoom-decrease" title="缩小"><i class="icon-detail"></i></a>
                <a class="operation-item zoom-add" title="放大"><i class="icon-detail"></i></a> #}
                <div class="collect-con fl pc" >
                    <!--收藏 已收藏增加样式 btn-collect-success  title="已收藏"-->
                    <!-- <a id="btn-collect" data-fid="{{results.list.data.fileId}}" class="operation-item btn-collect {{'btn-collect-success' if results.getUserFileZcState.data.hasCollect}}" title="点击收藏"> -->
                    <a id="btn-collect" data-fid="{{results.list.data.fileId}}" class="operation-item btn-collect" title="点击收藏" bilogContent="markFileClick">
                        <em class="btn-line"></em>
                        <i class="icon-detail"></i>
                    </a>
                    <div class="d-collect hide">
                        <i class="before"></i>
                        <i class="after"></i>
                        <p><i class="icon-success"></i><em>已收藏至<a style="cursor: pointer;" href="/ucenter/vips"
                                                                  target="_blank">个人中心</a></em></p>
                        <p class="info mt10">点击个人中心可查看</p>
                    </div>
                </div>
                <!--分享 -->
                <div class="share-con fl">
                    <div class="share-more">
                        <span class="arrow"></span>
                        <span class="arrow-gray"></span>
                        <div class="bshare-custom cf">
                            <div class="share-item">
                                <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                            </div>
                            <div class="share-item">
                                <a title="分享到微信" class="bshare-weixin"></a>
                            </div>
                            <div class="share-item">
                                <a title="分享到QQ空间" class="bshare-qzone"></a>
                            </div>
                        </div>
                    </div>
                    <a class="operation-item btn-share" title="分享"><i class="icon-detail"></i></a>
                </div>
                <!--评分 -->
                {# <div class="score-con fl pc_click" bilogContent="fileDetailScore" id="star">
                    <span class="fl">评分：</span>
                    <ul class="star-list fl">
                        <li><a>1</a></li>
                        <li><a>2</a></li>
                        <li><a>3</a></li>
                        <li><a>4</a></li>
                        <li><a>5</a></li>
                    </ul>
                    <div class="d-success hide">
                        <i class="before"></i>
                        <i class="after"></i>
                        <p><i class="icon-success"></i>评分成功</p>
                    </div>
                </div> #}
                {%if results.list.data.fileContentList and results.list.data.totalPage %}
                <div class="fix-page-con">
                    <span class="btn-page page-prev" data-type="reduce" title="上一页"></span>
                    <div class="page-input-con">
                               {# <input type="number" min="0" class="page-input"value="1">/<span>{{results.list.data.totalPage}}</span> #}
                               <span class="page-input">1</span>/<span>{{results.list.data.totalPage}}</span>
                    </div>
                    <span class="btn-page page-next" data-type="add" title="下一页"></span>
                    <div class="d-page-wrap hide">
                        <i class="before"></i>
                        <i class="after"></i>
                        <p>最多预览50页</p>
                    </div>
                </div>
                {%endif%}
            </div>
            {% include "detail/fixed.html" %}
        </div>
    </div>
</div>
<!--遮罩层-->
<div id="bgMask" data-page="mask" class="detail-bg-mask"></div>
<!--  弹出层 -->
{% include "detail/dialog.html" %}
<!--  优惠券广告 -->
{% include "detail/couponAD.html" %}
<!--右侧悬浮工具栏 -->
{% include "common/suspension.html" %}
<script>
    window.pageConfig = {
        page: {
            attr: 'other',
            type: 'detail',
            isDownload: '{{results.list.data.isDownload}}',
            owner: "{{results.list.data.owner.id}}",
            preRead: "{{results.filePreview.data.preRead}}",
            is360page:"{{results.filePreview.data.is360page}}",
            initReadPage: "{{results.filePreview.data.initReadPage}}",
            status:'{{results.filePreview.data.status}}',
            fileSourceChannel: '{{results.list.data.fileSourceChannel}}',
            old: '{{results.list.data.old}}',
            userTypeId: '{{results.list.data.owner.userTypeId}}',
            fileName: "{{results.list.data.title}}",
            uid: "{{results.userInfo.data.userId}}",//每个页面必须存在
            ptype: 'pindex',
            productType:"{{results.list.data.productType}}",
            productPrice:"{{results.list.data.productPrice}}"
        },
        params: {
            g_fileExtension: '{{results.list.data.format}}',
            {# g_fileId: '{{results.list.data.fileId}}',  #}
            g_fileId: '{{results.list.data.id}}',
            g_permin: '{{results.list.data.permin}}',
            file_title: "{{results.list.data.title}}",//需要双引号
            file_size: '{{results.list.data.fileSize}}',
            file_volume: '{{results.list.data.volume}}',
            file_format: '{{results.list.data.format}}',
            file_state: '{{results.list.data.state}}',
            moneyPrice: '{{results.list.data.productPrice}}',
            discountPrice: "{{results.list.data.discountPrice}}",
            totalPage: '{{results.list.data.totalPage}}',
            vipFreeFlag: "{{results.list.data.vipFreeFlag}}",
            vipDiscountFlag: "{{results.list.data.vipDiscountFlag}}",
            ownVipDiscountFlag: "{{results.list.data.ownVipDiscountFlag}}",
            payTypeName: '{{results.list.data.payTypeName}}',
            file_uid: '{{results.list.data.owner.id}}',
            fsource: "{{results.list.data.fileSourceChannel}}",
            classid: '{{results.list.data.classId}}',//分类id
            classid1: '{{results.list.data.classid1}}',//一级分类id
            classid2: '{{results.list.data.classid2}}',//二级分类id
            classid3: '{{results.list.data.classid3}}',//三级分类id
            classidName1: '{{results.list.data.classidName1}}',
            classidName2: '{{results.list.data.classidName2}}',
            classidName3: '{{results.list.data.classidName3}}',
            is360: '{{results.list.data.is360}}',
            fileAttr: '{{results.list.data.fileAttr}}',
            isVip:0,
            productType:"{{results.list.data.productType}}",
            productPrice:"{{results.list.data.productPrice}}"
        },
        report: {
            uid: "{{results.userInfo.data.userId}}",
            ptype: "pindex",
            fsource: "{{results.list.data.fileSourceChannel}}",
            ftype: '{{results.list.data.payType}}',
            format: "{{results.list.data.format}}",
            cate: "{{results.list.data.classid1}}",
            cateName: "{{results.list.data.className}}",
            cate1: "{{results.list.data.classid2}}",
            cate2: "{{results.list.data.classid3}}",
            clickName: '',
            time: "",
            timestamp: +new Date()
        },
        access: {
            format: '{{results.list.data.format}}',
            title: "{{results.list.data.title}}",//需要双引号
            fileId: '{{results.list.data.fileId}}',
            time: new Date().getTime()
        },
        svgFlag: {{results.list.data.svgFlag}},
        supportSvg: {{ results.list.data.supportSvg}},
        imgUrl: {{results.list.data.fileContentList | dump | safe}},
        svgUrl: {{ results.list.data.svgPathList | dump | safe}}
    };


    // 第四范式内容
    window.paradigm4 = {
        recommendInfoData_rele:{{ results.recommendInfoData_rele | dump | safe  }},
        recommendInfoData_guess:{{results.recommendInfoData_guess | dump | safe }},
        paradigm4Guess: {{ results.paradigm4Guess | dump | safe }},
        paradigm4Relevant: {{ results.paradigm4Relevant | dump | safe }},
        requestID_rele: "{{results.requestID_rele}}",
        requestID_guess: "{{results.requestID_guess}}",
        userId: "{{results.userID}}",
        paradigm4GuessData:'{{results.paradigm4GuessData| dump | safe}}',
        RelevantInformationList:'{{results.RelevantInformationList| dump | safe}}',
        getBannerList:'{{results.getBannerList| dump | safe}}' ,
        getTopBannerList:'{{results.getTopBannerList |dump|safe}}'  
    };
</script>
<script>
    seajs.use(["dist/application/app.js", "dist/detail/init.js"])
</script>
<!--分享插件-->
<script type="text/javascript" charset="utf-8"
        src="{{staticUrl}}/buttonLite.js"></script>
<script type="text/javascript" charset="utf-8" src="{{staticUrl}}/bshareC0.js"></script>
<!-- 百度统计代码 -->
<script src="{{staticUrl}}/baidu-statistics.js"></script>

</body>
</html>