<div id="review-dialog" >
    <div class="review-dialog common-dialog " >
        <a href="javascript:;" class="close-btn" title="关闭"></a>
        <div class="dialog-con">
            <div class="topImg">
            </div>
            <div class="titleBg">
                <h2>评价有礼</h2>
            </div>
           <div class="bottom-text">      
                填写资料评价有机会获得优惠券、 <br>
                体验会员特权                      
           </div>
        </div>
        <a href="/node/personalCenter/mydownloads.html?type=mydownloads" target="_blank" class="reviewLink"></a>
    </div>
</div>
