<div class="detail-w300 fr">
    <div id="fix-right">
        <div class="fix-right-bannertop">
            {% if results.getBannerList.rightTopBanner.list.length>0 %}
             <div class="swiper-container  fix-right-swiperbannertop">
               <div class="swiper-wrapper">
           {%for item in  results.getBannerList.rightTopBanner.list %}
            <div class="swiper-slide" >
               <a  href="{{item.linkUrl}}" target="_blank" data-id="{{item.id}}">
                 <img class="swiper-slide-img" src="{{item.imagUrl}}">
               </a>
            </div>
           {%endfor%}
               </div> 
             {%endif%}     
             </div>
        </div>
        {% if results.RelevantInformationList.data.length>0 %}
        <div class="related-data " pcTrackContent="relateFiles-new" >
            <h2 class="related-data-title  guess-you-like-title">
                相关资料
                <span class="slider-control">
                    {% if results.RelevantInformationList.data.length >16 and results.list.data.perMin == '3' %}
                    <a class="btn-c btn-prev btn-disable"></a>
                    <a class="btn-c btn-next"></a>
                    {% endif %}
                    {% if results.RelevantInformationList.data.length >12 and results.list.data.perMin != '3' %}
                    <a class="btn-c btn-prev btn-disable"></a>
                    <a class="btn-c btn-next"></a>
                    {% endif %}

                </span>
            </h2>
            <ul class="related-data-list guess-you-like-itmes">
                {% for item in results.RelevantInformationList.data%}
                 <li  class="item" data-id="{{item.id}}" bilogContent="similarFileClick" class="{% if loop.index0 > 7 %} hide {% endif %} {% if results.list.data.isExcellent == 0 %} li-you {% endif %} " >
                <a class="item-link" href="/f/{{item.id}}.html" target="_blank" data-id="{{item.id}}" class="_blank">
                <div class="item-link-left fr">
                    <img class="item-link-left-img" src="{{item.cover_url}}" alt="{{item.name}}"/>
                    <span  class="item-link-left-icon ico-big-data ico-big-{{item.format}}"><span>
                </div>
                <div class="item-link-right fl">
                    <p class="item-link-right-desc">{{item.name}}</p>
                    <p class="item-link-right-other">
                        <span class="other-read">{{item.item_read_cnt}}阅读</span>
                        {# <span class="other-page">25页</span> #}
                    </p>
                </div>
            </a>
             </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="hot-spot-search-warper">
        {% if results.specialTopic.length>0%}
         <div class="hot-spot-search">
            <h2 class="hot-spot-search-title">热点搜索<h2>
              <ul class="hot-items">
               {% for item in results.specialTopic %}
                  <li class="item">
                   <a href="/f/{{item.id}}.html" target="_blank" >{{item.topicName}}</a>
               </li>
               {% endfor %}  
          </ul>
       </div>
       {% endif %}
    </div>
        {# <div  class="fix-right-bannerbottom">
          {%for item in  results.getBannerList.rightBottomBanner.list %}
             <div class="swiper-container fix-right-bannerbottom">
               <div class="swiper-wrapper">
                  <div class="swiper-slide" >
                    <a  href="/f/{{item.id}}.html" target="_blank" data-id="{{item.id}}">
                      <img class="swiper-slide-img" src="{{item.imagUrl}}">
                    </a>
                </div>
             
               </div>    
             </div>  
             {%endfor%}   
        </div> #}


         <div class="fix-right-bannerbottom">
            {% if results.getBannerList.rightBottomBanner.list.length>0 %}
             <div class="swiper-container  fix-right-swiperbannerbottom">
               <div class="swiper-wrapper">
           {%for item in  results.getBannerList.rightBottomBanner.list %}
            <div class="swiper-slide" >
               <a  href="{{item.linkUrl}}" target="_blank" data-id="{{item.id}}">
                 <img class="swiper-slide-img" src="{{item.imagUrl}}">
               </a>
            </div>
           {%endfor%}
               </div> 
             {%endif%}     
             </div>
        </div>
    </div>
</div>
