@import "../less-public/_ishare_setting";
@import "../less-public/_less_mixin";
html,
body {
    background: #f4f4f4;
    zoom: 1;
    height: 100%;
    width: 100%;
}
.feed-back-content{
    margin:0 auto;
    margin-top:42px;
    padding:58px 0 83px 0;
    width:1200px;
    background: #fff;
    .feed-back-title{
        margin: 0 20px;
        padding-bottom:20px;
        border-bottom: 1px solid #eee;
        .cf();
        .feed-back-title-img{
            float:left;
            margin-left:140px;
            margin-right: 20px;
            width: 136px;
            height: 83px;
        }
    }
    .feed-back-title-desc{
        float: left;
        .desc-title{
            font-size:28px;
            font-family:Microsoft YaHei;
            font-weight:400;
            color:rgba(34,34,34,1)
        }
        .desc-subtitle{
            margin-top:15px;
            height:15px;
            font-size:16px;
           font-weight:400;
          color:rgba(153,153,153,1);
        }
    }
    .feed-back-form{
        margin-left:316px;
        .cf();
        .form-select{
            margin-top:31px;
            display: block;
            width: 320px;
            height: 34px;
        }
        .form-textarea{
            margin-top:20px;
            width:584px;
            height: 150px;
            padding-top:20px;
            padding-left: 16px;
        }
        .material-link{
            margin-top:20px;
        }
        .material-link-input{
            margin-top:9px;
            display: block;
            width: 500px;
            height: 34px;
        }
        .form-require{
            margin-top:20px;
            .cf();
            .form-rquire-email-wrapper{
                float:left;
                margin-right: 19px;
                width:240px;
                .email-require-tip{
                    position: relative;
                    &::after{
                        position: absolute;
                        left:-8px;
                        top:0;
                        content: '*';
                        color:rgba(242,38,38,1);
                        width:7px;
                        height:6px;
                        font-size:16px;
                    }
                }
                .email-input{
                    margin-top:7px;
                    width: 100%;
                    height: 34px;
                }
            }
            .form-rquire-tel-wrapper{
                float:left;
                width:240px;
                .tel-require-tip{
                    position: relative;
                    &::after{
                        position: absolute;
                        left:-8px;
                        top:0;
                        content: '*';
                        color:rgba(242,38,38,1);
                        width:7px;
                        height:6px;
                        font-size:16px;
                    }
                }
                .tel-input{
                    margin-top:7px;
                    width:100%;
                    height: 34px;
                }
            }
        }
    }
    .form-btn{
      margin-left:316px;
      margin-top:30px;
      width:124px;
      height:36px;
      line-height: 36px;
      font-size:14px;
      font-weight:400;
      text-align: center;
      color:rgba(255,255,255,1);
      background:rgba(242,81,38,1);
      border:1px solid rgba(242, 81, 38, 1);
      border-radius:2px;  
      cursor: pointer;
    }
}
