<div class="crumb mt10 cf">
    <a href="/">首页</a>
    <i class="crumb-arrow crumb-arrow-left"></i>

    {% for item in results.crumbList.data %}
        <div class="crumb-more">
            <a href="/c/{{item.nodeCode}}">
                <i
                class=" {{'crumb-arrow' if results.crumbList.data.length != loop.index}}" ></i>{{item.name}}
            </a>
        </div>
        <i class="crumb-arrow crumb-arrow-left"></i>
    {% endfor %}
    <strong>{{ results.list.data.fileInfo.title | delType}}</strong>
</div>