<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <meta name="applicable-device"content="pc">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="pragma" content="no-cache"> 
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
    <meta http-equiv="expires" content="0"> 
    <meta name=renderer  content=webkit>
    <title>{{results.list.data.fileInfo.title|delType}}下载_{{results.list.data.fileInfo.moduleType[results.list.data.fileInfo.software]}} - 爱问共享资料</title>
    <meta name="keywords"content="{%if results.list.data.fileInfo.keywords%}{{results.list.data.fileInfo.keywords}}{%else%}{{results.list.data.fileInfo.title}}{%endif%}"/>
    <meta name="description" content="{{results.seo.description}}"/>
    <meta property="og:type" content="document"/>
    <meta property="og:url" content="{{results.seo.fileurl}}"/>
    <meta property="og:release_date" content="{{results.list.data.fileInfo.createtime}}"/>
    <meta property="og:title" content="{{results.list.data.fileInfo.title}}"/>
    <meta property="og:description" content="{{results.seo.description}}"/>
    <meta property="og:document:type" content="{{results.list.data.fileInfo.format}}"/>
    <meta property="og:image" content="{{results.list.data.fileInfo.fileSmallPic}}"/>
    <meta property="og:document:page" content="{{results.list.data.transcodeInfo.totalPage}}"/>
    <meta property="og:document:cost" content="{{results.list.data.fileInfo.productPrice}}"/>
    <meta property="og:site_name" content="爱问共享资料"/>
    <meta name="author" content="爱问共享资料"/>
    <meta name="Robots" content="all"/>
    <meta name="Copyright" content="爱问共享资料ishare.iask.sina.com.cn版权所有"/>
    <link rel="canonical" href="{{results.seo.fileurl}}"/>
    <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/ishare_public.css"/>
    <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/spider/spider.css" />
  
<style>
    #cnzz_stat_icon_1279079195{
        display: none;
    }
</style>
</head>
<script type="text/javascript">
    var _speedMark = + new Date();
    var _version = "{{version}}";
    var _head = "{{cdnUrl}}";
</script>

<body>
<input type="hidden" id="ip-page-id" value="M-M-SR">
<input type="hidden" id="ip-page-name" value="搜索结果页">
    {% include "common/js.html" %}

    <!-- 搜索头部 -->
    {% include "common/websiteHeaderbar.html" %}
    <div class="pw splider-cintent">
        <!-- 面包屑 -->
        {% include "spider/crumb.html" %}
        <div class="leftAside fl">
            <!-- 标题栏 -->
            <div class="top-con">
               <div class="top-left">
                    <h1 class="file-name">
                        <i class="ico-big-data ico-big-{{results.list.data.fileInfo.format}}"></i> {{results.list.data.fileInfo.title}}
                    </h1>
                    <a href="">举报</a>
               </div>
                 <img src="{{cdnUrl}}/images/tui_open.gif" alt="开通vip">
            </div>
            <!-- 摘要 -->
            <div class="file-brief mt20">
               <p> 爱问共享资料{{results.list.data.fileInfo.title}}文档免费下载，数万用户每天上传大量最新资料，数量累计超一个亿{%if results.list.data.transcodeInfo.totalPage <60 %},{{results.brief}}{%endif%}</p>
            </div>
            <!-- 正文 -->
            <div class="file-content mt20">
                {% for item in results.fileDetailArr %}
                <div class="pic-con">
                    <img src="{{item.img}}" alt="">
                </div>
                <p >
                    {{item.txt}}
                </p>
                {% endfor %}
            </div>
            <!-- 正文底部文案 -->
            <div class="file-content-bottom mt20">
                本文档为【{{results.list.data.fileInfo.title}}】，请使用软件OFFICE或WPS软件打开。作品中的文字与图均可以修改和编辑， 图片更改请在作品中右键图片并更换，文字修改请直接点击文字进行修改，也可以新增和删除文档中的内容。
                <br>
                该文档来自用户分享，如有侵权行为请发邮件ishare@vip.sina.com联系网站客服，我们会及时删除。
            </div>
            <!-- 下载 -->
            <div class="download-area mt20">
                <div class="down-info">
                    <!-- VIP专享资料展示xx特权，付费资料展示￥xx，免费资料展示免费。 -->
                    下载需要：{% if results.list.data.fileInfo.productType ==1 %} 免费
                    {% elif results.list.data.fileInfo.productType ==4  %} {{results.list.data.fileInfo.productPrice}}特权
                    {% elif results.list.data.fileInfo.productType ==5  %} ￥{{results.list.data.fileInfo.productPrice}}
                    {% endif %}  已有{% if results.editorInfo.uploads.data.uploads>0 %} {{results.editorInfo.uploads.data.uploads}} {% else %}0 {% endif%}人下载
                </div>
                <div class="download-groupbtns">
                    <a href="https://ishare.iask.sina.com.cn/f/{{results.guessLikeList[0].id}}.html">下一篇相似资料</a>
                    <a href="javascript:;">立即下载</a>
                </div>
            </div>
            <!-- 你可能还喜欢 -->
            {#<div class="youlike-area mt20">
                <h3>你可能还喜欢</h3>
                <ul class="youlike-item">
                    {% for item in results.guessLikeList %}
                    <li> <a href="https://ishare.iask.sina.com.cn/f/{{item.id}}.html">{{item.title|delType}}</a></li>
                    {% endfor %}
                </ul>
            </div>#}
            <!-- 推荐 -->
            <div class="recmond-area mt20">
                <div class="recmend-tab">
                    {#<div class="tab-item current" val ="new">最新资料</div>#}
                    <div class="tab-item" val ="hot">热门推荐</div>
                    {# <div class="tab-item" val ="topic">推荐专题</div>#}
                </div>
                <div class="recmend-item">
                    {#<div class="switch_content_wrap">
                        <ul>
                        {%for item in  results.newsRec.data %}
                            <li>
                                <a target="_blank" href="https://ishare.iask.sina.com.cn/f/{{item.id}}.html">{{item.title|delType}}</a>
                            </li>
                        {%endfor%}
                        </ul>
                    </div>#}
                    <div class="switch_content_wrap current">
                        <ul>
                        {%for item in  results.hotRecData.data %}
                        <li>
                            <a target="_blank" href="{{item.contentUrl}}">{{item.contentName|delType}}</a>
                        </li>
                        {%endfor%}
                    </ul>
                    </div>
                    {#<div class="switch_content_wrap">
                        <ul>
                        {%for item in  results.hotTopicSeo.data %}
                        <li>
                            <a target="_blank" href="https://ishare.iask.sina.com.cn/node/s/{{item.id}}.html">{{item.title|delType}}</a>
                        </li>
                        {%endfor%}
                    </ul>
                    </div>#}
                </div>
            </div>
        </div>
        <div class="rigthAside fl">
            <!-- 作者信息 -->
            <div class="editer-con">
                <div class="avatar-frame">
                    <img src="{{results.editorInfo.data.photoPicURL}}" alt="">
                </div>
                <div class="editer-info">
                    <div class="nickname">{{results.editorInfo.data.nickName}}</div>
                    <div class="editer-brief">
                        {{results.editorInfo.data.cfcDescribe}}
                    </div>
                </div>
            </div>
            <!-- 文章信息 -->
            <div class="paper-info">
                <div class="info-item">格式：{{results.list.data.fileInfo.format}}</div>
                <div class="info-item">大小：{{results.list.data.fileInfo.fileSize}}</div>
                <div class="info-item">软件：{{results.list.data.fileInfo.readTool[results.list.data.fileInfo.software]}}</div>
                <div class="info-item">页数：{{results.list.data.transcodeInfo.totalPage}}</div>
                <div class="info-item">分类：{{results.crumbList.data[results.crumbList.data.length-1]['name']}}</div>
                <div class="info-item">上传时间：{{results.list.data.fileInfo.createtime}}</div>
            </div>
            <!-- 相关资料 -->
            {#<div class="related-file">
                <div class="column-name">相关资料</div>
                <ul>
                    {% for item in results.relevantList %}
                    <li class="file-item">
                        <a href="https://ishare.iask.sina.com.cn/f/{{item.id}}.html">{{item.title|delType}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- 热门搜索 -->
            <div class="hot-search">
                <div class="search-top">
                    <span class="column-name">
                        热点搜索
                    </span>
                    <!-- <span class="swtich-bar">换一换</span> -->
                </div>
                <div class="search-list">
                    {% for item in results.hotTopicSearch.data.rows %}
                    <a href="https://ishare.iask.sina.com.cn/node/s/{{item.specialTopicId}}.html">{{item.topicName|delType}}</a>
                    {% endfor %}
                </div>
            </div>
            #}
        </div>
    </div>

    <!-- 底部声明 -->
    {% include "common/new/footer.html" %}
    <script>
        window.pageConfig = {
            page:{}
        };
        seajs.use(["dist/spider/init.js"]);
    </script>
    <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1279079195'%3E%3C/span%3E%3Cscript src='https://v1.cnzz.com/stat.php%3Fid%3D1279079195' type='text/javascript'%3E%3C/script%3E"));</script>  
</body>

</html>