<div class="website-footer">
    <div class="footer-content">
         <div class="footer-link">
         <a class="website-home-link" href="/" target="_blank">
             <img class="website-icon" src="{{cdnUrl}}/images/footer_logo.png">
         </a>
          <div class="copy-link">
              {%if results.friendLink and results.friendLink.length>0%}
            <div class="friends-con">
                <p class="friend-link-title">友情链接</p>
                <div class="friend-link-item">
                    {%for item in  results.friendLink %}
                    <a {% if loop.index0 > 14 %}class="hide"{%endif%} href="{{item.linkUrl}}" target="_blank">{{item.copywriting1}}</a> 
                    {%endfor%}
                    {%if results.friendLink.length>14%}
                    <a onclick="$(this).parent().find('a').removeClass('hide');$(this).remove()" href="javascript:;">更多></a>
                    {%endif%}
                </div>
            </div>
            {%endif%}
           <div class="earth-con">
                <div class="file-groups earth-con-item">
                    <span>资料大全</span>
                    <a href="/index/f-a.html " target="_blank">A</a>
                    <a href="/index/f-b.html " target="_blank">B</a>
                    <a href="/index/f-c.html " target="_blank">C</a>
                    <a href="/index/f-d.html " target="_blank">D</a>
                    <a href="/index/f-e.html " target="_blank">E</a>
                    <a href="/index/f-f.html " target="_blank">F</a>
                    <a href="/index/f-g.html " target="_blank">G</a>
                    <a href="/index/f-h.html " target="_blank">H</a>
                    <a href="/index/f-i.html " target="_blank">I</a>
                    <a href="/index/f-j.html " target="_blank">J</a>
                    <a href="/index/f-k.html " target="_blank">K</a>
                    <a href="/index/f-l.html " target="_blank">L</a>
                    <a href="/index/f-m.html " target="_blank">M</a>
                    <a href="/index/f-n.html " target="_blank">N</a>
                    <a href="/index/f-o.html " target="_blank">O</a>
                    <a href="/index/f-p.html " target="_blank">P</a>
                    <a href="/index/f-q.html " target="_blank">Q</a>
                    <a href="/index/f-r.html " target="_blank">R</a>
                    <a href="/index/f-s.html " target="_blank">S</a>
                    <a href="/index/f-t.html " target="_blank">T</a>
                    <a href="/index/f-u.html " target="_blank">U</a>
                    <a href="/index/f-v.html " target="_blank">V</a>
                    <a href="/index/f-w.html " target="_blank">W</a>
                    <a href="/index/f-x.html " target="_blank">X</a>
                    <a href="/index/f-y.html " target="_blank">Y</a>
                    <a href="/index/f-z.html " target="_blank">Z</a >
                    <a href="/index/f-09.html " target="_blank">0-9</a>   
                </div>
                <div class="topic-groups earth-con-item">
                    <span>专题大全</span>
                    <a href="/index/t-a.html " target="_blank">A</a>
                    <a href="/index/t-b.html " target="_blank">B</a>
                    <a href="/index/t-c.html " target="_blank">C</a>
                    <a href="/index/t-d.html " target="_blank">D</a>
                    <a href="/index/t-e.html " target="_blank">E</a>
                    <a href="/index/t-f.html " target="_blank">F</a>
                    <a href="/index/t-g.html " target="_blank">G</a>
                    <a href="/index/t-h.html " target="_blank">H</a>
                    <a href="/index/t-i.html " target="_blank">I</a>
                    <a href="/index/t-j.html " target="_blank">J</a>
                    <a href="/index/t-k.html " target="_blank">K</a>
                    <a href="/index/t-l.html " target="_blank">L</a>
                    <a href="/index/t-m.html " target="_blank">M</a>
                    <a href="/index/t-n.html " target="_blank">N</a>
                    <a href="/index/t-o.html " target="_blank">O</a>
                    <a href="/index/t-p.html " target="_blank">P</a>
                    <a href="/index/t-q.html " target="_blank">Q</a>
                    <a href="/index/t-r.html " target="_blank">R</a>
                    <a href="/index/t-s.html " target="_blank">S</a>
                    <a href="/index/t-t.html " target="_blank">T</a>
                    <a href="/index/t-u.html " target="_blank">U</a>
                    <a href="/index/t-v.html " target="_blank">V</a>
                    <a href="/index/t-w.html " target="_blank">W</a>
                    <a href="/index/t-x.html " target="_blank">X</a>
                    <a href="/index/t-y.html " target="_blank">Y</a>
                    <a href="/index/t-z.html " target="_blank">Z</a >
                    <a href="/index/t-09.html " target="_blank">0-9</a>   
                </div>
           </div>
            <p class="footer-nav">
            <a href="https://iask.sina.com.cn/helpCenter/5e15a72a474e3171f58ae2a6.html" rel="nofollow" target="_blank" class="footer-nav-link">网站声明   <span>|<span></a>
            <a href="https://iask.sina.com.cn/helpCenter/5d11e55e0cf2d66b81a5513f.html" rel="nofollow" target="_blank" class="footer-nav-link">侵权处理 <span>|<span></a>
            <a href="/node/feedback/feedback.html" rel="nofollow" target="_blank" class="footer-nav-link">投诉反馈 <span>|<span></a>
            <a href="https://iask.sina.com.cn/helpCenter/ishare.html" rel="nofollow" target="_blank" class="footer-nav-link">帮助中心 <span>|<span></a>
            <a href="/index/f-a.html" rel="nofollow" target="_blank" class="footer-nav-link">网站地图 <span>|<span></a>
            <a href="https://office.iask.com/" rel="nofollow" target="_blank" class="footer-nav-link">爱问办公</a>
            </p>
            <p class="copy-txt">Copyright © 1996-2020 IASK Corporation, All Right Reserved</p>
            </div>
    </div>
    <ul class="footer-qrcode-items">
         <li class="qrcode-item">
             <div class="qrcode-item-img">
                  <img  src="{{cdnUrl}}/images/app-qrcode.png">
             </div>
             <p class="qrcode-item-desc">扫描下载爱问APP</p>
         </li>
         <li class="qrcode-item">
             <div class="qrcode-item-img" >
                 <img   src="{{cdnUrl}}/images/ishare-weChatOfficialAccount.png">
             </div>
             <p class="qrcode-item-desc">关注官方微信公众号</p>
         </li>
         <!-- <li class="qrcode-item">
            <div class="qrcode-item-img">
              <img    src="{{cdnUrl}}/images/ishare-weibo.png">
            </div>
             <p class="qrcode-item-desc">关注爱问办公微博了解最新办公资讯</p>
         </li> -->
    </ul>
    </div>
 </div>

 <!--百度自然搜索统计-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?17cdd3f409f282dc0eeb3785fcf78a66";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>