
{{each data.list as v i}}
<li class="coupon-li">
    <div class="coupon-item">
        <i class="bg-coupon"></i>
        <div class="price-wrap fl">
            <p>{{if v.type==1}}¥{{/if}} <strong class="price">{{v.discount?v.discount:v.couponAmount}}</strong>{{if v.type==2}}折{{/if}}</p>
        </div>
        <div class="coupon-info-con">
            <p class="coupon-text">{{v.content}}</p>
            <p class="coupon-time">{{if v.dateNumber}}{{v.dateNumber}}天内有效{{else}}{{v.timeval}}{{/if}}</p>
        </div>
    </div>
</li>
{{/each}}
