<!-- 
    name：提示绑定手机号
    author：limeng
    date：2020-11-04
    descroiption: A14需求新增
 -->
<!-- 提示去绑定手机号 -->

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4>绑定手机号</h4>
        </div>
        <div class="modal-body">
            <p>当前账号还未绑定手机号，绑定后才可进行认证</p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-normal" href="/node/auth/index.html">取消</a>
            <a class="btn btn-color" href="/node/personalCenter/accountsecurity.html?type=accountsecurity">去绑定</a>
        </div>
    </div>
</div>
<div class="modal-backdrop"></div>