<!-- 
    name：认证审核不通过
    author：limeng
    date：2020-11-04
    descroiption: A14需求新增
 -->
<!-- 认证审核不通过 -->

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a class="modal-close"></a>
            <h4>
                <span class="img-icon icon-error"></span>很遗憾，认证审核不通过
            </h4>
        </div>
        <div class="modal-body">
            <div class="wechat-qrcode"></div>
            <div class="body-text">
                <p>微信扫码关注公众号</p>
                <p>或添加<a>QQ3463748482</a></p>
                <p>了解审核结果</p>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-color" onclick="$(this).parents('#authentication-box').html('').hide();">我知道了</a>
        </div>
    </div>
</div>
<div class="modal-backdrop"></div>