<!--
    name：认证成功
    author：limeng
    date：2020-11-04
    descroiption: A14需求新增
 -->
<!-- 认证成功 -->

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a class="modal-close"></a>
            <h4><span class="img-icon icon-success"></span>
                {{if org }}
                    {{if auditStatus == 2}}
                      你已完成机构认证
                    {{/if}}
                {{else}}
                    {{if auditStatus == 2}}
                      你已完成个人认证
                    {{/if}}
                {{/if}}
            </h4>
        </div>
        <div class="modal-body">
            <p>现在开始上传资料赚取收益吧~</p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-color" href="/node/upload.html">确定</a>
        </div>
    </div>
</div>
<div class="modal-backdrop"></div>
