<!--弹框-->
<div class="dialog" id="dialog-box">
<!--遮罩层 start-->
<div id="bgMask" class="common-bgMask"></div></div>
<!-- 个人中心 上传确认删除dialog -->
<script type="text/template" id="myuploads-delete-dialog">
     <div class="personal-center-dialog">
        <i class="close-btn"></i>

        <div class="delete-tip-dialog">
            <div class="title">确定要删除选中的$deleteNum篇资料吗？</div>
            <div class="subtitle">删除后资料不可找回</div>
            <div class="dialog-btn">
                <span class="confirm-btn">确定</span>
                <span class="cancel-btn">取消</span>
        </div>
        </div>
    </div>
</script>


<!-- 个人中心 账号与安全 身份认证dialog -->
<script type="text/template" id="identity-authentication-dialog">
     <div class="personal-center-dialog">
        <i class="close-btn"></i>

        <div class="identity-authentication-dialog">
            <div class="title" data-isTHirdAuthorization="$isTHirdAuthorization">身份验证</div>
            <div class="authentication-phone">使用手机号+86 $phoneNumber</div>
            <div class="authentication-form">
                <input type="text" class="authentication-input"/>
                <span class="authentication-code" data-authenticationCodeType='0' data-isiDentityAuthentication='1'>获取验证码</span>
            </div>
            <div class="dialog-btn">
                <span class="authentication-btn">确定</span>
        </div>
        </div>
    </div>
</script>

<!-- 个人中心 账号与安全 绑定手机号dialog -->

<script type="text/template" id="bind-phonenumber-dialog">
     <div class="personal-center-dialog">
        <i class="close-btn"></i>
        <div class="bind-phonenumber-dialog">
            <div class="title" data-isTHirdAuthorization="$isTHirdAuthorization">绑定手机号</div>
            <ul class="form-list">
                <li class="form-item">
                    <span class="item-label">手机号: </span>
                    <input class="item-phonenumber" type="text" placeholder="请输入手机号"/>
                </li>
                <li class="form-item">
                    <span class="item-label">验证码:</span>
                    <input class="item-verificationcode" type="text" placeholder="请输入短信验证码"/>
                    <span class="item-getverificationcode authentication-code" data-authenticationCodeType='0'>获取验证码</span>
                </li>
            </ul>
            <div class="dialog-btn">
                 <span class="cancel-btn">取消</span><span class="confirm-btn confirm-binding">确认绑定</span>
        </div>
        </div>
    </div>
</script>


<!-- 个人中心 账号与安全 设置/修改密码dialog -->
<script type="text/template" id="set-change-password-dialog">
     <div class="personal-center-dialog">
        <i class="close-btn"></i>

        <div class="set-change-password-dialog">
            <div class="title">设置/修改密码</div>
            <ul class="form-list">
                <li class="form-item">
                    <span class="item-label">手机号: </span>
                    <input class="item-phonenumber" type="text" placeholder="请输入手机号" value="$phone" disabled/>
                </li>
                <li class="form-item">
                    <span class="item-label">验证码:</span>
                    <input class="item-verificationcode" type="text" placeholder="请输入短信验证码"/>
                    <span class="item-getverificationcode authentication-code" data-authenticationCodeType='0'  data-isiDentityAuthentication='1'>获取验证码</span>
                </li>
                <li class="form-item">
                    <span class="item-label">新密码:</span>
                    <input class="item-newpassword" type="text" placeholder="请输入新密码（6-16位）"/>
                </li>
            </ul>
            <div class="dialog-btn">
                <span class="submit-btn set-change-password">确定</span>
        </div>
        </div>
    </div>
</script>


<!-- 个人中心 账号与安全 解除绑定账号dialog -->
<script type="text/template" id="unbind-account-dialog">
     <div class="personal-center-dialog">
        <i class="close-btn"></i>

        <div class="unbind-account-dialog">
            <div class="title" data-isTHirdAuthorization="$isTHirdAuthorization">确定要解除绑定吗？</div>
            <div class="subtitle">解除绑定后，再次使用被解绑的账号登录时会生成新的账号</div> 
            <div class="dialog-btn">
                 <span class="confirm-btn unbind-btn">确定</span>
                <span class="cancel-btn">取消</span>
            </div>
            <div class="dialog-tip unbind-account-btn">为保证账号安全，请先绑定手机号 <span>立即绑定</span></div>
        </div>
    </div>
</script>


<!-- 个人中心 我的钱包提示dialog -->
<script type="text/template" id="mywallet-tip-dialog">
     <div class="personal-center-dialog">
        <i class="close-btn"></i>
        <div class="mywallet-tip-dialog">
            <div class="title">系统升级公告</div>
            <div class="mywallet-tip">为了给大家提供更好的提现服务，我们正在优化钱包功能，现暂停提现申请，后续将会恢复。期间给您的提现带来不便，敬请谅解。</div>
            <div class="mywallet-contact-information">期间上传业务咨询可联系上传客服QQ：3463748482</div>
        </div>
    </div>
</script>

<!-- 个人中心 第三方授权dialog -->



<script type="text/template" id="thirdparty-authorization-dialog">
     <div class="personal-center-dialog">
        <i class="close-btn"></i>
        <div class="thirdparty-authorization-dialog">
             <iframe src="$thirdpartyAuthorizationSrc"  sandbox="allow-forms allow-scripts allow-same-origin allow-popups">
               <p>您的浏览器不支持iframe 标签。</p>
           </iframe>
        </div>
    </div>
</script>



<!-- 个人中心 我的钱包提现申请dialog -->

<script type="text/template" id="withdrawal-application-dialog">
     <div class="personal-center-dialog">
        <i class="close-btn"></i>
        <div class="withdrawal-application-dialog">
             <div class="withdrawal-application-title">
                 <span class="title-icon"></span>
                 <span class="title-desc">提现申请</span>
                 <span class="title-subdesc">提现审核通过后次月初打款</span>
             </div>
             <div class="withdrawal-application-from">
                <div class="withdrawal-amount">
                    <span class="withdrawal-amount-title"><em>*</em>提现金额 :</span>
                     <input class="amount" type="text" /> 
                     {#  <span class="amount"></span>#}
                    {# <span class="full-withdrawal">全部提现</span> #}
                    <span class="full-withdrawal-tip">（不含退款保证金）</span>
                    <p class="withholding-tax tax" ><span>代扣税  :</span> <span class="holdingTaxPrice">0</span>元</p>
                    <p class="turnover-tax tax"><span>流转税  :</span> <span class="transferTax">0</span>元</p>
                    <p class="actual-receipt tax"><span>预计实际到账  :</span> <span class="receivedAmount">0</span>元 <span class="tax-explanation-icon"></span><a class="tax-explanation-desc" href="https://iask.sina.com.cn/helpCenter/5f45c81a474e31015362e2b6.html" target="_blank">税费说明</a></p>
                </div>
                <div class="invoice">
                   <div class="invoice-title"><em>*</em>发票 :</div>
                    <p class="invoic-tip">
                    <span class="invoic-tip-icon"></span>
                    <a class="invoic-tip-desc" href="https://iask.sina.com.cn/helpCenter/5f448231474e31015362e189.html" target="_blank">开票须知</a>
                    </p>
                    <div class="invoice-label">
                         <label class="electronic-invoice" for="electronic-invoice-radio">
                        <input id="electronic-invoice-radio" class="invoice-radio" checked name="invoice" type="radio" value="0"/>
                        <span class="invoice-icon"></span>电子发票 
                    </label>
                    <label class="paper-invoice" for="paper-invoice-radio">
                        <input id="paper-invoice-radio" class="invoice-radio" name="invoice" type="radio" value="1"/>
                        <span class="invoice-icon"></span>邮寄纸质发票（先拍照后上传后邮寄）
                    </label>
                    
                    </div>
                </div>
                <div class="img-preview">
                    <img class="img"/>
                    <span class="re-upload pic-upload" id="upload-target">上传</span>
                </div>
                <div class="submit-btn">
                    <span class="confirm-btn">确认</span>
                    <span class="cancel-btn">取消</span>
                </div>
                <p class="withdrawal-application-dialog-tip">请务必提供提现金额所对应的发票信息，否则将无法进行提现</p>
             </div>
        </div>
    </div>

</script>




<!-- 我的钱包导出明细 -->
<script type="text/template" id="send-email-dialog">
     <div class="personal-center-dialog">
        <i class="close-btn"></i>

        <div class="container send-email-dialog">
            <div class="title">
               填写接收邮箱
            </div>
 <div class="sub-title">
                明细将在几分钟内发送到你的邮箱
            </div>
            <div class="form-list">
                <div class="form-verify-tips">
                    <span class="text">
                        *请检查邮箱地址
                    </span>
                </div>
                <input type="text" class="form-ipt" placeholder="请填写邮箱地址...">
            </div>
            <div class="submit-btn">
            确认发送
        </div>
        </div>
    </div>
</script>
<!--个人中心 请先完善财务信息dialog -->
<script type="text/template" id="go2FinanceAccount-dialog">
     <div class="personal-center-dialog">
        <i class="close-btn"></i>
        <div class="go2FinanceAccount-dialog">
            <div class="title">请先完善财务信息</div>
            <a class="go2FinanceAccount-btn" href="/node/personalCenter/mywallet.html?type=mywallet&mywalletType=3">去填写</a>
        </div>
    </div>
</script>



<!--个人中心 编辑财务信息dialog -->
<script type="text/template" id="editFinanceAccount-dialog">
     <div class="personal-center-dialog">
        <i class="close-btn"></i>
        <div class="go2FinanceAccount-dialog">
            <div class="title">30天内只能修改一次，确定要保存吗</div>
            <span class="editFinanceAccount-btn editFinanceAccount-confirm" data-isedit="0">确认</span>
            <span class="editFinanceAccount-btn editFinanceAccount-cancel">取消</span>
        </div>
    </div>
</script>

<!-- 我的VIP取消自动续费 -->
<script type="text/template" id="cancelAutomaticRenewal-dialog">
     <div class="personal-center-dialog">
        <i class="close-btn"></i>
        <div class="cancelAutomaticRenewal-dialog">
            <div class="title" data-id="$id"><span class="title-desc desc">会员到期后您将失去专属特权，</span><span class="title-subdesc desc">确定取消自动续费吗 ？</span></div>
            <span class="cancelAutomaticRenewal-btn cancelAutomaticRenewal-cancel">残忍取消</span>
            <span class="cancelAutomaticRenewal-btn cancelAutomaticRenewal-confirm">保留续费</span>
        </div>
    </div>
</script>

<!-- 我的下载评价 -->
<script type="text/template" id="evaluation-dialog">
     <div class="personal-center-dialog">
        <i class="close-btn"></i>
        <div class="evaluation-dialog">
                $content
        </div>
    </div>
</script>

<!-- 领取优惠券 -->

<script type="text/template" id="getcoupon-dialog">
     <div class="personal-center-dialog" style="background-color: transparent;">
        <i class="close-btn" ></i>
        <div class="getcoupon-dialog">$content</div>
    </div>
</script>

