
<div class="personal-center-home">
     <ul class="personal-summarys">
        <li class="summary">
            <span class="summary-count">20</span>
            <p class="summary-desc">下载特权</p>
        </li>
        <li class="summary">
            <span class="summary-count">8</span>
            <p class="summary-desc">优惠券</p>
        </li>
         <li class="summary">
            <span class="summary-count">0</span>
            <p class="summary-desc">爱问豆 <span></span></p>
        </li>
         <li class="summary">
            <img class="go2vip"/>
        </li>
     </ul>
     <div class="advertisement"></div>
     <div class="recently-see recently">
     </div>
      <div class="recently-downloads recently">
     </div>
     <div class="opentvip">
         <p class="opent-title">开通VIP，享专属特权，下海量资料</p>
         <p class="open-vip">立即开通></p>
         <ul class="vip-privilege-items">
            <li class="item">
                <img class="item-img"/>
                <p class="item-desc">全品类下载</p>
            </li>
            <li class="item">
                <img class="item-img"/>
                <p class="item-desc">全品类下载</p>
            </li>
            <li class="item">
                <img class="item-img"/>
                <p class="item-desc">每日更新</p>
            </li>
            <li class="item">
                <img class="item-img"/>
                <p class="item-desc">专属客服</p>
            </li>
             <li class="item">
                <img class="item-img"/>
                <p class="item-desc">身份标识</p>
            </li>
            <li class="item">
                <img class="item-img"/>
                <p class="item-desc">无广告浏览</p>
            </li>
            <li class="item">
                <img class="item-img"/>
                <p class="item-desc">专属内容推荐</p>
            </li>
         </ul>
     </div>
</div>