
<div class="personal-center-home">
     <ul class="personal-summarys">
        <li class="summary">
            <span class="summary-count volume">0</span>
            <p class="summary-desc">下载特权</p>
        </li>
        <li class="summary">
            <span class="summary-count">0</span>
            <p class="summary-desc">优惠券</p>
        </li>
         <li class="summary">
            <span class="summary-count aibeans">0</span>
            <p class="summary-desc"> 
            <span class="summary-aibeans-desc">爱问豆</span>
            <span class="summary-desc-icon"></span>
                {# <ul class="aibeans-tip">
                    <li>1.因苹果系统中虚拟商品必须使用IAP (应用内购买) 充值购买，为了方便切换系统后查账，非苹果设备仅支持查看爱问豆的余额，充值请到苹果系统中充值；</li>
                    <li>2.爱问豆仅限在苹果系统消费，无法在其它系统使用；</li>
                    <li>3.爱问豆为虚拟币，充值后的爱问豆不会过期，但无法提现或者转赠他人；</li>
                    <li>4.如有有任何疑问，请联系客服</li>
               </ul>     #}
            </p>
        </li>
         <li class="summary">
            <img class="go2vip"  src="{{cdnUrl}}/images/personalCenter/openvip.png"/>
        </li>
     </ul>
     <div class="advertisement"></div>
     <div class="recently-see recently">
     </div>
      <div class="recently-downloads recently">
     </div>
     <div class="opentvip">
         <p class="opent-title">开通VIP，享专属特权，下海量资料</p>
         <p class="open-vip">立即开通></p>
         <div class="vip-privilege-items-wrapper"></div>
     </div>
</div>