<!DOCTYPE html>
<html lang="en">
<head>
    {% include "common/head.html" %}
    <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/personalCenter/personalCenter.css"/>
    <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/jquery.datepicker.css"/>
    <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/swiper-3.2.7-css-swiper.min.css">
    <!-- 添加360统计代码1、PC端统计代码： -->
<script>
    (function(b,a,e,h,f,c,g,s){b[h]=b[h]||function(){(b[h].c=b[h].c||[]).push(arguments)};
    b[h].s=!!c;g=a.getElementsByTagName(e)[0];s=a.createElement(e);
    s.src="//s.union.360.cn/"+f+".js";s.defer=!0;s.async=!0;g.parentNode.insertBefore(s,g)
    })(window,document,"script","_qha",335601,false);
</script>  

</head>

<body>
    
   {% include "common/websiteHeaderbar.html" %}
   <div class="personal-center-content pw">
        {% include "./menu.html" %}
        <!--布局占位-->
        <div class="content-main-left"></div>
        <div class="{{ 'content-main' if results.type === 'home' else 'content-main content-main-mycollection'}}">
             {% if results.type =='home' %}
             <input type="hidden" id="ip-page-id" value="PC-M-USER">
             <input type="hidden" id="ip-page-name" value="个人中心-首页">
               {% include "personalCenter/home.html" %}
             {% endif %}
              
             {% if results.type =='mydownloads' %}
             <input type="hidden" id="ip-page-id" value="PC-M-USER-MD">
             <input type="hidden" id="ip-page-name" value="个人中心-我的下载页">
               {% include "personalCenter/mydownloads.html" %}
             {% endif %}
            
             {% if results.type =='mycollection' %}
             <input type="hidden" id="ip-page-id" value="PC-M-USER-CL">
             <input type="hidden" id="ip-page-name" value="个人中心-我的收藏页">
               {% include "personalCenter/mycollection.html" %}
             {% endif %}

              {% if results.type =='myuploads' %}
              <input type="hidden" id="ip-page-id" value="PC-M-USER-MU">
             <input type="hidden" id="ip-page-name" value="个人中心-我的上传页">
               {% include "personalCenter/myuploads.html" %}
             {% endif %}

              {% if results.type =='myvip' %}
               <input type="hidden" id="ip-page-id" value="PC-M-USER-VIP">
             <input type="hidden" id="ip-page-name" value="个人中心-我的VIP">
               {% include "personalCenter/myvip.html" %}
             {% endif %}

              {% if results.type =='myorder' %}
               <input type="hidden" id="ip-page-id" value="PC-M-USER-ORD">
             <input type="hidden" id="ip-page-name" value="个人中心-我的订单">
                   <!-- 评价有礼弹窗 -->
               <div class="reviewGift-dialog-wrap" style="display:none;">
                 {% include "detail/reviewGift-dialog.html" %}
              </div>
               {% include "personalCenter/myorder.html" %}
             {% endif %}

                {% if results.type =='mycoupon' %}
                   <input type="hidden" id="ip-page-id" value="PC-M-USER-MS">
             <input type="hidden" id="ip-page-name" value="个人中心-我的优惠券页">
                 {% include "personalCenter/mycoupon.html" %}
               {% endif %}

                {% if results.type =='accountsecurity' %}
                      <input type="hidden" id="ip-page-id" value="PC-M-USER-ATM">
             <input type="hidden" id="ip-page-name" value="个人中心-账号与安全页">
                 {% include "personalCenter/accountsecurity.html" %}
               {% endif %}

                {% if results.type =='personalinformation' %}
              <input type="hidden" id="ip-page-id" value="PC-M-USER-ATF">
              <input type="hidden" id="ip-page-name" value="个人中心-个人信息页">
                 {% include "personalCenter/personalinformation.html" %}
               {% endif %}

                {% if results.type =='mywallet' %}
                 <input type="hidden" id="ip-page-id" value="PC-M-USER-QB">
                <input type="hidden" id="ip-page-name" value="个人中心-我的钱包页">
                 {% include "personalCenter/mywallet.html" %}
               {% endif %}
        </div>  
   </div>
   
    <!-- 签到弹窗 -->
    {% include "common/wechatSign-dialog.html" %}



    <!-- 底部 start-->
{% include "common/new/footer.html" %}
    {% include "common/js.html" %}

    <!--右侧悬浮工具栏 -->
{% include "common/suspension.html" %}
<!--遮罩层-->
<div id="bgMask" data-page="mask" class="detail-bg-mask"></div>

  {% if results.type == 'accountsecurity' %}

  {% endif %}
{% include "./dialog.html" %}
    <script type="text/javascript">
        window.pageConfig = {
            page:{
               type: '{{results.type}}',
               myuploadType:'{{results.myuploadType}}',
               vipTableType:'{{results.vipTableType}}',
               myorderType:'{{results.myorderType}}',
               mywalletType:'{{results.mywalletType}}'
            },
            params:{
                
            },
            report: {
              
            },
            gio:{
             
            }
        };
        seajs.use(["dist/application/app.js","dist/personalCenter/init.js"]);
    </script>
    <!-- 百度统计代码 -->
    <script src="{{staticUrl}}/baidu-statistics.js"> </script>
</body>

</html>
