<!DOCTYPE html>
<html lang="en">
<head>
    {% include "common/head.html" %}

<script type="text/javascript">
    var _speedMark = + new Date();
    var _version = "{{version}}";
    var _head = "{{cdnUrl}}";
    var env = "{{env}}";
</script>
</head>
<body>
    
{% include "common/js.html" %}
       <script type="text/javascript">
        window.pageConfig = {
            page:{
            },
            params:{
                
            },
            report: {
              
            },
            gio:{
             
            }
        };
        seajs.use(["dist/application/app.js","dist/personalCenter/redirectionURL.js"]);
    </script>
</body>

</html>
