<div class="daily-task-content">
    <p class="daily-task-title">每日任务</p>
    <ul class="daily-task-list">
        {{each dailyTaskList as item}}
            <li class="daily-task-item">
                <p class="daily-task-item-title">{{item.taskName}}</p>
                <p class="daily-task-item-subtitle">{{item.rewardContent}}</p>
                <p class="daily-task-item-desc">{{item.desc}}</p>
                <span class="daily-task-bg"></span>
                <span class="daily-task-itembtn js-task-btn"  data-href="{{item.linkUrl}}" ></span>
            </li>
        {{/each}}
    </ul>
    {{ if isLoadeMore}}
    <p class="load-more-task">
        <span class="load-more-task-desc js-load-more-task">更多任务</span>
        <span class="load-more-task-icon"></span>
    </p>
    {{/if}}
</div>
