<div class="exchange-goods-content">
    <p class="exchange-goods-sort" sorttype="{{sortType}}">
        <span class="exchange-goods-title">兑换商品</span>
         <span class="{{sortType == 1?'sort-all sort-item active js-sort':'sort-all sort-item js-sort'}}" data-sort="1">综合</span>
        <span class="sort-line js-sort"></span>
        <span class="{{sortType == 2?'sort-asce sort-item active js-sort':'sort-asce sort-item js-sort'}}" data-sort="2">爱问币从低到高</span>
        <span class="sort-line"></span>
        <span class="{{sortType == 3?'sort-desc sort-item active js-sort':'sort-desc sort-item js-sort'}}" data-sort="3">爱问币从高到低</span>
    </p>
    <ul class="exchange-goods-list">
        {{each exchangeGoodsList as item}}
        <li class="exchange-goods-list-item js-exchange-goods-list-item">
                <div class="item-img-wrapper">
                    <img class="item-img" src="{{item.pictureUrl}}" />
                </div>
                <p class="item-desc">{{item.goodsName}}</p>
                <p class="item-loveAskCoin">
                    <span class="loveAskCoin-icon"></span>
                    <span class="loveAskCoin-num">{{item.price}}爱问币</span>
                </p>
        </li>
        {{/each}}
    </ul>
    <div class="pagination-wrapper">

    </div>
</div>
