<div class="newcomertask-content">
    <p class="newcomertask-title">新人任务</p>
    <div class="newcomertask-content-list">
      <div class="swiper-container task-list">
            <div class="swiper-wrapper">
            {{each newcomertaskList as item}}
               <div class="swiper-slide" >
                  <div class="task-content">
                      <p class="task-icon">{{item.icon}}</p>
                      <p class="task-title">{{item.taskName}}</p>
                      <p class="task-subtitle">{{item.rewardContent}}</p>
                      <p class="task-desc">{{item.desc}}</p>
                      {{ if item.linkUrl}}
                        <a class="task-btn" href="{{item.linkUrl}}" target = "_blank">去做任务</a>
                      {{/if}}
                  </div>
               </div>
               {{/each}}
            </div>
            <div class="swiper-button-prev "></div>
            <div class="swiper-button-next "></div>
       </div>
    </div>
</div>
