<div class="m-evaluate-popup jsEvaluatePopup">
    <div class="evaluate-close jsEvaluateCloseBtn"></div>
    <div class="evaluate-header cf">
        <span class="img-icon {{fileInfo.format}}"></span>
        <span class="popup-title">{{fileInfo.title}}</span>
    </div>
    <!--展示-->
    {{if evaluateInfo}}
    <div class="evaluate-body">
        <div class="evaluate-body-item cf">
            <div class="left-title">您的评分</div>
            <div class="star-evaluate">
                {{each [1,2,3,4,5]}}
                {{if $value <= evaluateInfo.score}}
                <span class="star star_{{$value}}"
                      title="{{$value}}星" data-score="{{$value}}">
                </span>
                {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="evaluate-body-item cf">
            <div class="left-title block">评价标签</div>
            <div class="label-evaluate">
                {{if evaluateInfo.labels}}
                {{each evaluateInfo.labels}}
                <span class="label-item active">{{$value.name}}</span>
                {{/each}}
                {{/if}}
            </div>
        </div>
        <div class="evaluate-body-item cf">
            <div class="left-title block">评论内容</div>
            <div class="content-evaluate">
               <textarea class="desc-content"
                         type="text"
                         maxLength="500"
                         placeholder="评价有礼，走心评价来一波哇！"
                         readonly
               >{{evaluateInfo.content}}</textarea>
            </div>
        </div>
    </div>
    <div class="evaluate-footer">
        <span class="btn btn-color jsEvaluateCloseBtn">关闭</span>
    </div>
    {{else}}
    <!--编辑-->
    <div class="evaluate-body">
        <div class="star-evaluate jsEvaluateStar">
            {{each [1,2,3,4,5]}}
            <span class="star star_{{$value}}" title="{{$value}}星" data-score="{{$value}}"></span>
            {{/each}}
        </div>
        <div class="label-evaluate jsEvaluateLabel"></div>
        <div class="content-evaluate">
            <textarea class="desc-content jsEvaluateDesc"
                      maxLength="500"
                      placeholder="评价有礼，走心评价来一波哇！"
            ></textarea>
        </div>
    </div>
    <div class="evaluate-footer">
        <span class="btn btn-color btn-disabled jsEvaluateBtn">提交评价</span>
    </div>
    {{/if}}
</div>
