<div class="office-footer footer-v-1-2 mt50">
    <div class="pw footer">
        <div class="footer-content fl">
            <div class="footer-service">
                <div class="service-group"><i class="icon-service icon-01"></i>提升效率</div>
                <div class="service-group"><i class="icon-service icon-02"></i>质优价廉</div>
                <div class="service-group"><i class="icon-service icon-03"></i>优质服务</div>
                <div class="service-group"><i class="icon-service icon-04"></i>有口皆碑</div>
            </div>
            <div class="footer-bottom-wrap">
                <div class="footer-logo fl">
                    <a>
                        <img src="{{cdnUrl}}/images/logo_office_footer.jpg">
                    </a>
                </div>
                <div class="footer-info">
                    <p class="footer-nav">
                        <a href="/agreement.html" rel="nofollow" target="_blank">网站声明</a>
                        <span class="line"></span>
                        <a href="/infringement.html" rel="nofollow" target="_blank">侵权处理</a>
                        <span class="line"></span>
                        <a href="//iask.sina.com.cn/helpCenter/ishare.html" rel="nofollow" target="_blank">帮助中心</a>
                        <span class="line"></span>
                        <a href="/">爱问首页</a>
                        <span class="line"></span>
                        <a href="/sitemap.html" rel="nofollow" target="_blank">网站地图</a>
                        <span class="line"></span>
                        <a href="/feedAndComp/userFeedback" rel="nofollow" target="_blank">意见反馈</a>
                    </p>
                    <p class="copy-txt">Copyright © 1996-2020 IASK Corporation, All Right Reserved</p>
                </div>

            </div>
        </div>
        <div class="footer-code-wrap fr">
            <div class="code-wx fl">
                <div class="code-pic">
                    <img src="{{cdnUrl}}/images/pic_code_wx.jpg">
                </div>
                <p>关注官方微信公众号</p>
                <p>掌握更多办公技能</p>
            </div>
            <div class="code-wb fl">
                <div class="code-pic">
                    <img src="{{cdnUrl}}/images/pic_code_wb.jpg">
                </div>
                <p>关注爱问办公微博</p>
                <p>了解最新办公资讯</p>
            </div>
        </div>
    </div>
</div>