<!--办公频道 头部 start -->
<div class="office-header">
    <div class="pw pw-v cf">
        <a href="/c/1818.html" class="logo fl"><img src="{{cdnUrl}}/images/logo_office.jpg"></a>
        <div class="all-classify-con fl">
            <a class="all-classify"><i class="icon-classify"></i>全部分类</a>
            <div class="classify-more">
                <div class="classify-inter">
                    <i class="before"></i>
                    <i class="after"></i>
                    {% set levelCategory = results.category.data.subCategory %}
                    {%for item in levelCategory%}
                        <div class="classify-item first">
                            <a class="classify-title">
                                <i class="icon-category icon-category-01"></i>
                                <p class="title-text">{{item.categoryName}}</p>
                            </a>
                            <div class="classify-list">
                                {%set index  = loop.index %}
                                {%for v in item.subCategory%}
                                    <a href="/c/{{v.categoryId}}.html">{{v.categoryName}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="search-bar fl">
            <input class="search-input" type="text" value="{{results.reqParams.cond}}" placeholder="搜索优质办公资料">
            <a class="btn-search"><i class="icon-search"></i>搜索</a>
            <div class="detail-lately">
                <ul class="lately-list">
                    <li><a>联想内容</a></li>
                    <li><a>联想内容</a></li>
                    <li><a>联想内容</a></li>
                    <li><a>联想内容</a></li>
                </ul>
            </div>
        </div>
        <!--已登录 -->
        <div class="user-info hasLogin hide fr">
            <a class="user-link">
                <img class="user-pic">
                <span class="user-name"></span>
            </a>
            <i class="arrow"></i>
            <div class="user-more">
                <i class="before"></i>
                <i class="after"></i>
                <a href="/node/personalCenter/home.html" target="_blank">个人中心</a>
                <a href="/node/personalCenter/mydownloads.html" target="_blank">我的下载</a>
                <a href="/node/personalCenter/mycollection.html" target="_blank">我的收藏</a>
                <a class="loginOut">退出</a>
            </div>
        </div>
        <!--未登录 -->
        <div class="user-info notLogin fr pc_click" pcTrackContent="officeTopLogin">
            <a class="user-link">
                <div class="pic-no-login"></div>
                <span class="no-login-text">请登录</span>
                <span class="js-sync hide">透传</span>
            </a>
        </div>
    </div>
</div>