<div class="special-bottom-bar">
    <img src="{{cdnUrl}}/images/special/open-vip.png" class="open-vip">
    <div class="hot-spot-search">
        <div class="title">
            <span class="title-left">热点搜索</span>
            <p class="title-right"><img src="{{cdnUrl}}/images/special/switch.png" class="icon"><span>换一换</span></p>
        </div>
        <ul class="hot-list">
            <li class="hot-items">
                <a>会计造假案例分析</a>
            </li>
             <li class="hot-items">
                <a>会计造假案例分析</a>
            </li>
             <li class="hot-items">
                <a>预备党员季度鉴定</a>
            </li>
             <li class="hot-items">
                <a>临时用电施工规范</a>
            </li>
             <li class="hot-items">
                <a>标准化法实施细则</a>
            </li>

            <li class="hot-items">
                <a>标准化法实施细则</a>
            </li>
             <li class="hot-items">
                <a>现代汉语语法知识</a>
            </li>
             <li class="hot-items">
                <a>标准化法实施细则</a>
            </li>
             <li class="hot-items">
                <a>标准化法实施细则</a>
            </li>
             <li class="hot-items">
                <a>标准化法实施细则</a>
            </li>
        </ul>
    </div>
    <ul class="adv-position">
        <li class="adv-item">
            <a class="adv-a">
               <img src="{{cdnUrl}}/images/special/open-vip.png" class="adv-img">
               <p class="adv-item-desc">产品经理培训</p>
            </a>
        </li>
         <li class="adv-item">
            <a class="adv-a">
               <img src="{{cdnUrl}}/images/special/open-vip.png" class="adv-img">
               <p class="adv-item-desc">产品经理培训</p>
            </a>
        </li>
         <li class="adv-item">
            <a class="adv-a">
               <img src="{{cdnUrl}}/images/special/open-vip.png" class="adv-img">
               <p class="adv-item-desc">产品经理培训</p>
            </a>
        </li>
         <li class="adv-item">
            <a class="adv-a">
               <img src="{{cdnUrl}}/images/special/open-vip.png" class="adv-img">
               <p class="adv-item-desc">产品经理培训</p>
            </a>
        </li>
         <li class="adv-item">
            <a class="adv-a">
               <img src="{{cdnUrl}}/images/special/open-vip.png" class="adv-img">
               <p class="adv-item-desc">产品经理培训</p>
            </a>
        </li>
         <li class="adv-item">
            <a class="adv-a">
               <img src="{{cdnUrl}}/images/special/open-vip.png" class="adv-img">
               <p class="adv-item-desc">产品经理培训</p>
            </a>
        </li>
         <li class="adv-item">
            <a class="adv-a">
               <img src="{{cdnUrl}}/images/special/open-vip.png" class="adv-img">
               <p class="adv-item-desc">产品经理培训</p>
            </a>
        </li>
    </ul>

</div>