<div class="search-all-main">   
    <!-- 广告位 -->
    <!-- <div class="search-adv-warper">
        <img src="" alt="">
    </div> -->
    <!-- 面包屑 -->
    <div class="search-crumb-warper">
         <span>首页</span>
         <span>{{results.data.topicName}}</span>
    </div>
    <!-- 筛选条件 -->
    <div class="search-all-container">
        <!--dimensionStatus=0 开启维度 -->
        {% if results.data.dimensionStatus===0 %}  
        <div class="search-all-nav">
            <div class="search-nav-box">
                {% for navItem in results.data.specialTopicDimensionDOList %}
                <a href="" class="active">{{navItem.dimensionName}}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="search-condition">
            {% for firstItem in results.data.specialTopicDimensionDOList %}
            {% for secondItem in firstItem.specialTopicPropertyGroupDOList %}
            <div class="search-item {{'hide' if loop.index>2  }}">
    
                <span class="search-title" value="{{secondItem.propertyGroupId}}">{{secondItem.propertyGroupName}}: </span>
                {% for thirdItem in secondItem.specialTopicPropertyDOList %}
                <span class="search-ele {{'active' if thirdItem.active  }}"
                    value="{{thirdItem.propertyId}}">
                    {{thirdItem.propertyName}}
                </span>
                {% endfor %}
    
            </div>
            {% endfor %}
            {% endfor %}
    
            <!-- 筛选内容切换 -->
            {% if results.data.specialLength>2%}
            <div class="search-screen">
                <span>更多筛选</span>
                <span class="screen-more"></span>
            </div>
            {% endif %}
        </div>  
        <!-- 无维度显示 其他搜索 -->
        {% if results.data.dimensionStatus===1 %}
        <div class="search-other-container">
            <div class="search-other-item">
                <em>你要找的是不是：</em>
                <span>新员工安全培训内容</span>
                <span>新员工安全培训内容</span>
                <span>新员工安全培训内容</span>
            </div>
        </div>
        {% endif %}
    </div>     
    <!--筛选列表  -->
    <div class="search-list-section">
        <div class="search-list-tab">
             <a href="" class="active">综合排序</a>
             <a href="">热门下载</a>
             <a href="">最新上传</a>
        </div>
        <div class="search-list-container">
            <ul>
                {% for item in results.list.rows %}
               <li>
                   <div class="search-img-box">
                        <img src="{{item.fileSmallPic}}" alt="">
                        <div class="mask-container">
                            <div class="bg-mask"></div>
                            <i class="ic-collect active"></i>
                            <div class="to-download">立即下载</div>
                        </div>
                   </div>
                  
                   <div class="search-list-info">
                      <a href="/f/1RibacEs90Yb.html" target="_blank">{{item.contentName}}</a>
                      <div class="search-info-state">
                          <div class="search-info-state-item">
                              <i class="ic-scan"></i>
                              <span>{{item.readNum}}</span>
                          </div> 
                          <div class="search-info-state-item">
                              <i class="ic-download"></i>
                              <span>{{item.downNum}}</span>
                          </div> 
                      </div>
                   </div>
               </li>
               {% endfor %}
            </ul>
            <!-- 分页 -->
            <div class="office-page-paging">
               <a class="btn-page-long" style="display: none;">首页</a>
               <a class="btn-page" style="display: none;">上一页</a>
               {%if results.pageIndexArr.length>1 %}
   
               {%for item in results.pageIndexArr%}
               <a class="page-ele {%if loop.index == 1%} active {%endif%}" value="{{loop.index}}"
                   style="display: inline-block">
                   {{loop.index}}
               </a>
               {%endfor%}
               <a class="page-more">...</a>
               <a class="btn-page-long">下一页</a>
               <a class="btn-page">尾页</a>
               {%endif%}
           </div>
        </div>
        <!-- 搜索空的页面 -->
        <div class="search-empty-container" style="display: none;">
            <div class="search-empty-item">
                <img src="../../images/special/search_empty.png" alt="" width="89" height="89">
                <p>暂时没有您想要的内容，试试刷新页面</p>
                <div class="btn-fresh">立即刷新</div>
            </div>
        </div>

    </div>
        
</div>