{% if results.specialTopic.length > 10 %}
    <div class="special-spot-search">
        <div class="title">
            <span class="title-desc">热点搜索</span>
        </div>
        <ul class="hot-list">
            {% for item in results.specialTopic.slice(10) %}
                <li class="hot-items {% if loop.index0 > 9 %} hide {% endif %}">
                    <a href="{{ item.newRouterUrl }}" target="_blank">{{ item.topicName }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
