{% if results.hotTopicSeo.length %}
    <div class="special-spot-search">
        <div class="title">
            <span class="title-desc">热点搜索</span>
        </div>
        <ul class="hot-list">
            {% for item in results.hotTopicSeo %}
                {# <li class="hot-items {% if loop.index0 > 9 %} hide {% endif %}">
                    <a href="{{ item.newRouterUrl }}" target="_blank">{{ item.topicName }}</a>
                </li> #}
                <li class="hot-items">
                    <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}