<!DOCTYPE html>
<html lang="en">
<head>
    {% include "common/head.html" %}
    <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/special/special_search.css" />
    <link rel="stylesheet" href="{{cdnUrl}}/stylesheets/special/ishare_special.css" />
</head>
<script type="text/javascript">
    var _speedMark = + new Date();
    var _version = "{{version}}";
    var _head = "{{cdnUrl}}";
</script>
<body>
 {% include "common/js.html" %}
   
    <!-- 顶部标签 -->
    {% include "special/topbar.html" %}
       <!-- 专题页头部 -->
    {% include "special/specialHead.html" %}

     <!-- 专题内容主体 -->
    {% include "special/content.html" %}

     {# 底部的广告位 #}
     {% include "special/bottomBar.html" %}
     <!-- 底部声明 -->
    {% include "special/footer.html" %}

    <!-- 右边固定提示导航 -->

    {% include "common/suspension.html" %}
    <script type="text/javascript">
        window.pageConfig = {}
        seajs.use(["dist/application/app.js", "dist/special/init.js"]);
    </script>
     </script>
     <!-- 百度统计代码 -->
     <script src="{{staticUrl}}/baidu-statistics.js"> </script>
</body>
</html>