<div class="account-security">
    <p class="account-security-title">账号与安全</p>
    <ul class="account-security-list">
        <li class="item">
           {{ if userBindInfo.mobile}}
                <span class="item-icon fl"></span>
                <span class="item-status fl">已绑定</span>
                <span class="item-bindaccount fl">{{userBindInfo.mobile}}</span>
                <span class="item-btn fr item-btn-active" data-btnOperation='modifyMobile'>修改手机号</span>
           {{else}}
                <span class="item-icon fl"></span>
                <span class="item-status fl">手机号</span>
                <span class="item-btn fr item-btn-active">立即绑定</span>

           {{/if}}
            
        </li>
        <li class="item">
          {{if userBindInfo.wechatThird}}
                 <span class="item-icon fl"></span>
                <span class="item-status fl">已绑定</span>
                <span class="item-bindaccount fl">{{userBindInfo.wechatName}}</span>
                <span class="item-btn fr">解除绑定</span>
          {{else}}
                <span class="item-icon fl"></span>
                <span class="item-status fl">微信</span>
                <span class="item-btn fr">立即绑定</span>

          {{/if}}
           
        </li>
        <li class="item">
          {{if userBindInfo.weiboThird}}
                     <span class="item-icon fl"></span>
                     <span class="item-status fl">已绑定</span>
                    <span class="item-bindaccount fl">{{userBindInfo.weiboName}}</span>
                    <span class="item-btn fr">解除绑定</span>

          {{else}}
                     <span class="item-icon fl"></span>
                     <span class="item-status fl">微博</span>
                    <span class="item-btn fr item-btn-active">立即绑定</span>

          {{/if}}
           
        </li>
         <li class="item">

           {{ if userBindInfo.qqThird}}
                    <span class="item-icon fl"></span>
                    <span class="item-status fl">QQ</span>
                    <span class="item-bindaccount fl">{{userBindInfo.qqName}}</span>
                    <span class="item-btn fr">解除绑定</span>

           {{else}}
                    <span class="item-icon fl"></span>
                    <span class="item-status fl">QQ</span>
                    <span class="item-btn fr">解除绑定</span>
           {{/if}}
            
        </li>
         <li class="item">
            {{ if userBindInfo.isSetPassword == 1}}
                    <span class="item-icon fl"></span>
                    <span class="item-status fl">账号密码</span>
                   <span class="item-btn fr item-btn-active">修改密码</span>
            {{else}}
                    <span class="item-icon fl"></span>
                    <span class="item-status fl">账号密码</span>
                   <span class="item-btn fr item-btn-active">设置密码</span>
            {{/if}}
        </li>
    </ul>
</div>