<div class="account-security">
    <p class="account-security-title">账号与安全</p>
    <ul class="account-security-list">
        <li class="item">
            <span class="item-icon fl"></span>
            <span class="item-status fl">已绑定</span>
            <span class="item-bindaccount fl">158***7565</span>
            <span class="item-btn fr">立即绑定</span>
        </li>
        <li class="item">
            <span class="item-icon fl"></span>
            <span class="item-status fl">已绑定</span>
            <span class="item-bindaccount fl">158***7565</span>
            <span class="item-btn fr">立即绑定</span>
        </li>
        <li class="item">
            <span class="item-icon fl"></span>
            <span class="item-status fl">已绑定</span>
            <span class="item-bindaccount fl">158***7565</span>
            <span class="item-btn fr">立即绑定</span>
        </li>
         <li class="item">
            <span class="item-icon fl"></span>
            <span class="item-status fl">已绑定</span>
            <span class="item-bindaccount fl">158***7565</span>
            <span class="item-btn fr">立即绑定</span>
        </li>
         <li class="item">
            <span class="item-icon fl"></span>
            <span class="item-status fl">已绑定</span>
            <span class="item-bindaccount fl">158***7565</span>
            <span class="item-btn fr item-btn-active">立即绑定</span>
        </li>
    </ul>
</div>