  <!--home页面最近看过 最近下载-->
 
       <p class="recently-see-title">最近看过</p>
        <ul class="recently-see-items">
             <li class="item">
                <a class="item-link"  target="_blank">
                <div class="item-link-left">
                  <img class="item-link-left-img"  src="{{cdnUrl}}/images/detail/pic_data_normal.jpg" alt=""/>
                 <span class="item-link-left-icon"><span>
                </div>
                <div class="item-link-right">
                    <p class="item-link-right-desc">
                                关于口腔健康的十大常识您大常识您康小学问
                            </p>
                    <p class="item-link-right-other">
                        <span class="other-read">25阅读</span>
                    </p>
                </div>
              </a> 
            </li>
               <li class="item">
                <a class="item-link"  target="_blank">
                <div class="item-link-left">
                  <img class="item-link-left-img"  src="{{cdnUrl}}/images/detail/pic_data_normal.jpg" alt=""/>
                 <span class="item-link-left-icon"><span>
                </div>
                <div class="item-link-right">
                    <p class="item-link-right-desc">
                                关于口腔健康的十大常识您大常识您康小学问
                            </p>
                    <p class="item-link-right-other">
                        <span class="other-read">25阅读</span>
                    </p>
                </div>
              </a> 
            </li>
               <li class="item">
                <a class="item-link"  target="_blank">
                <div class="item-link-left">
                  <img class="item-link-left-img"  src="{{cdnUrl}}/images/detail/pic_data_normal.jpg" alt=""/>
                 <span class="item-link-left-icon"><span>
                </div>
                <div class="item-link-right">
                    <p class="item-link-right-desc">
                                关于口腔健康的十大常识您大常识您康小学问
                            </p>
                    <p class="item-link-right-other">
                        <span class="other-read">25阅读</span>
                    </p>
                </div>
              </a> 
            </li>
       </ul>