  <!--home页面最近看过 最近下载-->
        {{ if flag == 'recentlySee' }}
             <p class="recently-see-title">最近看过</p>
        {{else}}
                 <p class="recently-see-title">最近下载</p>
        {{/if}}
     
        <ul class="recently-see-items">
         {{each data}}
             <li class="item">
                <a class="item-link"  target="_blank" href={{'/f/'+ data[$index].fileid+'.html'}}>
                <div class="item-link-left">
                  <img class="item-link-left-img"  src="{{cdnUrl}}/images/detail/pic_data_normal.jpg" alt=""/>
                 <span  class="item-link-left-icon ico-data {{'ico-'+ data[$index].format}}"  ><span>
                </div>
                <div class="item-link-right">
                    <p class="item-link-right-desc">
                                {{data[$index].name}}
                            </p>
                    <p class="item-link-right-other">
                        <span class="other-read">{{data[$index].totalPage}}页</span>
                    </p>
                </div>
              </a> 
            </li>
         {{/each}}   
       </ul>