<div class="mycollection-anddownLoad">
   <p class="title">
      {{ if type == 'mycollection' }}
         <span class="title-desc">我的收藏</span>
         <span class="file-num">{{totalSize}}篇</span>
      {{else if type =='mydownloads'}}
         <span class="title-desc">我的下载</span>
         <span class="file-num">{{totalSize}}篇</span>
      {{/if}}
   </p>
   <table class="table-list">
      <tr class="table-title">
         {{ if type == 'mycollection' }}
            <th  class="file-title">资料标题</th>
            <th  class="action-time" style="width:100px;">收藏时间</th>
         {{else if type =='mydownloads'}}
            <th  class="file-title">资料标题</th>
            <th  class="action-time" style="width:150px;">下载时间</th>
             <th  class="action-time"></th>
         {{/if}}
      </tr>

      <tr class="table-item">

         {{if list.length>0}}

            {{ each list}}
            <tr class="table-item">
               <td class="file-content">
                  <a  target="_blank" href={{'/f/'+ list[$index].fileId+'.html'}}>
                     <span class="file-type ico-data {{'ico-'+ list[$index].format}}"></span>
                     <p class="file-name">{{list[$index].title}}</p>
                  </a>
               </td>
               <td class="operation-time">
                  <span>{{list[$index].downloadTime}}</span>
               </td>
               {{if type == 'mydownloads'}}
                <td class="operation-btn">
                  {{ if list[$index].isAppraise == 1}}
                        <span class="evaluate-btn" data-isappraise ="{{list[$index].isappraise}}" data-format="{{list[$index].format}}" data-fid="{{list[$index].id}}" data-title="{{list[$index].title}}">查看评价</span>
                  {{else}}
                       <span class="evaluate-btn" data-format="{{list[$index].format}}" data-fid="{{list[$index].fid}}" data-title="{{list[$index].title}}">填写评价</span>
                  {{/if}}
                 
               </td>
               {{/if}}
            </tr>

         {{/each}}

      {{ else}}
         <div class="empty-data">
            <img class="empty-img" src="{{cdnUrl}}/images/personalCenter/mycollection-empty-data.png"/>
            <p class="empty-desc">空空如也~</p>
         </div>
      {{/if}}
   </table>

   <div class="pagination-wrapper"></div>
</div>