<div>
    <p class="mycoupon-title">我的优惠券</p>
    <ul class="mycoupon-tabs">
        <li class="tab tab-active">未使用</li>
        <li class="tab">已使用</li>
         <li class="tab">已过期</li>
    </ul>

    <ul class="mycoupon-list">
     <li class="item item-explain coupon-unuse">
            <p class="item-explain-title">使用说明</p>
            <p class="item-explain-desc">优惠券的使用仅限该账户使用, 最高50元 优惠。不可重复使用。 </p>
        </li>
        <li class="item coupon-unuse ">
            <p class="item-price">¥ <span>10</span></p>
            <p class="item-desc">适用部分付费资料; 满30元可用</p>
            <p class="item-time">2019.08.20-2020-09.20</p>
            <span class="item-icon"></span>
        </li>
          <li class="item coupon-expiringsoon">
            <p class="item-price">¥ <span>10</span></p>
            <p class="item-desc">适用部分付费资料; 满30元可用</p>
            <p class="item-time">2019.08.20-2020-09.20</p>
            <span class="item-icon"></span>
        </li>
          <li class="item coupon-used">
            <p class="item-price">¥ <span>10</span></p>
            <p class="item-desc">适用部分付费资料; 满30元可用</p>
            <p class="item-time">2019.08.20-2020-09.20</p>
            <span class="item-icon"></span>
        </li>
          <li class="item coupon-used coupon-expiring">
            <p class="item-price">¥ <span>10</span></p>
            <p class="item-desc">适用部分付费资料; 满30元可用</p>
            <p class="item-time">2019.08.20-2020-09.20</p>
            <span class="item-icon"></span>
        </li>
    </ul>


    <div class="empty-data">
          <img class="empty-img" src="{{cdnUrl}}/images/personalCenter/coupon-empty-data.png"/>
          <p class="empty-desc">你还没有优惠券哦~</p>
     </div>
</div>