<div class="mycollection-anddownLoad">
   <p class="title">
        <span class="title-desc">我的收藏</span>
        <span class="file-num">25609篇</span>
   </p>
   <table class="table-list">
  <tr class="table-title">
     {{ if type == 'mycollection' }}
    <th  class="file-title">资料标题</th>
    <th  class="action-time">收藏时间</th>
  {{else if type =='mydownloads'}}
      <th  class="file-title">资料标题</th>
      <th  class="action-time">下载时间</th>
  {{/if}}
  </tr>

  <tr class="table-item">
    <td class="file-content">
      <div>
          <span class="file-type"></span>
          <p class="file-name">关编版一年级语文下册第四单元《静夜思》新版...</p>
      </div>
    </td>
    <td class="operation-time">
       <span>2018-08-08</span> 
    </td>
  </tr>
    {{if list.length}}
    <tr class="table-item">
    <td class="file-content">
      <div>
          <span class="file-type"></span>
          <p class="file-name">关编版一年级语文下册第四单元《静夜思》新版...</p>
      </div>
    </td>
    <td class="operation-time">
       <span>2018-08-08</span> 
    </td>
  </tr>

    <tr class="table-item">
    <td class="file-content">
      <div>
          <span class="file-type"></span>
          <p class="file-name">关编版一年级语文下册第四单元《静夜思》新版...</p>
      </div>
    </td>
    <td class="operation-time">
       <span>2018-08-08</span> 
    </td>
  </tr>
    {{ else}}
     <div class="empty-data">
          <img class="empty-img"/>
          <p class="empty-desc">空空如也~</p>
     </div>
    {{/if}}
</table> 
</div>