<div class="myuploads">
     <p class="myuploads-title">
        <span class="title-desc">我的上传</span>
        <span class="file-num">25609篇</span>
    </p>
    <ul class="myuploads-tabs tabs" >
        <li class="tab tab-active" data-status="1">公开资料</li>
        <li class="tab" data-status="2">付费资料</li>
        <li class="tab" data-status="3">私有资料</li>
        <li class="tab" data-status="4">审核中</li>
        <li class="tab" data-status="5">未通过</li>
    </ul>
    <label class="table-title" for="all">
      <input class="table-title-input" value="all" type="checkbox"/>
      <span class="input-staus"></span>
      <img class="delete-icon" src="{{cdnUrl}}/images/personalCenter/delete-icon.png">
      <span class="delete-desc">删除</span>
      <span class="myuploads-nums">{{totalPages}}篇</span>
    </label>
    <table class="myuploads-table-list">
        <tr class="myuploads-table-head">
            <th>
                <label for="all">
                   <input  type="checkbox"  id="all" value="all"/>
                   <span></span>
                   <span>资料标题</span>
                </label>
            </th>
            <th style="width:100px;">价格</th>
            <th style="width:100px;">浏览量</th>
            <th style="width:100px;">下载量</th>
            <th style="width:100px;">上传时间</th>
        </tr>
          {{each list}}
                <tr class="table-item">
            <td>
                <label for={{list[$index].id}}>
                    <input id={{list[$index].id}} type="checkbox"/>
                    <span></span>
                    <span  class="file-icon ico-data {{'ico-'+ list[$index].format}}"></span>
                    <span class="file-title">{{list[$index].title}}</span>
                    <span class="delete-icon"></span>
                </label>
            </td>
            <td>{{list[$index].userFilePrice}}</td>
            <td>{{list[$index].readNum}}</td>
            <td>{{list[$index].downNum}}</td>
            <td>{{list[$index].createtime}}</td>
        </tr>
          {{/each}}
    </table>
    <div class="pagination-wrapper">
        
    </div>
</div>