<div class="myuploads">
     <p class="myuploads-title">
        <span class="title-desc">我的上传</span>
        <span class="file-num">25609篇</span>
    </p>
    <ul class="myuploads-tabs" >
        <li class="tab tab-active">公开资料</li>
        <li class="tab">付费资料</li>
        <li class="tab">私有资料</li>
        <li class="tab">审核中</li>
        <li class="tab">未通过</li>
    </ul>
    <label class="table-title" for="all">
      <input class="table-title-input" value="all" type="checkbox"/>
      <span class="input-staus"></span>
      <img class="delete-icon" src="{{cdnUrl}}/images/personalCenter/delete-icon.png">
      <span class="delete-desc">删除</span>
      <span class="myuploads-nums">256篇</span>
    </label>
    <table class="myuploads-table-list">
        <tr class="myuploads-table-head">
            <th>
                <label for="all">
                   <input  type="checkbox"  id="all" value="all"/>
                   <span></span>
                   <span>资料标题</span>
                </label>
            </th>
            <th style="width:100px;">价格</th>
            <th style="width:100px;">浏览量</th>
            <th style="width:100px;">下载量</th>
            <th style="width:100px;">上传时间</th>
        </tr>
        <tr class="table-item">
            <td>
                <labe>
                    <input type="checkbox"/>
                    <span></span>
                    <span class="file-icon"></span>
                    <span class="file-title">关编版一年级语文下册第四单元《静夜思》课件...</span>
                    <span class="delete-icon"></span>
                </label>
            </td>
            <td>20积分</td>
            <td>9.9w</td>
            <td>9.9w</td>
            <td>2020-02-16</td>
        </tr>

        <tr class="table-item table-item-active">
            <td>
                <label for="test">
                    <input type="checkbox" id="test" value="test"/>
                    <span></span>
                    <span class="file-icon"></span>
                    <span class="file-title">关编版一年级语文下册第四单元《静夜思》课件...</span>
                    <span class="delete-icon"></span>
                </label>
            </td>
            <td>20积分</td>
            <td>9.9w</td>
            <td>9.9w</td>
            <td>2020-02-16</td>
        </tr>
        <tr class="table-item">
            <td>
                <label>
                    <input type="checkbox"/>
                    <span></span>
                    <span class="file-icon"></span>
                    <span class="file-title">关编版一年级语文下册第四单元《静夜思》课件...</span>
                    <span class="delete-icon"></span>
                </label>
            </td>
            <td>20积分</td>
            <td>9.9w</td>
            <td>9.9w</td>
            <td>2020-02-16</td>
        </tr>
    </table>
    <div class="pagination"></div>
</div>