<!-- 领取优惠券 -->

<div class="coupon-dialog-wrap">
    <div class="coupon-dialog-main">
        <div class="coupon-dialog-body">
            <div class="coupon-dialog-content">
                {{each data.list as v i}}
                <div class="coupon-item $rewardType">
                    <div class="coupon-item-price">
                            {{ if v.voucherType == 1 }} 
                            <span style="font-size:17px;">&yen;</span> 
                            <span>{{v.content1/100}}</span>
                           {{ else if v.voucherType == 2}}
                              <span style="font-size:17px;"></span>
                              <span>{{v.discount}}折</span>
                           {{ else }}
                            <span >{{v.content1}}</span>
                           {{/if}}
                    </div>
                    <div class="coupon-item-text" title="{{v.content2}}">{{v.content2}}</div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="coupon-dialog-footer" bilogContent="getCoupons">
            <a class="btn-dialog coupon-dialog-btn"></a>
        </div>
    </div>
</div>