<!--轮播图 数据埋点需要在html上添加数据,避免影响其他页面,单独写一份-->
<div class="swiper-container {{ className }}">
    <div class="swiper-wrapper">
        {{ each topBanner as item }}
        <div class="swiper-slide" data-recommendid="{{ recommendID }}" data-recommendname="{{ recommendName }}" data-recommendrecordid="{{ item.recommendId }}" data-recommendcontenttitle="{{ item.title }}" data-recommendcontenttype="{{ item.type }}" data-recommendcontentid="{{ item.tprId }}" data-linkurl="{{ item.linkUrl }}">
            <a href="{{ item.linkUrl }}" target="_blank">
                <img class="swiper-slide-img" src="{{ item.imagUrl }}"></a>
            </div>
        {{/each}}
    </div>
    {{ if hasDeleteIcon }}
        <span class="icon close-swiper">
            <span>
            {{/if}}
        </div>
