 <ul class="vip-privilege-items">
                    <li class="item">
                <img class="item-img"/>
                <p class="item-desc">全品类下载</p>
                </li>
            <li class="item">
                <img class="item-img"/>
                <p class="item-desc">每日更新</p>
            </li>
            <li class="item">
                <img class="item-img"/>
                <p class="item-desc">专属客服</p>
            </li>
            <li class="item">
                <img class="item-img"/>
                <p class="item-desc">身份标识</p>
            </li>
             <li class="item">
                <img class="item-img"/>
                <p class="item-desc">无广告浏览</p>
            </li>
            <li class="item">
                <img class="item-img"/>
                <p class="item-desc">专属内容推荐</p>
            </li>
            <li class="item">
                <img class="item-img"/>
                <p class="item-desc">专属内容推荐</p>
            </li>
</ul>