<div class="my-vip-bottom">
          <ul class="myvip-tabs" >
           <li class="{{vipTableType == '0'?'tab tab-active':'tab'}}"><a href="/node/personalCenter/vip.html?vipTableType=0">我的下载特权</a></li>
           <li  class="{{vipTableType == '1'?'tab tab-active':'tab'}}"><a href="/node/personalCenter/vip.html?vipTableType=1">会员充值记录</a></li>
           <li  class="{{vipTableType == '2'?'tab tab-active':'tab'}}"><a href="/node/personalCenter/vip.html?vipTableType=2">管理自动续费</a></li>
        </ul>  



    
        {{if vipTableType == '0'}}
         <table class="privilege-table table">
                 <tr class="privilege-table-title table-head">
                         <th style="width:150px;">获取渠道</th>
                         <th style="width:100px;">状态</th>
                         <th style="width:100px;">未使用</th>
                        <th style="width:100px;">已使用</th>
                        <th style="width:200px;">有效期</th>
                        <th style="width:100px;">使用范围</th>
                 </tr>
                 {{each list}}
                     <tr>
                               <td>
                                {{if list[$index].voluChannel == '5'}}
                                    <span class="td-head-text">系统赠送</span>
                                {{/if }}
                                 {{if list[$index].voluChannel == '17'}}
                                    <span class="td-head-text">直接购买</span>
                                {{/if }}
                                 {{if list[$index].voluChannel == '18'}}
                                    <span class="td-head-text">购买VIP套餐赠送</span>
                                {{/if }}
                                </td>

                                <td>
                                {{if list[$index].status == '0'}}
                                        <span class="td-status-color">可使用</span>
                                {{/if}}

                                 {{if list[$index].status == '1'}}
                                        <span>已过期</span>
                                {{/if}}
                                 {{if list[$index].status == '3'}}
                                        <span>冻结中</span>
                                {{/if}}

                                {{if list[$index].status =='4'}}
                                        <span>已失效</span>
                                {{/if}}
                             {{if list[$index].status =='5'}}
                                        <span>未生效</span>
                                {{/if}}
                               
                               </td>
                          
                              <td class="td-text">{{list[$index].downVouNoUseNum}}</td>
                              <td class="td-text">{{list[$index].downVouUsedNum}}</td>
                              <td class="td-text">{{list[$index].effectiveStartDate}}至{{list[$index].effectiveEndDate}}</td> 


                               <td class="td-text">
                                {{if list[$index].site  == '0'}}
                                        <span><a href={{list[$index].officeUrl}} target="_blank">爱问办公</a></span>                                        
                                {{/if}}

                                {{if list[$index].site =='3'}}
                                        <span>爱问办公;爱问共享资料</span>
                                {{/if}}

                                {{if list[$index].site == '4'}}
                                        <span><a href='/' target="_blank">爱问共享资料</a></span>
                                {{/if}}
                                {{if list[$index].site == '5'}}
                                        <span><a href={{list[$index].ejunshi}} target="_blank">超级合同</a></span>
                                {{/if}}
                               </td> 
                     </tr> 
                 {{/each}}
          </table>
          {{/if}}




           {{if vipTableType == '1'}}
                <table class="vip-table table">
                       <tr class="vip-table-head table-head">
                           <th>会员名称</th>
                           <th style="width:100px;">状态</th>
                            <th style="width:200px;">有效期</th>
                            <th style="width:200px;">使用范围</th>
                            <th>权益</th>
                        </tr>
                      {{each list}}
                                   <tr>
                                     <td class="td-head-text">{{list[$index].vipName}}</td>
                                     <td>
                                         {{if list[$index].status == '1'}}
                                               <span>未生效</span>
                                         {{/if}}
                                         {{if list[$index].status == '2'}}
                                               <span class="td-status-color">可使用</span>
                                         {{/if}}
                                         {{if list[$index].status == '3'}}
                                               <span>已过期</span>
                                         {{/if}}
                                         {{if list[$index].status == '4'}}
                                               <span>已失效</span>
                                         {{/if}}
                                         {{if list[$index].status == '5'}}
                                               <span>冻结</span>
                                         {{/if}}
                                          {{if list[$index].status =='6'}}
                                        <span>已失效</span>
                                      {{/if}}
                                     </td>
                                     <td class="td-text">{{list[$index].beginDate}}至{{list[$index].endDate}}</td>
                                    <td class="td-text">
                                        {{if list[$index].site  == '0'}}
                                        <span>爱问办公</span>                                        
                                       {{/if}}
                                        {{if list[$index].site =='3'}}
                                        <span>爱问办公;爱问共享资料</span>
                                      {{/if}}
                                       {{if list[$index].site == '4'}}
                                        <span>爱问共享资料</span>
                                      {{/if}} 
                                      {{if list[$index].site == '5'}}
                                        <span>超级合同</span>
                                      {{/if}}
                                    </td>
                                    <td class="td-text">{{list[$index].memberContent}}</td>
                                   </tr>
                      {{/each}}
              </table>
         {{/if}}
         

         {{if vipTableType == '2'}}
               <table class="privilege-table table" style="position: relative;">
                      <tr class="privilege-table-title table-head">
                         <th style="width:150px;">
                                  <span>使用范围</span>
                                  <span style="display:block;text-indent: 18px;color: #fff;">（元）</span>
                         </th>
                         <th style="width:100px;">
                                <span>续费套餐</span>
                                  <span style="display:block;text-indent: 18px;color: #fff;">（元）</span>
                         </th>
                         <th style="width:100px;">
                               <span>续费金额</span>  
                               <span style="display:block;">（元）</span>  
                         </th>
                        <th style="width:100px;">
                                <span>扣款日期</span>
                               
                        </th>
                        <th style="width:100px;">
                            <span>支付方式</span>
                             <span style="display:block;text-indent: 18px;color: #fff;">（元）</span>
                        </th>
                        <th style="width:100px;">
                                <span>管理</span>
                                 <span style="display:block;text-indent: 18px;color: #fff;">（元）</span>
                        </th>
                 </tr> 
                 {{ if list.length>0}}
                        {{each list}}
                       <tr>
                             <td class="td-text">
                                {{if list[$index].site  == '0'}}
                                        <span>爱问办公</span>                                        
                                {{/if}}

                                {{if list[$index].site =='3'}}
                                        <span>爱问办公;爱问共享资料</span>
                                {{/if}}

                                {{if list[$index].site == '4'}}
                                        <span>爱问共享资料</span>
                                {{/if}}
                               </td> 

                               <td>{{list[$index].goodName}}</td>
                               <td>{{list[$index].price}}</td>
                               <td>{{list[$index].nextPayTime}}</td>
                               <td>
                                     {{ if list[$index].payType == 'alipay'}}
                                         <span>支付宝</span>
                                     {{/if}}
                                     {{ if list[$index].payType == 'wechat'}}
                                         <span>微信</span>
                                     {{/if}}
                               </td>
                               <td>
                                     <span data-id={{list[$index].id}} class="renew-btn" style=" color: #333333;cursor: pointer;">取消自动续费</span>
                               </td>
                       </tr> 
                      {{/each}}
                 {{else}}
                        <tr class="empty-data" style=" top: 88px;margin-left: -120px;">
                             <td>
                                <img class="empty-img" src="{{cdnUrl}}/images/personalCenter/mycollection-empty-data.png"/>
                                <p class="empty-desc">您当前未开通自动续费服务～</p>
                             </td>
                         </tr>
                 {{/if}}
               
               </table>
         {{/if}}
 
</div>